@use "../../functions";

$gap: functions.px(10) !default;
$background-color: #FFBC1F !default;
$stroke__icon: #E89806 !default;
$font-size-small: functions.px(14) !default;
$radius: functions.px(8) !default;
$border: #E89806 !default;
$shadow-big: 0 functions.px(4) functions.px(20) rgba(37, 40, 43, 0.15) !default;

.announcement {
  background-color: $background-color;
  border: functions.px(1) solid $border;
  border-radius: $radius;
  box-shadow: $shadow-big;
  display: flex;
  flex-flow: column nowrap;
  padding: $gap * 1.5;

  &__text {
    font-size: $font-size-small;
    font-weight: 500;
  }

  &__icon {
    margin-right: $gap * -1.5;
    margin-top: $gap * 0.5;
    stroke: $stroke__icon;
  }

  &__links {
    font-size: $font-size-small;
    margin-left: $gap * 3;
  }
}
