@use "sass:math";

@use "../../functions";
@use "../../images" as *;

$gap: functions.px(10) !default;
$background-color: #FFFFFF !default;
$background-color__bordered-box: #FFFFFF !default;
$border-color__section: #69B3E7 !default;
$border-color__bordered-box: #69B3E7 !default;
$border-color__capabilities-img: #69B3E7 !default;

$font-size-main-title: functions.px(44) !default;
$font-size-subtitle-big: functions.px(28) !default;
$font-size-section-title: functions.px(20) !default;
$font-size-big: functions.px(18) !default;
$font-size-title: functions.px(36) !default;

$color__item: #25282B !default;
$color__item_active: #014898 !default;
$background__item: #0E65B7 !default;

.internships {
  background-color: $background-color;
  padding-top: $gap * 2;

  &__section {

    &_main {
      @media (min-width: functions.px(992)) {
        margin-top: -$gap * 7;
      }
    }

    &_targets {
      background: left top no-repeat url("internships/bg-1.svg"),
        right functions.px(150) no-repeat url("internships/bg-2.svg"),
        left 50% no-repeat url("internships/bg-3.svg"),
        left functions.px(20) bottom functions.px(-60) no-repeat url("internships/bg-7.svg");
      border-bottom: functions.px(3) solid $border-color__section;
      border-image: repeating-linear-gradient(
        90deg,
        transparent,
        transparent functions.px(7),
        $border-color__section functions.px(7),
        $border-color__section functions.px(14)
      )
        5;
      padding-top: 13.5 * $gap;

      @if (not $images) {
        background-image: none;
      }
    }

    &_role {
      background: right functions.px(50) top functions.px(120) no-repeat url("internships/bg-4.svg"),
        left top functions.px(500) no-repeat url("internships/bg-5.svg");
      padding-top: 10 * $gap;
    }

    &_targets {
      padding-bottom: 10 * $gap;
    }

    &_bottom {
      padding: 0 0 functions.px(230) 0;
      position: relative;
    }

    &_capabilities {
      background: right top no-repeat url("internships/bg-7.svg");
      border-bottom: functions.px(3) solid $border-color__section;
      border-image: repeating-linear-gradient(
        90deg,
        transparent,
        transparent functions.px(7),
        $border-color__section functions.px(7),
        $border-color__section functions.px(14)
      )
        5;
      padding-bottom: 32 * $gap;
      padding-top: 10 * $gap;
    }
  }

  &__logo {
    display: block;
    height: 6.5 * $gap;
    margin-bottom: 6 * $gap;
    width: 17 * $gap;
  }

  &__main-title {
    font-size: $font-size-main-title;
    font-weight: 700;
    line-height: 1.136;
    margin-bottom: 4 * $gap;
  }

  &__main-text {
    font-size: $font-size-big;
    line-height: 1.667;
    max-width: 100%;

    @media (min-width: functions.px(992)) {
      max-width: 57 * $gap;
    }
  }

  &__img-target {
    height: 17.6 * $gap;
    margin-bottom: 5 * $gap;
    text-align: center;
    width: auto;
  }

  &__tasks {
    list-style: none;
    padding: 0;
  }

  &__tasks-item {
    margin-bottom: 4 * $gap;
  }

  &__tasks-img {
    display: block;
    height: 5.7 * $gap;
    margin-bottom: 1.5 * $gap;

    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  &__tasks-text {
    font-size: $font-size-big;
  }

  &__target &__target-img {
    bottom: functions.px(-10);
    max-width: 100%;
    position: relative;
  }

  &__bordered-box {
    align-items: center;
    background-color: $background-color__bordered-box;
    border: functions.px(3) dashed $border-color__bordered-box;
    box-sizing: border-box;
    display: flex;
    font-size: $font-size-section-title;
    justify-content: center;
    line-height: 1.6;
    margin: 0 auto;
    margin-bottom: 18 * $gap;
    max-width: 77.7 * $gap;
    min-height: 17 * $gap;
    padding: 5 * $gap 9.5 * $gap;
    position: relative;
    text-align: center;

    &:after {
      background-image: url("internships/dashed-line-1.svg");
      background-position: 0 0;
      background-repeat: no-repeat;

      background-size: contain;
      content: "";
      height: 24.5 * $gap;
      left: 47%;
      position: absolute;
      top: 100%;
      width: 32.4 * $gap;

      @if (not $images) {
        display: none;
      }
    }

    &_footer {
      border-radius: functions.px(8);
      left: 50%;
      margin-bottom: 0;
      padding: functions.px(30) functions.px(40) functions.px(40);
      position: absolute;
      transform: translate(-50%, -52%);
      width: 98%;

      &:after {
        content: none;
      }
    }
  }

  &__role-list {
    padding: 0;
  }

  &__role-list-item {
    display: flex;
    margin-bottom: $gap * 14;
  }

  &__role-list-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  &__role-list-item:nth-child(even) &__role-list-img {

    &:after {
      left: 47%;
      right: auto;
      transform: rotateY(180deg);
    }
  }

  &__role-list-item:last-child {
    margin-bottom: 0;
  }

  &__role-list-item:last-child &__role-list-img {

    &:after {
      content: none;
    }
  }

  &__role-list-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    padding-right: functions.px(20);
    width: 100%;
  }

  &__role-list-img {
    flex: 0 0 auto;
    margin-right: $gap * 8.5;
    max-width: $gap * 47;
    position: relative;

    &:after {
      background-image: url("internships/dashed-line-2.svg");
      background-position: 0 0;
      background-repeat: no-repeat;

      background-size: contain;
      content: "";
      height: $gap * 21.6;
      position: absolute;
      right: 42%;
      top: 92%;
      width: $gap * 58.8;

      @if (not $images) {
        display: none;
      }
    }
  }

  &__role-list-picture {
    width: 100%;
  }

  &__role-list-order {
    margin-bottom: $gap * 3.5;
  }

  &__role-list-title {
    font-size: $font-size-subtitle-big;
    font-weight: 600;
    line-height: 1.357;
    margin-bottom: $gap * 2.5;
  }

  &__role-list-text {
    font-size: $font-size-section-title;
    font-weight: 400;
    line-height: 1.6;
  }

  &__capabilities {
    position: relative;
  }

  &__capabilities &__title {
    max-width: functions.px(970);
  }

  &__capabilities-laptop {
    height: $gap * 51;
    left: $gap * 11;
    position: absolute;
    top: 0;
  }

  &__capabilities-laptop-img {
    height: 100%;
  }

  &__capabilities-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__capabilities-item {
    display: flex;
  }

  &__capabilities-item:last-child &__capabilities-img {
    margin-bottom: 0;

    &:after {
      content: none;
    }
  }

  &__capabilities-img {
    flex: 0 0 auto;
    height: $gap * 7.2;
    margin-bottom: $gap * 7;
    margin-right: $gap * 2.6;
    position: relative;
    width: $gap * 8.4;

    &:after {
      border-image: repeating-linear-gradient(
        0deg,
        transparent,
        transparent functions.px(5),
        $border-color__capabilities-img functions.px(5),
        $border-color__capabilities-img functions.px(10)
      )
        5;
      border-left: functions.px(2) solid #1E88DB;
      content: "";
      display: block;
      height: $gap * 7;
      left: 50%;
      position: absolute;
      top: 100%;
    }
  }

  &__capabilities-text {
    flex: 1 1 auto;
    font-size: $font-size-big;
    line-height: 1.667;
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    @media (min-width: functions.px(776)) {
      max-width: max-content;
    }

    &__item {
      color: $color__item;
      font-size: $font-size-section-title;
      font-weight: 600;
      height: auto;
      margin: 0 $gap * 4.5;
      padding: math.div($gap, 2) $gap * 1.5 $gap * 2;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.tabs_active {
        color: $color__item_active;

        @media (min-width: functions.px(767)) {

          &.tabs__item {
            background: no-repeat
              linear-gradient(to top, $background__item functions.px(3), transparent functions.px(3));
          }
        }
      }
    }

    &__content {
      margin-top: $gap * 7;

      .content__title {
        margin-bottom: $gap * 6.5;
      }
    }
  }

  @media (max-width: functions.px(991)) {

    &__bordered-box {
      margin-bottom: $gap * 5;

      &:after {
        content: none;
      }
    }

    &__role-list-item {
      flex-direction: column;
      margin-bottom: $gap * 4;

      &:nth-child(even) {
        flex-direction: column;
      }
    }

    &__role-list-img {
      margin: 0 auto;

      &::after {
        display: none;
      }
    }

    &__role-list-content {
      margin-bottom: 2 * $gap;
      padding-right: 0;
    }

    .tabs {
      flex-direction: column;
      margin-bottom: $gap * 2;

      &__item {
        font-size: $font-size-big;
        padding: 0;
      }
    }
  }

  &__main-picture {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }

  @media (max-width: functions.px(1239)) {

    &__role-list-img {

      &:after {
        top: 100%;
        width: $gap * 40;
      }
    }

    &__bordered-box {

      &:after {
        width: $gap * 25;
      }
    }

    &__capabilities-laptop {
      display: none;
    }
  }

  &__title {
    font-size: $font-size-title;
    font-weight: 600;
    line-height: 1.223;
    margin-bottom: $gap * 6.5;
  }
}
