@use "sass:list";
@use "sass:math";

@use "functions" as *;

$background__grid: #E8E8E8 !default;
$background__issue_success: #D5F8E3 !default;
$background__issue: #EDF5FC !default;

$border-left__issue: #69B3E7 !default;
$border-color__issue_success: #1AB759 !default;

$color__issue_success: #1AB759 !default;
$color__issue-status: #69B3E7 !default;

$background__daytitle_current: #0E65B7 !default;
$color__daytitle_current: #FFFFFF !default;

$font-size-smaller: px(12) !default;
$font-size-small: px(14) !default;
$gap: px(10) !default;
$radius: px(8) !default;

$hour-radius: px(60);
$v-shift: px(21);
$top__issues: px(46);
$h-shift: px(5);
$line-height__hour: px(12);
$week-offset: $gap * 1.5;

.schedule {
  padding-top: $gap;
  position: relative;

  &__grid {
    background: linear-gradient(to right, $background__grid px(1), transparent px(1)) #{$hour-radius + $h-shift} 0,
      repeat-y linear-gradient(to bottom, $background__grid px(1), transparent px(1)) $hour-radius
      list.slash($v-shift, 100%) $hour-radius;
    counter-increment: point -1;
  }

  &_week {
    padding-top: $gap + $week-offset;
  }

  &_week &__issues {
    background: repeating-linear-gradient(to right, $background__grid 0 1px, transparent 1px 14.28%);
  }

  &_week &__issue {
    margin-left: 0;
    padding: 0 $gap * 0.75;
    width: 14.28%;
  }

  &:not(&_week) &__issue {
    left: 0 !important; // To override inline style (js)
  }

  &__grid-title {
    display: none;
  }

  &_week &__grid-title {
    display: flex;
    height: px(30);
    margin-bottom: px(-30);
    margin-left: $hour-radius + $h-shift;
    transform: translateY(-$week-offset);
  }

  &_week &__issue-time {
    flex: 0 1 auto;
    margin-right: $gap;
    overflow: inherit;
  }

  &_week &__issue-end {
    display: none;
  }

  &__daytitle {
    flex: 0 0 14.28%;
    font-size: $font-size-small;
    line-height: px(30);
    text-align: center;

    &::before {
      align-items: center;
      content: attr(data-date);
      display: inline-flex;
      font-weight: 600;
      justify-content: center;
      margin-right: math.div($gap, 2);
    }
  }

  &__daytitle_current::before {
    background: $background__daytitle_current;
    border-radius: $radius;
    color: $color__daytitle_current;
    height: px(30);
    width: px(30);
  }

  &__hour {
    margin-left: $hour-radius;

    &::before,
    &::after {
      box-sizing: border-box;
      content: counter(point, decimal-leading-zero) ":00";
      counter-increment: point;
      display: block;
      font-size: $font-size-smaller;
      height: $hour-radius;
      line-height: $line-height__hour;
      margin-left: -$hour-radius;
      padding-top: $v-shift - math.div($line-height__hour, 2);
      text-align: center;
      width: $hour-radius;
    }

    &:nth-child(2)::before {
      content: "GMT+03";
    }

    &[data-z]:nth-child(2)::before {
      content: attr(data-z);
    }

    &:last-child::before {
      content: "00:00";
    }

    &:last-child::after {
      display: none;
    }
  }

  &__issues {
    bottom: $hour-radius - $v-shift;
    left: $hour-radius + $h-shift;
    position: absolute;
    right: 0;
    top: $top__issues;
  }

  &__issue {
    align-items: center;
    background: $background__issue;
    border-left: #{$radius * 0.5} solid $border-left__issue;
    border-radius: $radius 0 0 $radius;
    box-sizing: border-box;
    display: flex;
    font-size: $font-size-smaller;
    justify-content: space-between;
    margin-left: $gap;
    min-height: px(15);
    padding: 0 $gap * 1.5;
    position: absolute;
    width: calc(100% - #{$gap});
  }

  &__issue_success {
    background: $background__issue_success;
    border-color: $border-color__issue_success;
  }

  &__issue-title {
    flex: 0 1 auto;
    font-weight: 500;
    margin-right: $gap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__issue-time {
    flex: 0 1 auto;
    font-weight: 500;
    margin-right: $gap * 1.5;
    overflow: hidden;
    white-space: nowrap;
  }

  &__issue-status {
    color: $color__issue-status;
    flex: 0 100 auto;
    font-size: $font-size-small;
    font-weight: 600;
    margin-left: auto;
    margin-right: $gap * 2;
    overflow: hidden;
    white-space: nowrap;
  }

  &__issue_success &__issue-status {
    color: $color__issue_success;
  }

  &__issue-action {
    flex: 0 100 auto;
    overflow: hidden;
  }

  &__tooltip-button &__tooltip-button-icon {
    height: $gap * 1.6;
    min-width: $gap * 1.6;
    width: $gap * 1.6;
  }

  &__link {
    align-items: center;
    color: initial;
    display: flex;
    flex-shrink: 100;
    font-size: inherit;
    height: 100%;
    text-decoration: none;
    width: 100%;
  }
}
