@use "sass:math";

@use "functions" as *;

$gap: px(10) !default;
$font-size: px(14);
$icon-size: px(33);

.login-gosuslugi {
  height: auto;
  line-height: 1.5;
  padding: $gap math.div($gap, 2);
  width: 100%;

  &__image {
    display: inline-block;
    margin-right: $gap * 2;
    vertical-align: valign-middle($font-size, $icon-size);
  }

  &__mobile-hidden {
    display: none;

    @media (min-width: px(576)) {
      display: inline;
    }
  }
}
