@use "../../functions";

$gap: functions.px(10) !default;

$color__label: #0E65B7 !default;
$color__label-hover: #1E88DB !default;
$color__control-required: rgb(255, 68, 82) !default;
$color__description: #52575C !default;
$color__error: #E93C3C !default;

$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;
$font-size-small: functions.px(14) !default;
$font-size-smaller: functions.px(12) !default;
$font-weight: 600;

@mixin icon($color) {
  background-image: functions.inlineSVG(
    '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17.867 9.208l-7.659 7.658a5.003 5.003 0 01-7.075-7.075l7.659-7.658a3.335 3.335 0 014.716 4.717l-7.666 7.658a1.668 1.668 0 01-2.359-2.358l7.075-7.067" stroke="' +
    $color + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
  );
}

.upload {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  pointer-events: none;
  position: relative;

  &__control {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
  }

  &__control[required] ~ &__title::after {
    color: $color__control-required;
    // &nbsp; unicode char \00A0
    content: "\00A0*";
  }

  &__info {
    margin-top: $gap * 2.5;
    order: 3;
  }

  &__title {
    /* Fix Ie */
    display: block;

    font-weight: $font-weight;
    order: 1;
    pointer-events: auto;
  }

  &__icon {
    margin-right: $gap * 0.8;
  }

  &__label {
    box-sizing: border-box;
    color: $color__label;
    cursor: pointer;
    display: flex;
    font-size: $font-size-small;
    font-weight: $font-weight;
    margin-top: $gap * 2.5;
    order: 4;
    pointer-events: auto;
    position: relative;
    user-select: none;

    &:hover {
      color: $color__label-hover;
    }
  }

  input:not(:disabled):focus + &__label {
    box-shadow: $box-shadow-focus;
    outline: none;
  }

  input:not(:disabled):focus:not(:focus-visible) + &__label {
    box-shadow: none;
  }

  input:not(:disabled):focus-visible + &__label {
    box-shadow: $box-shadow-focus;
  }

  &_error &__error {
    display: block;
  }

  &__error {
    animation: upload-error-show 0.2s linear, upload-error-move 0.2s ease-out;
    color: $color__error;
    display: block;
    font-size: $font-size-small;
    line-height: 1.333;
    margin-top: $gap * 0.6;
    order: 5;
  }

  @keyframes upload-error-show {

    from {
      opacity: 0;
    }
  }

  @keyframes upload-error-move {

    from {
      transform: translateY(-$gap * 0.6);
    }
  }

  &__description {
    color: $color__description;
    font-size: $font-size-smaller;
    line-height: 1.333;
    margin-top: $gap;
    order: 2;
    pointer-events: all;
  }
}
