@use "sass:math";

@use "../../functions";

$gap: functions.px(12) !default;
$border-width: functions.px(1);
$radius: functions.px(8) !default;
$border__input-decor: #CACCCF !default;
$font-size-smaller: functions.px(12) !default;
$line-height__title: 1.33;
$color__title: #52575C !default;
$color__control: #25282B !default;
$font-size-small: functions.px(14) !default;
$height__control: functions.px(20);
$line-height__control: 1.43;
$background__line: #CACCCF !default;
$background__bar: #0E65B7 !default;
$width__handle: functions.px(12);
$height__handle: functions.px(12);
$background__handle: #0E65B7 !default;

.range-slider {
  display: flex;
  flex-flow: row wrap;

  &__value {
    box-sizing: border-box;
    flex: 1 1 auto;
    width: 50%;

    &:first-child {
      padding-right: $gap * 1.5;
    }

    &:last-child {
      padding-left: $gap * 1.5;
    }
  }

  &__input-decor {
    border: $border-width solid $border__input-decor;
    border-radius: $radius;
    box-sizing: border-box;
    display: block;
    padding: math.div($gap, 4);
  }

  &__title {
    color: $color__title;
    display: block;
    font-size: $font-size-smaller;
    line-height: $line-height__title;
    text-align: center;
  }

  &__control {
    border: none;
    color: $color__control;
    font-size: $font-size-small;
    height: $height__control;
    line-height: $line-height__control;
    padding: 0;
    text-align: center;
    width: 100%;

    &::placeholder {
      opacity: 1;
      overflow: hidden;
      -webkit-text-fill-color: currentColor;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__wrapper {
    flex: 1 1 100%;
    overflow: hidden;
    padding: $gap * 2 0;
  }

  /* script styles */

  &__container {
    display: block;
    position: relative;
    user-select: none;
  }

  &__line {
    display: block;
    outline: none !important;
    overflow: hidden;
    position: relative;
  }

  &__bar {
    display: block;
    left: 0;
    position: absolute;
    width: 0;
  }

  &__handle {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 1;
  }

  &__input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  /* redesign-theme */

  &_redesign {
    height: functions.px(12);
  }

  &_redesign &__line {
    background: $background__line;
    height: functions.px(2);
    top: functions.px(5);
  }

  &_redesign &__bar {
    background: $background__bar;
    height: functions.px(2);
    top: functions.px(5);
  }

  &_redesign &__handle {
    background: $background__handle;
    border-radius: 100%;
    height: $height__handle;
    top: 0;
    width: $width__handle;
  }
}
