@use "sass:math";
@use "../../functions";

$gap: functions.px(10) !default;
$radius: functions.px(8) !default;

$color__control: #25282B !default;
$color__control-require: #E93C3C !default;
$color_error: #E93C3C !default;
$border-color__error: #E93C3C !default;
$color__append: #25282B !default;
$color__control-placeholder: #A0A4A8 !default;

$border__control: #A0A4A8 !default;
$border__append: #A0A4A8 !default;
$border__control-focus: #0E65B7 !default;

$background__control: #FFFFFF !default;
$background__control-disabled: #F9F9FA !default;
$background__append: #F9F9FA !default;

$font-size-small: functions.px(14) !default;
$font-size-smaller: functions.px(12) !default;

$min-height__control: functions.px(34);
$min-width__append: functions.px(34);
$border-width: functions.px(1);

@use "sass:color";

.textarea {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto;
  position: relative;

  &__title {
    display: block;

    font-weight: 600;
    grid-column: 1 / 4;
    grid-row: 1;
    margin-bottom: $gap;
  }

  &__control {
    appearance: initial;
    background-color: $background__control;
    background-image: none;
    border: $border-width solid $border__control;
    border-radius: $radius;
    box-sizing: border-box;
    color: $color__control;
    cursor: text;
    font-family: inherit;
    font-size: $font-size-small;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    grid-column: 2 / 3;

    grid-row: 2;
    line-height: 1.286;
    margin: 0;
    max-width: 100%;
    min-height: $min-height__control;
    min-width: 100%;
    padding: math.div($gap, 2) $gap;
    resize: vertical;
    text-decoration: none;
    -webkit-text-fill-color: currentColor;
    text-rendering: optimizelegibility;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    vertical-align: middle;

    &::placeholder {
      color: $color__control-placeholder;
      -webkit-text-fill-color: currentColor;
      white-space: pre-wrap;
    }

    &:hover:not(:disabled),
    &:focus,
    &:focus-visible {
      border-color: color.adjust($border__control-focus, $hue: -3deg, $saturation: -10%, $lightness: 10%);
    }

    &:focus {
      caret-color: color.adjust($border__control-focus, $hue: -3deg, $saturation: -10%, $lightness: 10%);
      outline: none;
    }

    &:disabled {
      background: $background__control-disabled;
      cursor: default;
    }
  }

  &__control[required] ~ &__title::after {
    color: $color__control-require;
    // &nbsp; unicode char \00A0
    content: "\00A0*";
  }

  &__prepend,
  &__append {
    align-items: center;
    background: $background__append;
    border: $border-width solid $border__append;
    box-sizing: border-box;
    color: $color__append;
    cursor: default;

    display: flex;
    grid-row: 2;
    justify-content: center;
    line-height: 100%;
    min-width: $min-width__append;
    overflow: hidden;
    padding: math.div($gap, 2);
    user-select: none;
  }

  &__prepend {
    border-radius: $radius 0 0 $radius;

    border-right: none;
    grid-column: 1 / 2;
  }

  &__append {
    border-left: none;
    border-radius: 0 $radius $radius 0;
    grid-column: 3 / 4;
  }

  &__prepend ~ &__control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &__append ~ &__control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &_error &__control {
    border-color: $border-color__error;
  }

  &__error {
    animation: textarea-error-show 0.2s linear, textarea-error-move 0.2s ease-out;
    color: $color_error;
    font-size: $font-size-smaller;
    grid-column: 2 / 3;
    grid-row: 3;
    line-height: 1.333;
    margin-top: $gap * 0.6;
  }
}

@keyframes textarea-error-show {

  from {
    opacity: 0;
  }
}

@keyframes textarea-error-move {

  from {
    transform: translateY(-$gap * 0.6);
  }
}
