$a-color: rgb(255, 66, 82) !default;
$bl-color: rgb(233, 235, 244) !default;
$f-color: rgb(255, 255, 255) !default;

.skillsnet-connect {
  position: relative;
  padding: 6px 0;
  font-size: 15px;
  text-align: center;
  background-color: $bl-color;

  &__text {
    vertical-align: middle;

    @media (max-width: 520px) {
      display: none;
    }
  }

  &__logo {
    display: inline-block;
    margin: 0 10px;
    width: 112px;
    height: 30px;
    vertical-align: middle;
    background: url("skillsnet-connect/skillsnet-logo.svg") no-repeat left top;
  }

  &__link {
    border-radius: 15px;
    border: none;
    padding: 3px 17px 5px;
    background: $f-color;
    border-bottom: 1px solid #cbcbcb;
    color: #1e3685;
    font-size: 15px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    text-decoration: none;

    &:hover {
      color: $a-color;
    }

  }

}
