<!DOCTYPE html>
<html
    lang="ru"
    th:with="
  _cookie=${@view.getCookie('lowVisHTML')?.value},
  theme=${_cookie == null || _cookie == 'false' ? 'common' : _cookie == 'true' ? 'blind-black-small-image' : _cookie}
  "
>
    <head th:attr="data-path=${@ResourceProcessor.wrap('/assets/redesign-theme/uikit/')}">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <th:block th:replace="fragments/head :: seo(${view})"></th:block>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
        <link rel="manifest" href="/manifest.json" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e64920" />
        <meta name="apple-mobile-web-app-title" content="Работа России" />
        <meta name="application-name" content="Работа России" />
        <!-- Libraries -->
        <script th:src="${@ResourceProcessor.wrap('/assets/redesign-theme/scripts/jquery.js')}"></script>
        <script th:src="${@ResourceProcessor.wrap('/assets/redesign-theme/scripts/utils.js')}"></script>
        <script th:src="${@ResourceProcessor.wrap('/assets/redesign-theme/scripts/dayjs.js')}"></script>
        <script th:src="${@ResourceProcessor.wrap('/assets/redesign-theme/scripts/underscore.js')}"></script>
        <!-- UI kit -->
        <script th:src="${@ResourceProcessor.wrap('/assets/redesign-theme/scripts/uikit.js')}"></script>
        <script
            th:src="${@ResourceProcessor.wrap('/assets/redesign-theme/scripts/fallbacks.js')}"
            nomodule="true"
        ></script>
        <script th:src="${@ResourceProcessor.wrap('/assets/redesign-theme/scripts/common.js')}"></script>
        <!-- UI kit styles -->
        <link
            class="theme-link"
            th:href="${@ResourceProcessor.wrap('/assets/redesign-theme/uikit/' + theme + '.css')}"
            rel="stylesheet"
        />
        <!-- Auth data -->
        <script th:if="${@auth.isAuthorized()}">
            var isAuthorized = true;
            var userRoles = [(${ @parser.toString(@auth.getCurrentRoles()) })];
            var currentUser = [(${ @parser.toString(@auth.user()) })];
            var currentUserFull = [(${ @parser.toString(@view.user) })];
        </script>
        <script th:unless="${@auth.isAuthorized()}">
            var isAuthorized = false;
            var userRoles = null;
            var currentUser = null;
            var currentUserFull = null;
        </script>
    </head>
    <body class="body">
        <div class="mega-menu">
            <div class="mega-menu__wrapper">
                <div class="mega-menu__container order-2 order-lg-0">
                    <nav class="mega-menu__nav">
                        <ul class="mega-menu__menu">
                            <li>
                                <a class="mega-menu__link" href="/fsin/convicts">Список карточек</a>
                            </li>
                            <li>
                                <a class="mega-menu__link" href="/fsin/cv">Резюме</a>
                            </li>
                            <li>
                                <a
                                    class="mega-menu__link mega-menu__link_fsin-active"
                                    href="/fsin/convicts/requisitions"
                                    >Заявки работодателей</a
                                >
                            </li>
                            <li>
                                <a class="mega-menu__link" href="/fsin/vacancies">Поиск вакансии</a>
                            </li>
                            <li>
                                <a class="mega-menu__link" href="/fsin/responses">Отклики</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="blind-panel-switcher">
                    <button
                        class="button button_plain blind-panel-switcher__button"
                        aria-label="Переключить версию для слабовидящих"
                        type="button"
                    ></button>
                    <div class="blind-panel-switcher__tooltip">
                        <span class="blind-panel-switcher__blind-mode-label">Версия для слабовидящих</span>
                        <span class="blind-panel-switcher__normal-mode-label">Обычная версия</span>
                        <div class="blind-panel-switcher__tooltip-arrow"></div>
                    </div>
                </div>
                [( ${@iblock.show([[${view.getSiteCode()}]], "region_change")} )]
                <div class="mega-menu__user-interface">
                    <div class="mega-menu__user-interface">
                        <div class="mega-menu__user-buttons show">
                            <ul class="mega-menu__user-menu mega-menu__user-menu_favourite">
                                <li class="mega-menu__user-item">
                                    <a class="mega-menu__user-link" href="/auth/manager/favorites-cv">
                                        <svg class="icon">
                                            <use href="/assets/redesign-theme/uikit/icon/icons.svg#heart"></use>
                                        </svg>
                                        <span>Избранное</span>
                                    </a>
                                </li>
                            </ul>
                            <button
                                class="mega-menu__user-button mega-menu__user-button_user"
                                type="button"
                                id="megaMenuDropdownUser"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="true"
                            >
                                <svg class="icon">
                                    <use href="/assets/redesign-theme/uikit/icon/icons.svg#user"></use>
                                </svg>
                            </button>
                            <ul
                                class="dropdown-menu dropdown-menu-right mega-menu__dropdown-menu show"
                                aria-labelledby="megaMenuDropdownUser"
                                x-placement="bottom-end"
                                style="
                                    position: absolute;
                                    transform: translate3d(1102px, 39px, 0px);
                                    top: 0px;
                                    left: 0px;
                                    will-change: transform;
                                "
                            >
                                <li class="mega-menu__dropdown-item">
                                    <a class="mega-menu__dropdown-link" href="/fsin/convicts/archive">Архив</a>
                                </li>
                                <li class="mega-menu__dropdown-item">
                                    <a class="mega-menu__dropdown-link" href="/fsin/professions"
                                        >Перечень востребованных профессий</a
                                    >
                                </li>
                                <li class="mega-menu__dropdown-item">
                                    <a class="mega-menu__dropdown-link" href="/fsin/reports">Отчеты и статистика</a>
                                </li>
                                <li class="mega-menu__dropdown-item">
                                    <a class="mega-menu__dropdown-link" href="/auth/logout?to=auth/login">
                                        <div class="button button_plain button_icontext">
                                            <svg class="icon button__icon mega-menu__quit-icon">
                                                <use href="/assets/redesign-theme/uikit/icon/icons.svg#logout"></use>
                                            </svg>
                                            <span class="icon_middle">Выйти</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!--        Adaptive-->
                            <ul class="mega-menu__user-menu mega-menu__user-menu_user">
                                <li class="mega-menu__user-item mega-menu__user-item_spoiler">
                                    <a
                                        class="
                                            mega-menu__spoiler mega-menu__spoiler_user
                                            spoiler__control spoiler_closed
                                        "
                                        data-target="#user-menu"
                                        aria-expanded="false"
                                    >
                                        <svg class="icon mega-menu__spoiler-icon">
                                            <use href="/assets/redesign-theme/uikit/icon/icons.svg#prev"></use>
                                        </svg>
                                        <span class="mega-menu__spoiler-text">Имя пользователя</span>
                                    </a>
                                    <div class="mega-menu__user-container spoiler" id="user-menu">
                                        <a
                                            class="mega-menu__user-sublink mega-menu__user-sublink_settings"
                                            href="/fsin/convicts/archive"
                                            >Архив</a
                                        >
                                        <a
                                            class="mega-menu__user-sublink mega-menu__user-sublink_settings"
                                            href="/fsin/professions"
                                            >Перечень востребованных профессий</a
                                        >
                                        <a
                                            class="mega-menu__user-sublink mega-menu__user-sublink_settings"
                                            href="/fsin/reports"
                                            >Отчеты и статистика</a
                                        >
                                        <a
                                            class="button button_plain mega-menu__user-quit"
                                            href="/auth/logout?to=auth/login"
                                            >Выйти</a
                                        >
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blind-panel" th:attr="data-blind-mode=${theme}">
            <div class="blind-panel__wrapper">
                <div class="row">
                    <div class="col-lg-6 col-md-7 col-sm-6 col-12">
                        <div class="row">
                            <div class="col-12 col-md-6 mb-2 mb-md-0">
                                <button data-blind-moder="small" class="button button_plain" type="button">
                                    <svg class="icon blind-panel__icon">
                                        <use href="/assets/redesign-theme/uikit/icon/icons.svg#blind-mode-small"></use>
                                    </svg>
                                </button>
                                <button data-blind-moder="medium" class="button button_plain" type="button">
                                    <svg class="icon blind-panel__icon">
                                        <use href="/assets/redesign-theme/uikit/icon/icons.svg#blind-mode-medium"></use>
                                    </svg>
                                </button>
                                <button data-blind-moder="large" class="button button_plain" type="button">
                                    <svg class="icon blind-panel__icon">
                                        <use href="/assets/redesign-theme/uikit/icon/icons.svg#blind-mode-large"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="col-12 col-md-6 mb-2 mb-md-0">
                                <button data-blind-moder="white" class="button button_plain" type="button">
                                    <svg class="icon blind-panel__icon">
                                        <use href="/assets/redesign-theme/uikit/icon/icons.svg#blind-mode-white"></use>
                                    </svg>
                                </button>
                                <button data-blind-moder="black" class="button button_plain" type="button">
                                    <svg class="icon blind-panel__icon">
                                        <use href="/assets/redesign-theme/uikit/icon/icons.svg#blind-mode-black"></use>
                                    </svg>
                                </button>
                                <button data-blind-moder="blue" class="button button_plain" type="button">
                                    <svg class="icon blind-panel__icon">
                                        <use href="/assets/redesign-theme/uikit/icon/icons.svg#blind-mode-blue"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-5 col-12">
                        <button
                            data-blind-moder="noimage"
                            class="button button_plain mt-1 mt-md-0 mb-md-1 mb-lg-0"
                            type="button"
                        >
                            <svg class="icon blind-panel__icon">
                                <use href="/assets/redesign-theme/uikit/icon/icons.svg#blind-mode-image"></use>
                            </svg>
                            Изображения
                        </button>
                        <button
                            data-blind-moder="image"
                            class="button button_plain mt-1 mt-md-0 mb-md-1 mb-lg-0"
                            type="button"
                        >
                            <svg class="icon blind-panel__icon">
                                <use href="/assets/redesign-theme/uikit/icon/icons.svg#blind-mode-noimage"></use>
                            </svg>
                            Изображения
                        </button>

                        <button
                            data-blind-moder="sound"
                            class="button button_plain blind-panel__sound-switcher mt-1 lg-mt-0"
                            type="button"
                        >
                            <svg class="icon blind-panel__icon">
                                <use href="/assets/redesign-theme/uikit/icon/icons.svg#blind-mode-sound"></use>
                            </svg>
                            <svg class="icon blind-panel__icon">
                                <use href="/assets/redesign-theme/uikit/icon/icons.svg#blind-mode-mute"></use>
                            </svg>
                            Звуковые подсказки
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <header class="header">
            <div class="header__wrapper">
                [( ${@iblock.show([[${view.getSiteCode()}]], 'prr_logo')} )]
                <div class="header__fsin-text">Федеральная служба исполнения наказаний</div>
                <form
                    class="search-content header__search header__search_fsin"
                    action="/vacancy/search"
                    data-name="search-content"
                    method="get"
                    th:unless="${@auth.isAuthorized() and #strings.indexOf( @parser.toString( @view.user.roles ), 'Работодатель' ) > -1}"
                >
                    <label class="input search-content__input">
                        <input class="search-content__input-control input__control" type="search" name="title" />
                        <!--            <button class="button button_close search-content__close-button" type="button">-->
                        <!--              <svg class="icon search-content__close-icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">-->
                        <!--                <path d="M15 5L5 15" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
                        <!--                <path d="M5 5L15 15" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>-->
                        <!--              </svg>-->
                        <!--            </button>-->
                    </label>
                    <label class="search-content__select select">
                        <select class="select__control" name="titleType">
                            <option value="VACANCY_NAME" selected>по названию вакансии</option>
                            <option value="VACANCY_DESCRIPTION">по описанию вакансии</option>
                            <option value="COMPANY_NAME">по названию компании</option>
                        </select>
                    </label>
                    <button class="search-content__button" type="submit">Найти</button>
                </form>
                <div class="search-content__mobile-container">
                    <button class="search-content__mobile-button" type="button" data-name="search-button">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                            <path
                                d="M20.9999 21L16.6499 16.65"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                        </svg>
                    </button>
                    <button class="search-content__burger burger" type="button" data-name="burger-button">
                        <span class="burger__box">
                            <span class="burger__inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </header>

        <main class="main mt-2">
            <div class="main__wrapper mt-2">
                <div class="row">
                    <div class="col-sm-6 col-12 order-sm-1 mb-2 mb-sm-0">
                        <img
                            class="image mx-auto"
                            src="/information/resources/upload/error/resume-not-found.png"
                            alt="Ошибка 602."
                        />
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="content">
                            <h1 class="content__title">Вакансия была скрыта или удалена работодателем</h1>
                            <div class="content__paragraph">
                                Попробуйте поискать <a href="/fsin/vacancies" class="link">другие вакансии</a> или
                                посетите полезные страницы:
                            </div>
                            <div class="content__paragraph">
                                <a href="/fsin/convicts/new" class="link">Добавить карточку осуждённого</a>
                            </div>
                            <div class="content__paragraph">
                                <a href="/fsin/cv" class="link">Найти резюме осуждённого</a>
                            </div>
                            <div class="content__paragraph"><a href="/help" class="link">Частые вопросы</a></div>
                            <div class="content__paragraph mt-3">
                                Сообщить об ошибке в <a href="/feedback" class="link"> техническую поддержку</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__wrapper">
                <div class="footer__important">
                    <a class="footer__nav-link" href="/help">Техническая поддержка</a>
                    <a class="footer__nav-link" href="/information-pages/personal-data-processing-policy"
                        >Политика обработки персональных данных</a
                    >
                </div>

                <hr class="footer__separator" />

                <div class="row">
                    <div class="col-12 col-sm mb-1 footer__copyright">
                        &copy;&nbsp;Федеральная служба по труду и занятости —
                        <a class="link" href="https://rostrud.gov.ru/" target="_blank" rel="noopener"
                            ><span class="link__title">rostrud.ru</span></a
                        >. При копировании информации – ссылка на
                        <a class="link" href="https://trudvsem.ru/" target="_blank" rel="noopener"
                            ><span class="link__title">trudvsem.ru</span></a
                        >
                        обязательна
                    </div>
                </div>
            </div>
        </footer>
        <th:block th:replace="fragments/resources :: resources"></th:block>
        <th:block th:replace="fragments/cssdebug"></th:block>
    </body>
</html>
