@use "../../functions";

$color__tip: #52575C !default;

$font-size-smaller: functions.px(12) !default;

.text-widget {

  &__tip {
    color: $color__tip;
    font-size: $font-size-smaller;
    line-height: 1.5;
  }
}
