@use "sass:math";
@use "../../functions";

$background__label: #A0A4A8 !default;
$background__label-checked: #0E65B7 !default;
$background__label-disabled: #E8E8E8 !default;
$color__label: #52575C !default;

$border__label: #A0A4A8 !default;
$border__label-checked: #0E65B7 !default;
$border__label-disabled: #E8E8E8 !default;

$pin: #FFFFFF !default;
$disabled-pin: #CACCCF !default;

$width__label: functions.px(36);
$height__label: functions.px(20);
$radius: math.div($height__label, 2);
$gap: functions.px(10) !default;

$font-size-small: functions.px(14) !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

.switch {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto;

  input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  &__label {
    box-sizing: border-box;
    color: $color__label;
    cursor: pointer;

    /* Fix IE */
    display: block;
    font-size: $font-size-small;
    font-weight: 500;
    grid-row: 2;
    line-height: 1.572;
    padding-left: $width__label + $gap;
    position: relative;
    user-select: none;

    &:before {
      background-color: $background__label;
      background-image: functions.inlineSVG(
        '<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 8C6.20914 8 8 6.20914 8 4C8 1.79086 6.20914 0 4 0C1.79086 0 0 1.79086 0 4C0 6.20914 1.79086 8 4 8Z" fill="' +
        $pin + '"/></svg>'
      );
      background-position: 0 50%;
      background-repeat: no-repeat;
      background-size: auto 100%;
      border: functions.px(2) solid $border__label;
      border-radius: $radius;
      box-sizing: border-box;
      content: "";
      height: $height__label;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: border-color 0.25s, background-color 0.25s, background-position 0.25s;
      width: $width__label;
    }
  }

  input:checked + &__label:before {
    background-color: $background__label-checked;
    background-position: 100% 100%;
    border-color: $border__label-checked;
  }

  input:disabled + &__label:before {
    background-color: $background__label-disabled;
    background-image: functions.inlineSVG(
      '<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4 8C6.20914 8 8 6.20914 8 4C8 1.79086 6.20914 0 4 0C1.79086 0 0 1.79086 0 4C0 6.20914 1.79086 8 4 8Z" fill="' +
      $disabled-pin + '"/></svg>'
    );
    border-color: $border__label-disabled;
  }

  input:not(:disabled):focus + &__label:before {
    box-shadow: $box-shadow-focus;
    outline: none;
  }

  input:not(:disabled):focus:not(:focus-visible) + &__label:before {
    box-shadow: none;
  }

  input:not(:disabled):focus-visible + &__label:before {
    box-shadow: $box-shadow-focus;
  }

  &__title {
    /* Fix IE */
    display: block;

    font-weight: 600;
    grid-row: 1;
    margin-bottom: 0.6em;
  }
}
