@use "../../functions";
@use "../../images" as *;

$gap: functions.px(10) !default;
$font-size-title: functions.px(22) !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

.block-mobile {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__wrapper {
    background-image: url("block-mobile/iphone.jpg");
    background-position: left top;

    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;
    height: 100%;
    margin: 0 0 #{-$gap * 3} 0;
    padding-bottom: $gap * 2;

    @if (not $images) {
      background-image: none;
    }
  }

  &__links {
    margin-left: auto;

    &-img {
      height: auto;
    }
  }

  &__link {
    display: block;
    font-size: 0;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  &__link:not(:last-child) {
    margin-bottom: functions.px(10);
  }

  &__title {
    font-size: $font-size-title;
    font-weight: 600;
    line-height: 1.363;
    margin-bottom: $gap * 4;
  }
}
