@use "../../functions";

$gap: functions.px(10) !default;

$background-image: #EDF5FC !default;

.czn-avatar {
  align-items: center;
  background-image: functions.inlineSVG(
    '<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 357 365"><path fill-rule="evenodd" clip-rule="evenodd" d="M224.404 34.463L167.968.485c-2.232-1.344-5.074.264-5.074 2.87v67.957c0 2.606-2.841 4.214-5.073 2.87l-56.436-33.978v-.001L35.415.485C33.181-.86 30.34.749 30.34 3.355v147.763c0 2.604 2.84 4.212 5.072 2.872l56.132-33.796c2.23-1.344 5.073.265 5.073 2.87v67.956c0 2.607 2.842 4.215 5.072 2.871l56.436-33.978c2.162-1.302 2.162-4.44 0-5.741l-56.741-34.162c-2.01-1.21-2.149-4.007-.418-5.441h-.082l123.519-74.366c2.162-1.302 2.162-4.439 0-5.74z" fill="' +
    $background-image +
    '"/><path fill-rule="evenodd" clip-rule="evenodd" d="M354.412 144.514l-56.503-34.094c-2.235-1.349-5.08.265-5.08 2.88v68.19c0 2.615-2.845 4.229-5.079 2.88l-56.504-34.094v-.002l-66.05-39.854c-2.234-1.349-5.08.265-5.08 2.88v148.271c0 2.613 2.844 4.227 5.079 2.881l56.2-33.911c2.232-1.349 5.078.265 5.078 2.88v68.189c0 2.616 2.845 4.23 5.079 2.882l56.503-34.096c2.165-1.306 2.165-4.454 0-5.76l-56.809-34.28c-2.013-1.214-2.152-4.022-.419-5.46h-.082l123.667-74.622c2.165-1.306 2.165-4.454 0-5.76z" fill="' +
    $background-image +
    '"/><path fill-rule="evenodd" clip-rule="evenodd" d="M158.471 232.627l-46.086-27.933c-1.822-1.105-4.142.217-4.143 2.359v55.867c0 2.142-2.32 3.465-4.142 2.36l-46.086-27.933v-.001L4.142 204.694C2.32 203.589 0 204.911 0 207.053v121.475c0 2.142 2.318 3.463 4.141 2.361l45.838-27.783c1.82-1.105 4.142.218 4.142 2.36v55.866c0 2.143 2.32 3.464 4.142 2.36l46.086-27.933c1.766-1.071 1.766-3.65 0-4.72l-46.335-28.084c-1.642-.996-1.755-3.294-.342-4.473h-.066l100.865-61.136c1.766-1.07 1.766-3.649 0-4.719z" fill="' +
    $background-image + '"/></svg>'
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex: 1 0 100%;
  flex-flow: column nowrap;
  height: auto;
  justify-content: flex-end;
  padding-left: $gap * 5;

  &__figure {
    margin: 0;
  }

  &__img {
    border-radius: 50%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
