@use "sass:color" as *;
@use "../../functions";

$gap: functions.px(10) !default;
$radius: functions.px(8) !default;

$area__banner-background: #E7F3FF !default;
$area__z-index: 10004 !default;
$color__close: #52575C !default;
$color__close_hover: #0E65B7 !default;
$control__border-color: #0E65B7 !default;
$control__border-color_disabled: #A0A4A8 !default;
$breakpoint-md: functions.px(768);

.ib-notification-banner-modal {
  position: relative;

  &__area {
    background: $area__banner-background;
    box-shadow: 0 functions.px(4) functions.px(20) rgba(37, 40, 43, 0.15);
    box-sizing: border-box;
    left: 50%;
    max-width: functions.px(890);
    padding: functions.px(15);
    position: absolute;
    top: functions.px(30);
    transform: translate(-50%, 0);
    width: 100%;
    z-index: $area__z-index;

    @media (min-width: $breakpoint-md) {
      border-radius: $radius;
      padding: functions.px(30);
    }
  }

  &__wrap {
    box-sizing: border-box;
    display: flex;
  }

  &__content {
    width: 100%;
  }

  &__controls {
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    max-width: functions.px(80);
    padding-bottom: $gap * 4;
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      max-width: functions.px(100);
    }
  }

  &__close {
    align-self: flex-start;
    color: $color__close;
    margin-left: auto;
  }

  &__close:hover {
    color: $color__close_hover;
  }

  &__nav-container {
    bottom: 0;
    display: flex;
    justify-content: right;
    margin-left: auto;
    position: absolute;
    right: 0;
    width: 100%;
  }

  &__control {
    background: none;
    border: 1px solid $control__border-color;
    border-radius: $radius;
    cursor: pointer;
    height: functions.px(32);
    position: relative;
    width: functions.px(32);

    @media (min-width: $breakpoint-md) {
      height: functions.px(39);
      width: functions.px(39);
    }
  }

  &__control:hover,
  &__control:hover::before {
    border-color: adjust($control__border-color, $hue: -3deg, $saturation: -10%, $lightness: 10%);
  }

  &__control_prev {
    margin-right: $gap * 0.5;
  }

  &__control::before {
    border-right: functions.px(2) solid $control__border-color;
    border-top: functions.px(2) solid $control__border-color;
    content: "";
    height: $gap * 0.9;
    margin-top: -$gap * 0.5;
    position: absolute;
    top: 50%;
    width: $gap * 0.9;
  }

  &__control_next::before {
    left: $gap * 0.9;
    transform: rotate(45deg);

    @media (min-width: $breakpoint-md) {
      left: $gap * 1.2;
    }
  }

  &__control_prev::before {
    left: $gap * 1.2;
    transform: rotate(225deg);

    @media (min-width: $breakpoint-md) {
      left: $gap * 1.5;
    }
  }

  &__control_disabled,
  &__control_disabled:hover,
  &__control_disabled::before {
    border-color: $control__border-color_disabled;
  }

}
