@use "../../functions";

$gap: functions.px(10) !default;

.media-partners {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: $gap * 2.5 0;
  text-align: center;

  &__text {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: $gap * 2.5;
    min-height: $gap * 4;
  }
}
