@use "../../functions";
@use "../../images" as *;

$white: #FFFFFF !default;
$blue: #69B3E7 !default;
$gray: #F9F9FA !default;
$bg-slider: #EDF5FC !default;
$gap: functions.px(10) !default;
$radius: functions.px(8) !default;
$breakpoint-sm: functions.px(576);
$breakpoint-lg: functions.px(992);
$breakpoint-xl: functions.px(1280);
$shadow-card: #4BA3E3 !default;
$shadow-control: #0E65B7 !default;
$accent: #E64920 !default;
$color-input: #52575C !default;
$links-list: #52575C !default;
$banner-bg: #69B3E7 !default;
$background: #FFFFFF !default;
$line-color: #FFFFFF !default;
$border-focus: #0E65B7 !default;
$color-link: #014898 !default;

$font-size-big: functions.px(34) !default;
$font-size-medium: functions.px(18) !default;
$font-size-small: functions.px(16) !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;
$caret-color: #1E88DB !default;
$font-size-section-title: functions.px(26) !default;
$font-size-section-title-sm: functions.px(28) !default;
$font-size-section-title-lg: $font-size-big;

@use "sass:color";

.index {
  margin: #{-$gap * 1.5} #{-$gap * 1.5} 0;
  overflow-x: hidden;

  &-link {

    &-white {
      text-decoration: underline;

      &:hover {
        color: inherit;
      }
    }
  }

  &-section {

    &_white {
      background-color: $white;
    }

    &_blue {
      background-color: $blue;
    }

    &_gray {
      background-color: $gray;
    }

    &_one {
      background-color: $white;
      padding-bottom: $gap * 7;
      padding-top: $gap * 3;

      @media (min-width: $breakpoint-lg) {
        background-image: url("index/section-one_bg.svg");
        background-position: left bottom 20px;

        background-repeat: no-repeat;

        @if (not $images) {
          background-image: none;
        }

        &__image {
          margin-top: -$gap * 10;
        }
      }
    }

    &_banner {
      color: $white;
      margin: 0;
      padding: $gap * 6 0 0;

      &-title {
        font-size: $font-size-big;
        font-weight: 600;
        margin-bottom: $gap * 3;
      }

      p {
        max-width: $gap * 55;
      }
    }

    &_employers {
      padding: $gap * 3 0;

      @media (min-width: $breakpoint-sm) {
        padding: $gap * 3 0 $gap * 6;
      }

      &-title {

        &:not(:last-child) {
          margin-bottom: $gap * 4;
        }
      }
    }

    &__title {
      font-size: $font-size-section-title;
      font-weight: 600;
      letter-spacing: functions.px(0.2);
      line-height: $gap * 3;
      margin-bottom: $gap * 5;
      text-align: center;

      @media (min-width: $breakpoint-sm) {
        font-size: $font-size-section-title-sm;
      }

      @media (min-width: $breakpoint-lg) {
        font-size: $font-size-section-title-lg;
      }

      &_left {
        text-align: left;
      }
    }

    &_advantages {
      background-image: url("index/advantages_bg.svg");

      background-position: 0 $gap * 2;
      background-repeat: no-repeat;
      box-sizing: border-box;
      min-height: functions.px(560);
      padding-top: $gap * 3;

      @if (not $images) {
        background-image: none;
      }

      @media (min-width: $breakpoint-lg) {
        padding-top: $gap * 7;
      }
    }

    &_portal {
      padding-bottom: $gap * 5;

      padding-top: $gap * 5;

      @media (min-width: $breakpoint-lg) {
        padding-bottom: $gap * 8;
        padding-top: $gap * 9;
      }
    }

    &_polls {
      padding-bottom: $gap * 5;
      padding-top: $gap * 5;

      @media (min-width: $breakpoint-lg) {
        padding-bottom: $gap * 8;
        padding-top: $gap * 8;
      }
    }

    &_resume {
      padding: $gap * 5 0;
    }

    &__card {
      padding: $gap * 1.3 $gap * 3;
    }

    &_popular {
      padding-top: $gap * 8.3;
    }
  }

  &-search {
    background: $white;
    box-shadow: 0 functions.px(10) functions.px(40) rgba($shadow-control, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    position: relative;

    @media (min-width: $breakpoint-sm) {
      flex-flow: row nowrap;
    }

    &__control {
      background: $background;
      border: functions.px(1) solid $blue;
      border-radius: $radius;
      box-sizing: border-box;
      color: $color-input;
      flex-basis: auto;
      flex-grow: 1;
      font-weight: 500;
      height: $gap * 4;
      line-height: 1.5;
      margin-bottom: $gap * 2;
      min-height: functions.px(38);
      padding: 0 $gap * 3;

      &:hover:not(:disabled),
      &:focus,
      &:focus-visible {
        border-color: color.adjust($border-focus, $hue: -3deg, $saturation: -10%, $lightness: 10%);
      }

      &:focus {
        caret-color: color.adjust($border-focus, $hue: -3deg, $saturation: -10%, $lightness: 10%);
        outline: none;
      }

      @media (min-width: $breakpoint-sm) {
        border-radius: $radius 0 0 $radius;
        margin-bottom: 0;
        padding: 0 $gap * 3;
      }
    }

    &__close {
      align-items: center;
      display: flex;
      justify-content: center;
      position: absolute;
      right: $gap;
      top: $gap * 0.8;
      z-index: 2;

      @media (min-width: $breakpoint-sm) {
        right: $gap * 9;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__close-icon {
      height: $gap * 2;
      min-width: $gap * 2;
      width: $gap * 2;
    }

    &__button {
      background: $accent;
      border: 0;
      border-radius: $radius;
      color: $white;
      height: auto;
      min-width: $gap * 7.5;
      padding: 0 $gap * 2;
      width: 100%;

      &:hover {
        background-color: $accent;
        color: $white;
        opacity: 0.9;
      }

      &:focus {
        box-shadow: $box-shadow-focus;
        outline: none;
      }

      &:focus:not(:focus-visible) {
        box-shadow: none;
      }

      &:focus-visible {
        box-shadow: $box-shadow-focus;
      }

      @media (min-width: $breakpoint-sm) {
        border-radius: 0 $radius $radius 0;
        width: auto;
      }
    }
  }

  &-list-search {

    &__link {
      color: $links-list;
      margin-right: $gap;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        box-shadow: $box-shadow-focus;
        outline: none;
      }

      &:focus:not(:focus-visible) {
        box-shadow: none;
      }

      &:focus-visible {
        box-shadow: $box-shadow-focus;
      }
    }
  }

  &__white {
    color: $white;
  }

  &__button-white {
    background-color: transparent;
    border: functions.px(1) solid $white;
    color: $white;

    &:hover {
      background-color: transparent;
    }
  }

  &-advantages-content {
    @media (min-width: $breakpoint-lg) {
      padding-left: $gap * 3;
    }
  }

  &-advantages-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      background-image: url("index/advantages-li.svg");

      background-position: left center;
      background-repeat: no-repeat;
      font-size: $font-size-medium;
      letter-spacing: functions.px(0.2);
      margin-bottom: $gap;
      padding-left: $gap * 3.5;

      @if (not $images) {
        background-image: none;
      }
    }
  }

  &-card {
    border: none;
    box-shadow: 0 functions.px(10) functions.px(40) rgba($shadow-card, 0.2);
    overflow: hidden;
    position: relative;

    &_blue {
      background: $blue;
      border: none;
    }

    &__image {
      bottom: functions.px(40);
      position: absolute;
      right: functions.px(40);
    }

    &__content {
      padding-right: $gap * 7;
    }

    &_slider {
      @media (min-width: $breakpoint-sm) {
        padding-right: 40%;
      }
    }

    &-slider {
      display: none;

      @media (min-width: $breakpoint-sm) {
        align-items: center;
        background-color: #EDF5FC;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;

        &::before {
          background-color: #EDF5FC;
          content: "";
          height: 20px;
          left: -10px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
          width: 20px;
        }
      }

      &:before {
        background-color: $bg-slider;
        content: "";
        height: functions.px(20);
        left: functions.px(-10);
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        width: functions.px(20);
      }
    }
  }

  &-employer {
    align-items: center;
    display: flex;
    flex-direction: column;

    &_def {
      display: none;
    }

    &_logo {
      align-items: center;
      display: flex;
      height: functions.px(70);
      justify-content: center;
      margin-bottom: $gap * 2;

      &:focus {
        box-shadow: $box-shadow-focus;
        outline: none;
      }

      &:focus:not(:focus-visible) {
        box-shadow: none;
      }

      &:focus-visible {
        box-shadow: $box-shadow-focus;
      }
    }

    &_name {
      color: #52575C;
      font-size: $font-size-small;
      font-weight: 500;
      letter-spacing: functions.px(0.1);
      line-height: 1.5;
      text-align: center;
    }

    &_count {
      color: $color-link;
      font-size: $font-size-small;
      letter-spacing: functions.px(0.1);
      line-height: 1.5;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        box-shadow: $box-shadow-focus;
        outline: none;
      }

      &:focus:not(:focus-visible) {
        box-shadow: none;
      }

      &:focus-visible {
        box-shadow: $box-shadow-focus;
      }
    }
  }

  &-banner {
    background: $banner-bg;
    border-radius: 0;
    margin: 0;
    padding: functions.px(15) 0;

    @media (min-width: $breakpoint-sm) {
      background: $banner-bg;
      padding: functions.px(50) 0;
    }

    @media (min-width: $breakpoint-xl) {
      padding: functions.px(70) 0;
    }

    & .owl-loaded {
      margin-top: $gap * 4;
    }

    & .owl-dots {
      top: $gap * -4;
    }

    & .owl-dot {
      background: $white;
    }
  }

  &__list-item {

    &:not(:last-child) {
      margin-bottom: $gap * 2;
    }

    &::before {
      background: no-repeat left center
        functions.inlineSVG(
          "<svg width='12' height='15' viewBox='0 0 12 15' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 0.667964V14.332C0 14.8545 0.539144 15.1712 0.958489 14.902L11.6967 8.07791C12.1011 7.80875 12.1011 7.19125 11.6967 6.92209L0.958489 0.0979681C0.539144 -0.171197 0 0.145468 0 0.667964Z' fill='" +
          $background + " ' /></svg>"
        );
      content: "";
      float: left;
      margin-right: $gap * 2;
    }
  }

  &-footer-line {
    background-color: $line-color;
    height: functions.px(1);
    margin: 0 functions.px(-15);
    width: calc(100% + #{$gap * 3});

    @media (min-width: $breakpoint-lg) {
      height: 100%;
      margin: 0 auto;
      width: functions.px(1);
    }
  }

  &-images-social {
    border-radius: 0;
  }
}
