@use "../../functions";

$color__item: #25282B !default;
$background-image__item_next: #25282B !default;
$color__item_active: #FFFFFF !default;
$border__item: #CACCCF !default;
$border__item-active: #1E88DB !default;
$background__item_active: #0E65B7 !default;
$color__kebab: #0E65B7 !default;
$border-color__item-disable: #E8E8E8 !default;
$background-image__item_disabled: #A0A4A8 !default;
$gap: functions.px(10) !default;
$radius: functions.px(8) !default;
$font-size-smaller: functions.px(12) !default;
$font-size-small: functions.px(14) !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

$size: functions.px(32);
$width-kebab: functions.px(18);

.pagination {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  margin-bottom: -$gap * 0.4;
  padding: 0;

  &__item {
    align-items: center;
    background-color: transparent;
    border: functions.px(1) solid $border__item;
    border-radius: $radius;
    box-sizing: border-box;
    color: $color__item;
    cursor: pointer;
    display: inline-flex;
    flex: 0 0 auto;
    font-size: $font-size-smaller;
    font-weight: 500;
    height: $size;
    justify-content: center;
    letter-spacing: functions.px(0.1);
    min-width: $size;
    text-decoration: none;
    user-select: none;

    &:hover:not(&_disabled):not(a:not([href])) {
      border-color: $border__item-active;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:disabled):not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible:not(:disabled) {
      box-shadow: $box-shadow-focus;
    }

    &_active {
      background-color: $background__item_active;
      border-color: transparent;
      color: $color__item_active;
    }

    &_previous,
    &_next {
      background-image: functions.inlineSVG(
        '<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none"><path d="M5 9L1 5L5 1" stroke=" ' +
        $background-image__item_next + '" stroke-linecap="round" stroke-linejoin="round"/></svg>'
      );
      background-position: center;
      background-repeat: no-repeat;
    }

    &_next {
      margin-right: 0;
    }

    &_next {
      transform: scale(-1, 1);
    }
  }

  &__item,
  &__kebab {
    margin: $gap * 0.4;
  }

  &__item_active,
  a:not([href])#{&}__item,
  &__item_disabled {
    cursor: default;
    pointer-events: none;
    user-select: none;
  }

  a:not([href])#{&}__item_previous,
  a:not([href])#{&}__item_next,
  &__item_disabled {
    background-image: functions.inlineSVG(
      '<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none"><path d="M5 9L1 5L5 1" stroke=" ' +
      $background-image__item_disabled + '" stroke-linecap="round" stroke-linejoin="round"/></svg>'
    );
    border-color: $border-color__item-disable;
  }

  &__kebab {
    background: none;
    border: none;
    color: $color__kebab;
    cursor: default;
    font-size: $font-size-small;
    font-weight: 600;
    line-height: 1.286;
    min-width: $width-kebab;
    pointer-events: none;
    text-align: center;
    text-decoration: none;
    user-select: none;
  }
}
