@use "../../functions";
@use "../../images";

$shadow: functions.px(0) functions.px(4) functions.px(8) rgba(0, 0, 0, 0.15) !default;
$background: #FFFFFF !default;
$gap: functions.px(10) !default;
$width-content: functions.px(1200) !default;
$breakpoint: functions.px(991);
$header-index: 10003 !default;
$header-mobile-index: 10004 !default;
$fixed-header: functions.px(55) !default;
$gosbar-height: functions.px(50) !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;
$font-size-small: functions.px(14) !default;
$max-width__fsin-text: functions.px(210);
$border-left__fsin-text: 1px solid #D1D2D5;

.header {
  background: $background;
  box-shadow: $shadow;
  padding-bottom: $gap * 2.2;
  padding-top: $gap * 2.3;
  position: relative;
  z-index: $header-index;

  @media (max-width: $breakpoint) {
    box-shadow: none;
    height: $fixed-header;
    left: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: $gosbar-height;
    z-index: $header-mobile-index;
  }

  &__wrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $width-content;
    padding-left: $gap * 1.5;
    padding-right: $gap * 1.5;
    width: 100%;

    @media (min-width: functions.px(576)) and (max-width: functions.px(1240)) {
      padding-left: $gap * 3;
      padding-right: $gap * 3;
    }

    @media (max-width: $breakpoint) {
      box-shadow: $shadow;
      height: 100%;
    }
  }

  &__logo {
    display: block;
    height: functions.px(55);
    width: functions.px(142);

    @media (max-width: $breakpoint) {
      height: $fixed-header - $gap * 2;
      width: auto;
    }
  }

  &__logo-link {
    @if (not images.$images) {

      svg {
        display: none;
      }
    }

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  &__fsin-text {
    border-left: $border-left__fsin-text;
    font-size: $font-size-small;
    margin-left: $gap * 3;
    max-width: $max-width__fsin-text;
    padding: 0 $gap * 2;
    text-transform: uppercase;
  }

  &__search {
    flex: 1 1 auto;
    margin-left: 0;

    @media (min-width: $breakpoint + 1) {
      margin-left: $gap * 14.5;

      &_fsin {
        margin-left: $gap * 4;
      }
    }
  }

  &_index {
    display: block;

    @media (min-width: $breakpoint + 1) {
      display: none;
    }
  }
}
