@use "../../functions";

$gap: functions.px(10) !default;
$radius: functions.px(8) !default;
$border: #E8E8E8 !default;
$background: #FFF !default;
$color__text: #69B3E7 !default;

.ib-error {
  align-items: center;
  background: $background;
  border: functions.px(1) solid $border;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $gap * 2.5 $gap * 3 $gap * 3;

  &__image-wrap {
    margin-bottom: $gap * 5;
  }

  &__img {
    max-width: functions.px(132);
    width: 100%;
  }

  &__text {
    color: $color__text;
    text-align: center;
  }
}

@media (min-width: functions.px(720)) {

  .col-md-12 .ib-error,
  .col-md-11 .ib-error,
  .col-md-10 .ib-error,
  .col-md-9 .ib-error,
  .col-md-8 .ib-error,
  .col-md-7 .ib-error,
  .col-md-6 .ib-error {
    flex-direction: row;
  }

  .col-md-12 .ib-error .ib-error__image-wrap,
  .col-md-11 .ib-error .ib-error__image-wrap,
  .col-md-10 .ib-error .ib-error__image-wrap,
  .col-md-9 .ib-error .ib-error__image-wrap,
  .col-md-8 .ib-error .ib-error__image-wrap,
  .col-md-7 .ib-error .ib-error__image-wrap,
  .col-md-6 .ib-error .ib-error__image-wrap {
    margin-bottom: 0;
    margin-left: 10%;
  }
}
