$back-color: rgb(31, 53, 136) !default;
$font-color: rgb(255, 255, 255) !default;
$gap: 20px !default;
$radius: 4px !default;
$breakpoint: 700px !default;
$arrow-width: 15px !default;

.step {
  background-color: $back-color;
  flex: 1 1 0;
  counter-increment: counter-step;
  text-transform: uppercase;
  color: $font-color;
  padding: $gap $gap * 2.5 $gap $gap;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-height: 90px;
  box-sizing: border-box;
  border-radius: $radius;
  position: relative;
  font-weight: bold;
  margin: $gap / 2 0;

  @media (min-width: $breakpoint) {

    &:first-child {
      margin: $gap / 2 $gap / 2 $gap / 2 0;
    }

    &:last-child {
      margin: $gap / 2 0 $gap / 2 $gap / 2;
      padding-right: $gap * 2.5 + $arrow-width / 2;

      &::before {
        right: $arrow-width / 2;
      }
    }

    &:not(:first-child):not(:last-child) {
      margin: $gap / 2;
    }
  }

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: $radius / 2;
    bottom: $radius / 2;
    left: 100%;
    width: $arrow-width;
    background: no-repeat 0 0 / 100% 100%;
    background-image: url("data:image/svg+xml, %3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='rgb(31, 53, 136)' points='0,0 30,15 0,30'%3E%3C/polygon%3E%3C/svg%3E");

    @media (max-width: $breakpoint) {
      bottom: auto;
      width: auto;

      left: $radius / 2;
      right: $radius / 2;
      top: 100%;
      height: $arrow-width;
      background-image: url("data:image/svg+xml, %3Csvg width='30' height='30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon fill='rgb(31, 53, 136)' points='0,0 15,30 30,0'%3E%3C/polygon%3E%3C/svg%3E");
    }
  }

  &::before {
    content: counter(counter-step);
    position: absolute;
    right: 0;
    font-size: 96px;
    color: rgba($font-color, 0.2);
    top: 50%;
    transform: translateY(-50%);
  }

  &__container {
    counter-reset: counter-step;
    display: flex;
    padding: $gap / 2 0;

    @media (max-width: $breakpoint) {
      flex-flow: column nowrap;
    }
  }
}
