@use "sass:math";
@use "functions" as *;
@use "constants" as *;
@use "colors" as *;

@use "bootstrap-grid";

@use "icon" with ($stroke_brand: $brand-dark-line,
$stroke_good: $positive-dark-text,
$stroke_light: $base-light-text,
$stroke_default: $base-dark-text,
$stroke_warning: $attention-dark-text,
$stroke_danger: $negative-dark-text,
$stroke_blue: $brand2-dark-line,
$stroke_gray: $neutral-dark-line,
$stroke_muted: $neutral-dark-text );

@use "link" with ($color: $brand-dark-text,
$color-hover: $brand-light-text,
$color_bright: $base-light-text,
$color_title-hover: $brand-dark-text,
$box-shadow-focus: $box-shadow-focus );

@use "group-container" with ($gap: $gap);

@use "button" with ($radius: $radius,
$color: $base-light-text,
$background-color: $brand-dark-back,
$color_secondary: $brand-dark-back,
$color_plain: $brand-dark-back,
$border_plain: $brand-dark-back,
$color_more: $brand-dark-back,
$color_destruct: $negative-dark-back,
$border_destruct: $negative-dark-back,
$background_destruct: $negative-dark-back,
$color_bright: $base-light-back,
$color_close: $neutral-dark-back,
$disabled-color: $neutral-dark-back,
$font-size: $font-size-small,
$box-shadow-focus: $box-shadow-focus );

@use "card" with ($background: $base-light-back,
$border: $neutral-light-line,
$radius: $radius,
$background_note: $brand2-light-back,
$gap: $gap,
$background__header: $brand2-light-back,
$background__list: $brand2-light-back,
$border__footer-interface: $neutral-dark-back,
$background_muted: $neutral-light-line,
$shadow: $shadow );

@use "input" with ($gap: $gap,
$radius: $radius,
$color-disabled: $neutral-light-line,
$border__control: $neutral-dark-line,
$border__append: $neutral-dark-line,
$box-shadow-focus: $box-shadow-focus,
$border__control-disabled: $neutral-dark-back,
$border-datepicker: $neutral-light-line,
$border-focus: $brand-dark-line,
$background-image__date-focus: $brand-dark-line,
$color__date-focus: $brand-dark-line,
$font-size-small: $font-size-small,
$font-size-smaller: $font-size-smaller,
$color-other-month: $neutral-light-text,
$color-text__label: $neutral-dark-text,
$color__control-asterisk: $negative-dark-text,
$color__error: $negative-dark-text,
$color-text-badge: $base-dark-text,
$color__append: $base-dark-text,
$color-text-datepicker: $base-dark-text,
$color__control_placeholder: $neutral-light-text,
$background-image__control: $neutral-light-text,
$color-datepicker-hover: $neutral-light-back,
$background__control: $base-light-back,
$background__append: $neutral-light-back,
$background__control-disabled: $neutral-light-back,
$background-color_search: $brand-dark-back,
$background-button-datepicker: $brand-dark-back,
$background-image_search: $base-light-text,
$stroke-arrow-calendar: $neutral-dark-line,
$border__capcha: $neutral-dark-back,
$background__capcha: $neutral-light-back,
$color__capcha: $neutral-dark-text,
  $font-size__capcha: $bfont-I,
  $selected-datepicker: $brand-dark-back );

@use "select" with ($border: $brand-dark-back,
$color: $brand-dark-text,
$background: $base-light-back,
$background-hover: $brand2-light-back,
$border-check: $neutral-light-text,
$color-option-disabled: $neutral-light-text,
$input-color: $neutral-light-text,
$input-border: $neutral-dark-back,
$gap: $gap,
$radius: $radius,
$box-shadow-focus: $box-shadow-focus,
$font-size: $font-size-small,
$border-color-focus: $brand-light-text,
$z-index: $select-index,
$dropdown-z-index: $select-dropdown-index,
$color-hover: $brand-light-text,
$color-disabled: $neutral-dark-back,
$background-disabled: $neutral-light-back,
$background-transparent: transparent,
$color-default: $neutral-dark-text,
$background-closeable: $brand2-light-back,
$require-asterix-color: $negative-dark-text,
$color-error: $negative-dark-line,
$background-color-error-closeable: $negative-light-back,
$status-size: $font-size-smaller,
$status-bg: $neutral-light-back,
$dropdown-menu-close-color: $neutral-dark-line,
$dropdown-menu-status-color: $neutral-dark-text,
$line-divider: $neutral-light-line,
$font-size-small: $font-size-small,
$font-size-smaller: $font-size-smaller,
$shadow: $shadow,
$placeholder-color: $neutral-light-text );

@use "collapse" with ($gap: $gap,
$background-image__control: $brand-dark-back,
$color__control: $base-dark-text,
$color__control-name: $brand-dark-text,
$box-shadow-focus: $box-shadow-focus,
$font-size-small: $font-size-small );

@use "loader" with ($z-index: 10005);

@use "radio" with ($gap: $gap,
$border__label-before: $neutral-light-text,
$border-color-hover: $brand-dark-back,
$border-color-focus: $brand-dark-text,
$background-image-disabled: $neutral-dark-line,
$border-color-disabled: $neutral-dark-line,
$background__label: $base-light-back,
$background-image__label: $brand-dark-back,
$color__label: $neutral-dark-text,
$font-size-small: $font-size-small,
$font-size-smaller: $font-size-smaller,
$font-size-section-title-small: $font-size-section-title-small,
$color__error: $negative-dark-line,
$border-color_error: $negative-dark-line,
$box-shadow-focus: $box-shadow-focus );

@use "checkbox" with ($border__label: $neutral-dark-line,
$border__label-hover: $brand-light-text,
$border__label-checked: $brand-dark-back,
$border__label-disabled: $neutral-dark-back,
$background__label: $base-light-back,
$background__label-checked: $brand-dark-back,
$background__label-disabled: $neutral-light-back,
$background__label-checked-disabled: $neutral-dark-back,
$background-image__label: $base-light-back,
$gap: $gap,
$font-size-smaller: $font-size-smaller,
$font-size-small: $font-size-small,
$color__label: $neutral-dark-text,
$color_error: $negative-dark-line,
$box-shadow-focus: $box-shadow-focus );

@use "switch" with ($background__label: $neutral-dark-line,
$background__label-checked: $brand-dark-back,
$background__label-disabled: $neutral-light-line,
$pin: $base-light-back,
$border__label: $neutral-dark-line,
$border__label-checked: $brand-dark-back,
$border__label-disabled: $neutral-light-line,
$disabled-pin: $neutral-dark-back,
$color__label: $neutral-dark-text,
$gap: $gap,
$box-shadow-focus: $box-shadow-focus,
$font-size-small: $font-size-small );

@use "image" with ($gap: $gap, $radius: $radius);

@use "figure" with ($gap: $gap, $color__figcaption: $neutral-dark-text, $font-size-small: $font-size-small);

@use "code" with ($background: $brand2-light-back,
$radius: $radius,
$gap: $gap,
$font-size-small: $font-size-small,
$box-shadow-focus: $box-shadow-focus );

@use "list" with ($color__item: $brand-dark-back,
$background__item: $brand-dark-back,
$gap: $gap,
$ordered-label-size: $font-size,
$subunordered-label-size: $font-size );

@use "quote" with ($gap: $gap,
$background-image: $brand-dark-line,
$color__author-text: $neutral-dark-text,
$font-size-big: $font-size-big );

@use "table" with ($background__header: $neutral-light-back,
$background__footer: $brand2-light-back,
$background__item-even: $neutral-light-back,
$background__item: $base-light-back,
$border__header: $neutral-light-line,
$border__item: $neutral-light-line,
$border__wrapper: $neutral-light-line,
$box-shadow-focus: $box-shadow-focus,
$gap: $gap,
$font-size-small: $font-size-small,
$radius: $radius,
$color-icon-sort: $neutral-dark-text,
$color-icon-sort-active: $brand-dark-line );

@use "modal" with ($background: $base-dark-back,
$color__title: $base-dark-text,
$border__separator: $base-light-back,
$background__content: $base-light-back,
$background__separator: $neutral-light-line,
$border__footer: $neutral-light-line,
$border__header: $neutral-light-line,
$background-color__close: $neutral-light-text,
$background-color__close-hover: $neutral-dark-back,
$radius: $radius,
$z-index: $modal-index,
$gosbar-height: $gosbar-height,
$gap: $gap,
$font-size-section-title-big: $font-size-section-title-big,
$font-size-section-title: $font-size-section-title,
$shadow-big: $shadow-big,
$box-shadow-focus: $box-shadow-focus,
$shadow: $shadow );

@use "links-list" with ($color__link: $neutral-dark-text, $gap: $gap, $box-shadow-focus: $box-shadow-focus);

@use "separator" with ($border-bottom: $neutral-light-line,
$gap: $gap,
$background-color__text: $base-light-back,
$background-color_vertical: $base-dark-back );

@use "sidebar-menu" with ($gap: $gap,
$font-size-small: $font-size-small,
$color__preview: $neutral-dark-text,
$fill__preview-arrow: $brand-dark-back,
$color__preview-active: $brand-light-text,
$background-color__preview-active: $brand2-light-back,
$border__list: $neutral-light-line,
$background-color__list: $base-light-back,
$color__item: $neutral-dark-text,
$background-color__item_active: $brand2-light-back,
$color__item_active: $brand-dark-back,
$color__item-hover: $brand-light-text,
$border-radius: $radius,
$shadow__list: $shadow );

@use "pagination" with ($color__item: $base-dark-back,
$background-image__item_next: $base-dark-back,
$color__item_active: $base-light-back,
$background-image__item_disabled: $neutral-dark-line,
$border__item: $neutral-dark-back,
$border__item-active: $brand-light-text,
$border-color__item-disable: $neutral-light-line,
$background__item_active: $brand-dark-back,
$box-shadow-focus: $box-shadow-focus,
$radius: $radius,
$gap: $gap,
$font-size-smaller: $font-size-smaller,
$font-size-small: $font-size-small,
$color__kebab: $brand-dark-line );

@use "textarea" with ($gap: $gap,
$radius: $radius,
$color__control-require: $negative-dark-text,
$border-color__error: $negative-dark-text,
$color_error: $negative-dark-text,
$color__control: $base-dark-text,
$color__append: $base-dark-text,
$color__control-placeholder: $neutral-light-text,
$background__control: $base-light-back,
$background__control-disabled: $neutral-light-back,
$background__append: $brand2-light-back,
$border__control: $neutral-dark-line,
$border__append: $neutral-dark-line,
$border__control-focus: $brand-dark-line,
$font-size-smaller: $font-size-smaller,
$font-size-small: $font-size-small );

@use "spoiler" with ($arrow-gap: $gap,
$control: $brand-dark-back,
$text-color: $base-dark-back,
$text-color-name: $brand-dark-text,
$box-shadow-focus: $box-shadow-focus,
$font-size-control: $font-size-small );

@use "banner" with ($gap: $gap,
$radius: $radius,
$box-shadow-focus: $box-shadow-focus,
$color__text: $base-light-back,
$color__link: $base-light-back,
$background: $brand2-dark-back,
$font-size-text: $font-size-section-title );

@use "banner-new" with ($gap: $gap, $radius: $radius, $color__content: $base-light-back, $background: $brand2-dark-back);

@use "tooltip" with ($gap: $gap * 0.5,
$radius: math.div($radius, 2),
$border: $neutral-light-line,
$background: $base-light-back,
$text: $neutral-dark-text,
$helper: $brand-dark-back,
$helper-active: $brand-dark-text,
$z-index: $tooltip-index,
$shadow-color: $base-dark-back,
$shadow-params: $shadow,
$themes: (("name": "default"),
("name": "dark",
"gap": $gap,
"border-size": 0,
"background": $base-dark-back,
"text": $base-light-text,
"font": $font-size-small,
"arrow-size": px(6),
"max-width": px(320)),
));

@use "status" with ($font-size-section-title-big: $font-size-section-title-big,
$font-family: $sans-serif,
$color: $brand2-dark-text,
$color_muted: $neutral-light-text,
$color_success: $positive-dark-text,
$color_warning: $attention-dark-text,
$color_danger: $negative-dark-text );

@use "definitions" with ($color__key: $base-dark-text, $color_reverse: $neutral-dark-text, $gap: $gap);

@use "step" with ($color__label: $base-light-text,
$background__label: $brand-dark-back,
$border-color__label: $brand-dark-back,
$background-color__item-after: $brand-dark-back,
$color__item_disabled: $neutral-dark-back,
$background-color__item_disabled: $base-light-back,
$border-color__item_disabled: $neutral-dark-back,
$color__item_active: $brand-dark-back,
$background-color__item_active: $base-light-back,
$border-color__item_active: $neutral-dark-back,
$background-color__item_disabled-after: $neutral-dark-back,
$border-color__item_active-after: $brand-dark-back,
$font-size-small: $font-size-small,
$gap: $gap,
$font-size: $font-size );

@use "step-check" with ($color__title: $base-dark-text,
$color__text: $neutral-light-text,
$border-color__item_disabled: $neutral-light-line,
$color__item_disabled: $neutral-light-line,
$stroke__item_disabled: $neutral-light-line,
$background-color__item_disabled: $neutral-light-line,
$background-color__label-after: $neutral-light-line,
$color__label: $brand-dark-back,
$stroke__label: $brand-dark-back,
$border__label: $brand-dark-back,
$background-color__label: $brand-dark-back,
$gap: $gap,
$color_fill: $base-light-text,
$stroke_fill: $base-light-text,
$font-size-small: $font-size-small,
$font-size-smaller: $font-size-smaller );

@use "navigation" with ($gap: $gap,
$background__list: $base-light-back,
$background__preview: $base-light-back,
$background__item_active: $brand2-light-back,
$background__item-after: $brand-dark-line,
$border__list: $neutral-light-line,
$border__preview: $neutral-dark-line,
$color__item: $neutral-dark-text,
$color__preview: $neutral-dark-text,
$color__item-hover: $brand-light-text,
$color__item_active: $brand-dark-text,
$color__preview-hover: $brand-light-text,
$arrow-progress: $brand-dark-line,
$color_progress: $brand-dark-line,
$color_progress-null: $neutral-light-text,
$radius: $radius,
$font-size-small: $font-size-small,
$content-start: $content-start,
$shadow-list: $shadow,
$box-shadow-focus: $box-shadow-focus,
$top-gap-from-content: $top-gap-from-content,
$border__progress: $neutral-light-line,
$background-color__progress: $base-light-back );

@use "anchor" with ($content-start: $content-start, $top-gap-from-content: $top-gap-from-content);

@use "counter" with ($color_events: $base-light-text,
$color_circle: $base-light-text,
$color_title: $neutral-light-text,
$background_events: $brand3-dark-back,
$gap: $gap,
$radius: $radius,
$color: $brand-dark-text,
$background_circle: $brand2-dark-back,
$font-size-section-title-big: $font-size-section-title-big,
$font-size-smaller: $font-size-smaller );

@use "tabs" with ($gap: $gap,
$radius: $radius,
$color__item: $neutral-dark-text,
$color__preview: $brand-dark-text,
$color__item-active: $brand-dark-text,
$background__preview: $brand-dark-text,
$decoration: $brand-dark-text,
$border-color__item-active: $brand-dark-text,
$border-bottom: $neutral-light-line,
$font-size-small: $font-size-small,
$box-shadow-focus: $box-shadow-focus,
$font-size: $font-size,
$border__item: $neutral-dark-line,
$background-color_column: $base-light-back,
$background-color__list: $base-light-back,
$background-color_radio: $base-light-back,
$background-color__item-element: $brand-dark-back,
$background-color__item-active: $brand2-light-back,
$color__preview-hover: $brand-light-text,
$color__item-hover: $brand-light-text,
$border-color__item-hover: $brand-light-text,
$progress-color: $brand-dark-line,
$font-size-big: $font-size-big,
$border__list-vertical: $neutral-light-line );

@use "bargraph" with ($font-size-smaller: $font-size-smaller, $border: $neutral-dark-back, $background__amount: $brand-dark-back);

@use "badge" with ($gap: $gap,
$border_round: $neutral-light-line,
$background_round: $base-light-back,
$background_transparent: $base-light-back,
$font-size-small: $font-size-small,
$radius: $radius,
$background: $neutral-light-back,
$color__icon: $brand-dark-back,
$color: $neutral-dark-text,
$color__close: $neutral-dark-text,
$background-color_success: $positive-dark-back,
$color_success-icon: $positive-dark-text,
$background-color_danger: $negative-light-back,
$color_danger-icon: $negative-dark-back,
$background-color_warning: $attention-light-back,
$color_warning-icon: $attention-dark-line,
$background-color_switchable: $brand2-light-back,
$background-color_switchable-checked: $brand2-dark-back,
$color_checked: $base-light-back,
$background-color_error: $negative-light-back,
$color_error: $negative-dark-line,
$color__star: $neutral-dark-back,
$color_warning-danger: $base-dark-text,
$box-shadow-focus: $box-shadow-focus,
$color__star_active: $brand-dark-back );

@use "button-switch" with ($color: $neutral-light-text,
$gap: $gap,
$stroke__control: $brand-dark-back,
$fill__control: $brand-dark-back,
$box-shadow-focus: $box-shadow-focus,
$stroke__icon: $brand-light-text );

@use "notifications" with ($radius: $radius,
$border__card: $neutral-dark-back,
$color__card: $brand-dark-back,
$color__card-icon: $brand-dark-back,
$color__card_success: $positive-dark-text,
$border-color__card_success: $positive-dark-text,
$color__card_warning: $attention-dark-text,
$border-color__card_warning: $attention-dark-text,
$color__card_danger: $negative-dark-back,
$border-color__card_danger: $negative-dark-back,
$color__card-content: $base-dark-text,
$color__card_success-icon: $base-dark-text,
$background__card: $base-light-back,
$background__card_success: $positive-light-back,
$background__card_warning: $attention-light-back,
$background__card_danger: $negative-light-back,
$gap: $gap,
$font-size: $font-size,
$content-start: $content-start,
$z-index: $notifications-index,
$shadow: $shadow-big );
@use "image-wrapper" with ($color__alt: $base-dark-text, $gap: $gap, $border__alt: $neutral-dark-line);

@use "form" with ($gap: $gap,
$color__description: $neutral-dark-text,
$color__title_required: $negative-dark-text,
$font-size-smaller: $font-size-smaller,
$font-size: $font-size,
$radius: $radius,
$background-color__warning: $attention-light-back,
$color__warning-icon: $attention-dark-line,
$background__description_dynamic: $brand2-light-back,
$font-size-small: $font-size-small );

@use "progress" with ($background: $neutral-light-line,
$color: $brand-dark-back,
$background-final: $positive-dark-text,
$gap: $gap,
$color__title: $neutral-light-text,
$color_effective: $base-dark-text,
$background-red: $negative-dark-back,
$background-orange: $attention-dark-back,
$font-size-smaller: $font-size-smaller );

@use "dropdown" with ($background: $base-light-back,
$color__split-button: $base-light-back,
$background-hover: $brand2-light-back,
$font-size-small: $font-size-small,
$gap: $gap,
$color-item: $neutral-dark-text,
$radius: $radius,
$border__split-button: $brand-dark-back,
$background-color__split-button: $brand-dark-back,
$color_secondary: $brand-dark-back,
$border_arrow: $brand-dark-back,
$stroke-icon: $brand-dark-back );

@use "tabs-wrapper" with ($gap: $gap,
$color: $neutral-dark-text,
$background-color-active-item-element: $brand-dark-back,
$background-color__list-active: $brand2-light-back,
$color__list-active: $brand-dark-text,
$color__preview: $brand-light-text,
$border-color__preview: $brand-light-text,
$arrow-color__preview: $brand-light-text,
$progress-color: $brand-dark-line );

@use "container-target" with ($z-index: $fixed-target, $background-color: $footer-background);

@use "upload" with ($gap: $gap,
$color__control-required: $negative-dark-text,
$color__label: $brand-dark-back,
$color__label-hover: $brand-light-text,
$color__description: $neutral-dark-text,
$font-size-smaller: $font-size-smaller,
$box-shadow-focus: $box-shadow-focus,
$font-size-small: $font-size-small,
$color__error: $negative-dark-text );

@use "file-preview" with ($color__data: $neutral-dark-text,
$gap: $gap,
$font-size-smaller: $font-size-smaller,
$font-size-small: $font-size-small );

@use "warning-text" with ($color_danger: $base-light-text, $background_danger: $negative-dark-back);

@use "wysiwyg" with ($gap: $gap,
$border-color: $neutral-dark-line,
$bg-color: $neutral-light-back,
$radius: $radius,
$border-focus: $brand-dark-line,
$background: $base-light-back,
$mce-color: $base-dark-text,
$color-text-error: $negative-dark-text );

@use "content" with ($gap: $gap,
$color: $base-dark-text,
$color_muted: $neutral-dark-text,
$color_pale: $neutral-light-text,
$color_brand: $brand-dark-text,
$color_positive: $positive-dark-text,
$color_important: $negative-dark-text,
$color__asterisk: $negative-dark-text,
$color_approved: $brand2-dark-back,
$color_warning: $attention-dark-text,
$font-size: $font-size,
$font-size-title: $font-size-title,
$font-size-title-big: $font-size-title-big,
$font-size-title-huge: $font-size-title-huge,
$font-size-subtitle: $font-size-subtitle,
$font-size-subtitle-big: $font-size-subtitle-big,
$font-size-section-title: $font-size-section-title,
$font-size-section-title-big: $font-size-section-title-big,
$font-size-section-title-small: $font-size-section-title-small,
$font-size-section-title-small-big: $font-size-section-title-small-big,
$font-size-section-subtitle: $font-size-section-subtitle,
$font-size-small: $font-size-small,
$font-size-smaller: $font-size-smaller,
$font-size-big: $font-size-big );

@use "date-preview" with ($font-size-small: $font-size-small, $font-size-smaller: $font-size-smaller, $color: $neutral-light-text);

@use "dialog" with ($gap: $gap,
$radius: $radius,
$font-size-smaller: $font-size-smaller,
$font-size-small: $font-size-small,
$background__message_in: $positive-dark-back,
$background__message_out: $brand2-light-back,
$background__message_gray: $neutral-light-line,
$background__date-separator: $neutral-light-line,
$color__name: $neutral-light-text,
$color__date: $neutral-light-text );

@use "coloring" with ($colors: (base-light-back: #ffffff,
base-dark-text: #25282b,
brand2-light-back: #edf5fc,
brand2-dark-back: #69b3e7,
brand3-dark-back: #e64920,
brand-dark-back: #0e65b7,
brand-dark-text: #014898,
brand-light-text: #1e88db,
positive-light-back: #f6fdf9,
positive-dark-back: #d5f8e3,
positive-dark-text: #1ab759,
negative-dark-back: #e93c3c,
negative-light-back: #fff8f8,
attention-light-back: #fffbf5,
attention-dark-back: #e89806,
neutral-light-back: #f9f9fa,
neutral-light-text: #a0a4a8,
neutral-light-line: #e8e8e8,
neutral-dark-back: #cacccf,
neutral-dark-text: #52575c,
));

@use "bootstrap-spacing";

@use "avatar" with ($background-color_default: $neutral-light-back,
$border-color_default: $neutral-dark-back,
$background-image_default: $neutral-light-text );

@use "tree" with ($gap: $gap,
$background-color: $base-light-back,
$background-color__hide-button: $base-light-back,
$border-color: $neutral-light-line,
$border__item: $neutral-light-line,
$color__label_active: $brand-dark-back,
$background-image__label_active: $brand-dark-back,
$active-special-color: $brand2-light-back,
$default-color: $neutral-dark-text );

@use "tree-structure" with ($gap: $gap,
$background-color: $base-light-back,
$border__item: $neutral-light-line,
$background-image__label_active: $brand-dark-back,
$background__label_active: $brand2-light-back,
$color__item_hover: $brand-light-text,
$default-color: $neutral-dark-text );

@use "tree-table" with ($gap: $gap,
$background-color__item: $base-light-back,
$background-color__item_hover: $brand2-light-back,
$color__collapse-control: $brand-dark-text,
$border__item: $neutral-light-line,
$background-image__collapse-control: $brand-dark-text );

@use "tree-nested" with ($gap: $gap,
$color__collapse_hover: $brand-light-text,
$background__collapse_selected: $brand-light-back,
$default-color: $neutral-dark-text );

@use "message-bar" with ($background_generic: $brand-light-back,
$background_success: $positive-light-back,
$background_warning: $attention-light-back,
$background_error: $negative-light-back,
$font-size-small: $font-size-small,
$radius: $radius,
$gap: $gap );

@use "align";
