@use "../../functions";

$stroke_brand: #0E65B7 !default;
$stroke_good: #1AB759 !default;
$stroke_light: #FFFFFF !default;
$stroke_default: #25282B !default;
$stroke_danger: #E93C3C !default;
$stroke_warning: #E89806 !default;
$stroke_blue: #69B3E7 !default;
$stroke_gray: #A0A4A8 !default;
$stroke_muted: #52575C !default;

.icon {
  fill: none;
  height: functions.px(24);
  min-width: functions.px(24);
  pointer-events: none;
  stroke: currentColor;
  width: functions.px(24);

  &_in-text {
    line-height: 1.25em;
    line-height: 1lh !important;
    vertical-align: middle;
  }

  &_middle {
    align-self: center;
    vertical-align: middle;
  }

  &_xs {
    height: functions.px(12);
    min-width: functions.px(12);
    width: functions.px(12);
  }

  &_s {
    height: functions.px(16);
    min-width: functions.px(16);
    width: functions.px(16);
  }

  &_m {
    height: functions.px(20);
    min-width: functions.px(20);
    width: functions.px(20);
  }

  &_b {
    height: functions.px(40);
    min-width: functions.px(40);
    width: functions.px(40);
  }

  &_l {
    height: functions.px(48);
    min-width: functions.px(48);
    width: functions.px(48);
  }

  &_x3 {
    height: functions.px(64);
    min-width: functions.px(64);
    width: functions.px(64);
  }

  &_brand {
    stroke: $stroke_brand;
  }

  &_good {
    stroke: $stroke_good;
  }

  &_light {
    stroke: $stroke_light;
  }

  &_danger {
    stroke: $stroke_danger;
  }

  &_warning {
    stroke: $stroke_warning;
  }

  &_default {
    stroke: $stroke_default;
  }

  &_gray {
    stroke: $stroke_gray;
  }

  &_muted {
    stroke: $stroke_muted;
  }

  &_blue {
    stroke: $stroke_blue;
  }
}
