$z-index: 10005 !default;

@use "../../functions";

.loader {
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-name: background;
  animation-timing-function: linear;
  background: functions.inlineSVG(
    '<svg viewBox="0 0 960 540" fill="none" xmlns="http://www.w3.org/2000/svg"><style>@keyframes a{50%{opacity:.1;transform:scale(.7)}}use{animation:a 2s infinite linear;transform-origin:center;fill:#6cb2e3}</style><path id="b" d="M446 200v125c0 8 8 12 15 8l104-62c6-4 6-13 0-17l-104-62c-6-4-15 1-15 8z"/><use href="#b" y="118"/><use href="#b" x="120" style="animation-delay:-.2s"/><use href="#b" y="-118" style="animation-delay:-.4s"/><use href="#b" x="-120" style="animation-delay:-.8s"/></svg>'
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-index;
}

@keyframes background {

  0%,
  50% {
    opacity: 0;
  }
}
