@use "../../functions";

$gap: functions.px(10) !default; //$gap
$color__customer: #52575C !default;
$font-size-big: functions.px(18) !default;
$font-weight__customer: 500;
$color__date: #A0A4A8 !default;
$font-size-small: functions.px(14) !default;
$line-height__customer: 1.5;

.vacancy-sidebar {

  &__price {
    font-size: $font-size-big;
    font-weight: $font-weight__customer;
    margin-bottom: $gap * 1.5;
  }

  &__customer {
    font-weight: $font-weight__customer;
    line-height: $line-height__customer;

    &-company-name {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      max-height: functions.px(84);
      overflow: hidden;
    }

    &-practice {
      color: $color__customer;
      font-weight: 400;
      margin-bottom: $gap;
    }

    &-label {
      color: $color__customer;
      font-weight: 400;
      margin-bottom: $gap * 0.2;
    }

    &-address {
      font-weight: 400;
      line-height: $line-height__customer;
      margin-bottom: $gap;
    }
  }

  &__address {
    line-height: $line-height__customer; // TO DO удалить после перенесения правок статики в инфоблок, т.к. дублируется выше в блоке кастомера, т.к. изменился внешний вид по дизайну
  }

  &__date {
    color: $color__date;
    font-size: $font-size-small;
    font-weight: 500;
    margin: $gap * 1.5 0 $gap * 2.5;
  }

  &__approve {
    @media (min-width: functions.px(992)) {
      margin-bottom: $gap * 2.5;
    }

    .button {
      width: 100%;
    }
  }
}
