@use "../../functions";

$font-size-small: functions.px(14) !default;
$font-size-smaller: functions.px(12) !default;
$color: #A0A4A8 !default;

.date-preview {
  color: $color;
  font-size: $font-size-small;
  font-weight: 500;
  line-height: 1.286;

  &_small {
    font-size: $font-size-smaller;
    line-height: 1.5;
  }
}
