@use "../../functions";

$control: #0E65B7 !default;
$text-color: #25282B !default;
$arrow-gap: functions.px(10) !default;
$text-color-name: #014898 !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

$line-height-control: 1.357em;
$arrow-size: 1.1em;

$font-size-control: functions.px(14) !default;

.spoiler {
  animation: spoiler-show 200ms linear;

  &__control[data-target],
  &__control[href^="#"] {
    background: transparent;
    border: 0;
    color: $text-color;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: $line-height-control;
    padding: 0 0 0 calc(#{$arrow-size} + #{$arrow-gap});
    position: relative;
    text-decoration: none;
    user-select: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }

    &::before {
      background-image: functions.inlineSVG(
        "<svg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M6 9l6 6 6-6' stroke='" +
        $control + "' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>"
      );
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
      height: $line-height-control;
      left: 0;
      position: absolute;
      top: 0;
      transition: transform 0.2s ease-out;
      width: calc(1em * 1.1);
    }

    > * {
      pointer-events: none;
    }
  }

  &__control:not([aria-expanded="true"])::before {
    transform: rotate(-90deg);
  }

  &__control:not([data-target]):not([href^="#"]) {
    opacity: 0.6;
    pointer-events: none;
  }

  &:not(&_active) {
    display: none;
  }

  &_animated {
    height: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.3s ease, margin 0.3s ease;
  }

  &__control[data-name] {
    color: $text-color-name;
    font-size: $font-size-control;
    font-weight: 500;
    padding: 0 calc(#{$arrow-size} + #{$arrow-gap}) 0 0;

    &::before {
      left: auto;
      right: 0;
      transform: rotate(180deg);
    }
  }

  &__control[data-name]:not([aria-expanded="true"])::before {
    transform: rotate(0deg);
  }
}

@keyframes spoiler-show {

  from {
    opacity: 0;
  }
}
