$margin-bottom: 40px !default;
$head-title-background-color: rgb(31, 53, 136) !default;
$head-title-color: rgb(255, 255, 255) !default;
$item-odd-cell-background-color: #f9f9fb !default;
$cell-border-color: rgb(235, 235, 235) !default;
$cell-sorting-border-color: $head-title-color !default;

%button {
  appearance: initial;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  outline: 0;
  user-select: none;
  pointer-events: auto;
  nav-index: 1;
}

.table {
  border: 1px solid $cell-border-color;
  border-collapse: collapse;
  margin-bottom: $margin-bottom;
  word-break: keep-all;
  width: 100%;
  display: table;
  box-sizing: border-box;

  &__wrapper {
    overflow: auto;
    margin-bottom: 20px;
  }

  &__wrapper > & {
    margin-bottom: 0;
  }

  &__header {
    display: table-header-group;
    vertical-align: middle;
  }

  &__body {
    display: table-row-group;
    vertical-align: middle;
  }

  &__footer {
    display: table-footer-group;
    vertical-align: middle;
  }

  &__title {
    padding: 8px;
    box-sizing: border-box;
    display: table-cell;
  }

  &__head &__title {
    background: $head-title-background-color;
    color: $head-title-color;
    vertical-align: top;
  }

  &__head,
  &__item {
    display: table-row;
  }

  &__item &__title {
    font-weight: bold;
  }

  &__cell {
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid $cell-border-color;
    display: table-cell;
    vertical-align: top;
  }

  &__item:nth-child(odd) &__cell {
    background: $item-odd-cell-background-color;
  }

  &_stripless .table__item:nth-child(odd) &__cell {
    background: transparent;
    padding: 12px;
  }

  &__sorting {
    @extend %button;
    width: calc(100% + 16px);
    height: 100%;
    background: none;
    padding: 8px 32px 8px 8px;
    color: inherit;
    font-weight: inherit;
    margin: -8px;
    min-height: 40px;
    display: block;
    box-sizing: border-box;
    position: relative;

    &::before,
    &::after {
      content: "";
      border: 5px solid transparent;
      width: 0;
      height: 0;
      position: absolute;
      right: 10px;
    }

    &::before {
      border-bottom: 5px solid rgba($cell-sorting-border-color, 0.5);
      top: 10px;
    }

    &::after {
      border-top: 5px solid rgba($cell-sorting-border-color, 0.5);
      top: 22px;
    }

    &_up::before {
      border-bottom-color: $cell-sorting-border-color;
    }

    &_down::after {
      border-top-color: $cell-sorting-border-color;
    }
  }
}
