@use "../../functions";

$gap: functions.px(10) !default;
$background-color: #EDF5FC !default;

.vacancy-banner {
  background-color: $background-color;
  margin-left: $gap * -3;
  margin-right: $gap * -3;
  padding: $gap * 2 $gap * 3;

  &__link {
    align-items: center;
    display: inline-flex;
  }
}
