@use "sass:math";
@use "../../images" as *;
@use "../../functions";

$max-height-mobile: functions.px(300);
$max-height-img-desktop: functions.px(290);
$height-desktop: functions.px(480);

.banner-triangle {
  // Первый элемент - фейк для мобил. Анимируем при: 3 - 5 элементах, то есть при 2 - 4 кадрах.
  @for $nodes-amount from 3 through 5 {
    $frames-amount: $nodes-amount - 1;
    $animation-name: afade-#{$frames-amount};
    $animation-duration: $frames-amount * 5s;
    $transition-duration: 0.3s;

    &__slide {
      // Первый элемент - фейк для мобил. Анимируем начиная со второго элемента.
      @for $node-position from 2 through $nodes-amount {
        $animation-delay: ($node-position - 2) * 5s;

        &:nth-last-child(n + #{$nodes-amount}) ~ &:nth-child(#{$node-position}) {
          animation: $animation-name $animation-duration infinite linear $animation-delay;
        }
      }
    }

    @keyframes afade-#{$frames-amount} {
      $percentage-transition-duration: math.div($transition-duration, $animation-duration) * 100;
      #{math.div(100%, $frames-amount)},
      #{1% * $percentage-transition-duration} {
        opacity: 1;
      }

      #{math.div(100%, $frames-amount) + $percentage-transition-duration} {
        opacity: 0;
      }
    }
  }

  @media (min-width: functions.px(768)) {
    background-image: url("banner-triangle/triangle-back.svg");
    background-position: 0 0;
    background-repeat: no-repeat;

    background-size: contain;
    height: $height-desktop;
    position: relative;
    width: 100%;

    @if (not $images) {
      background-image: none;
    }

    &__slide {
      left: functions.px(50);
      max-height: $max-height-img-desktop;
      opacity: 0;
      position: absolute;
      top: 55%;
      transform: translateY(-50%);
    }
  }

  &__slide {
    max-height: $max-height-mobile;
  }
}
