$color__delete: #52575C !default;
$color__arrow: #CACCCF !default;
$color__arrow_active: #0E65B7 !default;
$color__arrow_hover: #1E88DB !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;
$color__delete_hover: #A0A4A8 !default;
$gap: functions.px(10) !default;

.sorting {
  display: inline-flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;

  &__arrows {
    margin-right: $gap * 1.5;
  }

  &__delete,
  &__arrow {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  &__arrow:hover {
    color: $color__arrow_hover;
  }

  &__delete:hover {
    color: $color__delete_hover;
  }

  &__delete {
    color: $color__delete;
  }

  &__arrow {
    color: $color__arrow;

    &_active {
      color: $color__arrow_active;
    }

    &_rotate {
      transform: rotate(180deg);
    }
  }
}
