@use "../../functions";

$background: #FFFFFF !default;
$border: #CCCCCC !default;
$gap: functions.px(10) !default;
$radius: functions.px(8) !default;
$outer-gap: functions.px(15);

.card-opendata {
  background: $background;
  border-bottom: functions.px(1) solid $border;
  border-top: functions.px(1) solid $border;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: -$outer-gap;
  margin-right: -$outer-gap;
  overflow: visible;
  padding: $gap * 2 $gap * 1.5 $gap * 2.5;

  @media (min-width: functions.px(576)) {
    border-left: functions.px(1) solid $border;
    border-radius: $radius;
    border-right: functions.px(1) solid $border;
    margin-left: 0;
    margin-right: 0;
    padding: $gap * 2.5 $gap * 3 $gap * 3;
  }

  &_body {
    flex: 1 0 auto;
  }

  &_footer {
    flex: 0 0 auto;
    margin-top: $gap * 2;
  }
}
