.header {

  &__logo {
    display: block;
    width: 234px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: transparent url('../images/logotype.svg') no-repeat left top / contain;
  }
}
