$text: rgb(31, 53, 136) !default;
$text-hover: rgb(255, 66, 82) !default;

.anchor {
  text-decoration: none;
  border: 0;
  color: $text;
  cursor: pointer;
  border-bottom: 1px dashed currentColor;
  background: transparent;

  &:hover,
  &:focus {
    color: $text-hover;
    text-decoration: none;
  }
}
