@use "sass:math";

@use "../../functions";

$background: #FFFFFF !default;
$border: #CCCCCC !default;
$border-color_active: #0E65B7 !default;
$radius: functions.px(8) !default;
$gap: functions.px(10) !default;
$color_viewed: #A0A4A8 !default;
$color__go-to-button: #A0A4A8 !default;
$color__go-to-button_hover: #0E65B7 !default;
$color_on-map_hover: #014898 !default;
$color__wrapper: #52575C !default;
$shadow: 0 functions.px(4) functions.px(20) rgba(37, 40, 43, 0.15) !default;
$size__internships: functions.px(24);
$background__internships: #F9F9FA !default;
$color__internships: #0E65B7 !default;
$search-xs-width: functions.px(576);

@use "sass:color";

.search-results-simple-card {
  background: $background;
  border: functions.px(1) solid $border;
  border-radius: 0;
  box-sizing: border-box;
  margin-left: -$gap * 1.5;
  margin-right: -$gap * 1.5;
  padding: $gap * 1.5 $gap * 2;

  @media (min-width: $search-xs-width) {
    border-radius: $radius;
    margin: 0;
  }

  &_resume &__icon {
    flex: 0 0 functions.px(40);
  }

  &_course &__salary {
    margin-bottom: 0;
  }

  &_course &__main-content {
    align-self: end;
  }

  &_course &__name {
    align-self: start;
    padding-right: 0;
  }

  &:hover:not(&_on-map) {
    box-shadow: $shadow;
  }

  &_on-map:hover &__name {
    color: $color_on-map_hover;
  }

  &:hover {
    cursor: pointer;
  }

  &_active {
    border-color: $border-color_active;
    border-left-width: functions.px(3);
    padding-left: $gap * 2 - functions.px(2);
  }

  &_viewied &__name {
    color: $color_viewed;
  }

  &_on-map {
    border-left: none;
    border-radius: 0;
    border-right: none;
    border-top: none;
  }

  &__wrapper {
    color: $color__wrapper;
    display: flex;
    flex-flow: row nowrap;
    min-height: functions.px(40);

    &_column {
      flex-flow: column wrap;
    }
  }

  &__wrapper + &__wrapper {
    margin-top: math.div($gap, 2);
  }

  &__main-content {
    flex: 1 1 auto;
    padding-right: $gap;
  }

  &__name {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-height: 1.25;
    max-height: functions.px(60);
    overflow: hidden;
  }

  &__salary {
    font-weight: 500;
    margin-bottom: math.div($gap, 2);
  }

  &__icon {
    align-self: end;
    flex: 0 0 functions.px(35);
  }

  &__date {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
  }

  &__internships {
    align-items: center;
    background: $background__internships;
    border-radius: $radius;
    box-sizing: border-box;
    color: $color__internships;
    display: inline-flex;
    height: $size__internships;
    line-height: $size__internships;
    padding: math.div($gap, 2);
    width: $size__internships;
  }

  &__go-to-button {
    color: $color__go-to-button;

    &:hover,
    &:focus {
      color: color.adjust($color__go-to-button_hover, $hue: -3deg, $saturation: -10%, $lightness: 10%);
    }
  }

  &__go-to-button &__icon {
    $font-size: functions.px(18);
    $icon-size: functions.px(16);
    height: $icon-size;
    min-width: $icon-size;
    vertical-align: functions.valign-middle($font-size, $icon-size);
    width: $icon-size;
  }
}
