$grid-gap: 10px !default;
$bebas: "AA-BebasNeue", sans-serif !default;
$a-color: rgb(255, 66, 82) !default;

.statistics {

  // if card is link
  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__val {
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: $grid-gap;
  }

  &__num {
    font-family: $bebas;
    font-size: 58px; // custom size
    color: $a-color;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #fff; // custom color
  }

  &__description {
    display: block;
    font-weight: bold;
  }

}
