$gap: 10px !default;
$radius: 4px !default;
$background:  rgb(255, 66, 82) !default;
$shadow: rgb(52, 52, 52) !default;
$text: rgb(255, 255, 255) !default;
$height: 34px !default;
$delete: rgb(52, 52, 52) !default;
$shadow-lite: $text !default;
$delete-size: $height !default;
$required: rgb(255, 66, 82) !default;

.upload {
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: repeat(2, auto);

  pointer-events: none;
  word-break: normal;

  &:before {
    grid-row: 2;
    grid-column: 1 / 2;

    display: flex;
    align-items: center;
    justify-content: center;
    content: attr(data-name) " " attr(data-document);
    appearance: initial;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    user-select: none;
    pointer-events: auto;
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 6px 12px;
    text-decoration: none;
    height: $height;
    transition: box-shadow 150ms;
    box-shadow: inset 0 -2px rgba($shadow, 0.2), inset 0 0 0 1px rgba($shadow-lite, 0.15);
    background-color: $background;
    color: $text;
    border-radius: $radius;
  }

  &:hover {

    &::before {
      box-shadow: inset 0 -2px rgba($shadow, 0.2), inset 0 5px 20px 5px rgba($shadow-lite, 0.15);
    }
  }

  &__label {
    grid-row: 1;
    grid-column: 1 / 4;

    font-weight: bold;
    padding-bottom: 0.4em;
    pointer-events: auto;
    display: block;
  }

  &__control[required] ~ &__label::after {
    content: "*";
    color: $required;
  }

  &__control[hidden] {
    display: none;
  }

  &__file {
    grid-column: 2 / 3;
    grid-row: 2;

    padding: 6px;
    display: block;

    &-item {
      word-break: break-word;
      line-height: 1em;
    }

    &-item + &-item {
      margin-top: $gap;
    }
  }

  &__delete {
    grid-column: 3 / 4;
    grid-row: 2;

    width: $delete-size;
    height: $delete-size;
    position: relative;
    cursor: pointer;
    pointer-events: auto;
    display: block;

    &::before ,
    &::after {
      background: $delete;
      content: "";
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%) rotate(45deg);
      height: 2px;
      width: 15px;
    }

    &::after {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }

  &[data-name=""]::before,
  &:not([data-name])::before {
    content: "Загрузить";
  }

  &:not([data-change="true"]) {

    .upload__file , .upload__delete {
      display: none;
    }
  }
}
