$description-color: #52575C !default;
$requirment-icon-color: #E93C3C !default;
$gap: 10px !default;

$description-text-size: 12px;
$line-height-description: 16px;

.form {

  &__fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;

    &:not(:first-of-type) {
      margin-top: $gap * 2;
    }
    // Reset fieldset && legend
    body:not(:-moz-handler-blocked) & {
      display: table-cell;
    }
  }

  &_descripted &__section {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      grid-template-columns: 1fr minmax(100px, 250px);
    }

    @media (min-width: 992px) {
      grid-template-columns: 1fr minmax(100px, 280px);
    }
  }

  &__section:not(:last-child) {
    margin-bottom: $gap * 2;
  }

  &__title {
    display: block;
    margin: 0 0 $gap;
    font-weight: 600;
    cursor: default;
    padding: 0;
    width: 100%;

    &_required::after {
      color: $requirment-icon-color;
      // &nbsp; unicode char \00A0
      content: "\00A0*";
    }

    &_hidden {
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }
  }

  &__description {
    grid-column: 2;
    grid-row: 1 / 100;
    padding: 26px 0 0 30px;
    font-size: $description-text-size;
    line-height: $line-height-description;
    color: $description-color;

    &_no-title {
      padding-top: 0;
    }

    @media (max-width: 767px) {
      grid-column: 1;
      grid-row: 2;
      padding: 0;
      margin-top: $gap;
    }
  }

  @media (max-width: 767px) {

    &__description + &__fieldset {
      margin-bottom: 0;
    }
  }
}
