@use "sass:map" as *;
@use "sass:list" as *;

$colors: 1 !default;

$_colors-map: (
  "base-light-back": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "base-light-text": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "base-light-line": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "base-dark-back": (#25282B, #FFFFFF, #063462, #25282B),
  "base-dark-text": (#25282B, #FFFFFF, #063462, #25282B),
  "base-dark-line": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "neutral-light-back": (#F9F9FA, #25282B, #9DD1FF, #FFFFFF),
  "neutral-light-text": (#A0A4A8, #FFFFFF, #063462, #25282B),
  "neutral-light-line": (#E8E8E8, #25282B, #9DD1FF, #FFFFFF),
  "neutral-dark-back": (#CACCCF, #25282B, #9DD1FF, #FFFFFF),
  "neutral-dark-text": (#52575C, #FFFFFF, #063462, #25282B),
  "neutral-dark-line": (#A0A4A8, #FFFFFF, #063462, #25282B),
  "positive-light-back": (#E5FFEC, #25282B, #9DD1FF, #FFFFFF),
  "positive-light-text": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "positive-light-line": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "positive-dark-back": (#D5F8E3, #25282B, #9DD1FF, #FFFFFF),
  "positive-dark-text": (#1AB759, #FFFFFF, #063462, #25282B),
  "positive-dark-line": (#1AB759, #FFFFFF, #063462, #25282B),
  "negative-light-back": (#FFEEED, #25282B, #9DD1FF, #FFFFFF),
  "negative-light-text": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "negative-light-line": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "negative-dark-back": (#E93C3C, #FFFFFF, #063462, #25282B),
  "negative-dark-text": (#E93C3C, #FFFFFF, #063462, #25282B),
  "negative-dark-line": (#E93C3C, #FFFFFF, #063462, #25282B),
  "attention-light-back": (#FFF3E2, #25282B, #9DD1FF, #FFFFFF),
  "attention-light-text": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "attention-light-line": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "attention-dark-back": (#E89806, #FFFFFF, #063462, #25282B),
  "attention-dark-text": (#E89806, #FFFFFF, #063462, #25282B),
  "attention-dark-line": (#E89806, #FFFFFF, #063462, #25282B),
  "brand-light-back": (#E7F3FF, #25282B, #9DD1FF, #FFFFFF),
  "brand-light-text": (#1E88DB, #FFFFFF, #063462, #25282B),
  "brand-light-line": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "brand-dark-back": (#0E65B7, #FFFFFF, #063462, #25282B),
  "brand-dark-text": (#014898, #FFFFFF, #063462, #25282B),
  "brand-dark-line": (#0E65B7, #FFFFFF, #063462, #25282B),
  "brand2-light-back": (#EDF5FC, #25282B, #9DD1FF, #FFFFFF),
  "brand2-light-text": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "brand2-light-line": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "brand2-dark-back": (#69B3E7, #FFFFFF, #063462, #25282B),
  "brand2-dark-text": (#69B3E7, #FFFFFF, #063462, #25282B),
  "brand2-dark-line": (#69B3E7, #FFFFFF, #063462, #25282B),
  "brand3-light-back": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "brand3-light-text": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "brand3-light-line": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
  "brand3-dark-back": (#E64920, #FFFFFF, #063462, #25282B),
  "brand3-dark-text": (#E64920, #25282B, #9DD1FF, #FFFFFF),
  "brand3-dark-line": (#FFFFFF, #25282B, #9DD1FF, #FFFFFF),
);

$base-light-back: nth(get($_colors-map, "base-light-back"), $colors);
$base-light-text: nth(get($_colors-map, "base-light-text"), $colors);
$base-light-line: nth(get($_colors-map, "base-light-line"), $colors);

$base-dark-text: nth(get($_colors-map, "base-dark-text"), $colors);
$base-dark-back: nth(get($_colors-map, "base-dark-back"), $colors);
$base-dark-line: nth(get($_colors-map, "base-dark-line"), $colors);

$neutral-light-back: nth(get($_colors-map, "neutral-light-back"), $colors);
$neutral-light-text: nth(get($_colors-map, "neutral-light-text"), $colors);
$neutral-light-line: nth(get($_colors-map, "neutral-light-line"), $colors);

$neutral-dark-back: nth(get($_colors-map, "neutral-dark-back"), $colors);
$neutral-dark-text: nth(get($_colors-map, "neutral-dark-text"), $colors);
$neutral-dark-line: nth(get($_colors-map, "neutral-dark-line"), $colors);

$positive-light-back: nth(get($_colors-map, "positive-light-back"), $colors);
$positive-light-text: nth(get($_colors-map, "positive-light-text"), $colors);
$positive-light-line: nth(get($_colors-map, "positive-light-line"), $colors);

$positive-dark-back: nth(get($_colors-map, "positive-dark-back"), $colors);
$positive-dark-text: nth(get($_colors-map, "positive-dark-text"), $colors);
$positive-dark-line: nth(get($_colors-map, "positive-dark-line"), $colors);

$negative-light-back: nth(get($_colors-map, "negative-light-back"), $colors);
$negative-light-text: nth(get($_colors-map, "negative-light-text"), $colors);
$negative-light-line: nth(get($_colors-map, "negative-light-line"), $colors);

$negative-dark-back: nth(get($_colors-map, "negative-dark-back"), $colors);
$negative-dark-text: nth(get($_colors-map, "negative-dark-text"), $colors);
$negative-dark-line: nth(get($_colors-map, "negative-dark-line"), $colors);

$attention-light-back: nth(get($_colors-map, "attention-light-back"), $colors);
$attention-light-text: nth(get($_colors-map, "attention-light-text"), $colors);
$attention-light-line: nth(get($_colors-map, "attention-light-line"), $colors);

$attention-dark-back: nth(get($_colors-map, "attention-dark-back"), $colors);
$attention-dark-text: nth(get($_colors-map, "attention-dark-text"), $colors);
$attention-dark-line: nth(get($_colors-map, "attention-dark-line"), $colors);

$brand-light-back: nth(get($_colors-map, "brand-light-back"), $colors);
$brand-light-text: nth(get($_colors-map, "brand-light-text"), $colors);
$brand-light-line: nth(get($_colors-map, "brand-light-line"), $colors);

$brand-dark-back: nth(get($_colors-map, "brand-dark-back"), $colors);
$brand-dark-text: nth(get($_colors-map, "brand-dark-text"), $colors);
$brand-dark-line: nth(get($_colors-map, "brand-dark-line"), $colors);

$brand2-light-back: nth(get($_colors-map, "brand2-light-back"), $colors);
$brand2-light-text: nth(get($_colors-map, "brand2-light-text"), $colors);
$brand2-light-line: nth(get($_colors-map, "brand2-light-line"), $colors);

$brand2-dark-back: nth(get($_colors-map, "brand2-dark-back"), $colors);
$brand2-dark-text: nth(get($_colors-map, "brand2-dark-text"), $colors);
$brand2-dark-line: nth(get($_colors-map, "brand2-dark-line"), $colors);

$brand3-light-back: nth(get($_colors-map, "brand3-light-back"), $colors);
$brand3-light-text: nth(get($_colors-map, "brand3-light-text"), $colors);
$brand3-light-line: nth(get($_colors-map, "brand3-light-line"), $colors);

$brand3-dark-back: nth(get($_colors-map, "brand3-dark-back"), $colors);
$brand3-dark-text: nth(get($_colors-map, "brand3-dark-text"), $colors);
$brand3-dark-line: nth(get($_colors-map, "brand3-dark-line"), $colors);
