@use "colors" as *;
@use "functions" as *;

// Dependencies
$footer-background: lighten(desaturate($neutral-dark-back, 4.95), 10.78);

// Font families
$sans-serif: "Montserrat", "Helvetica", "Arial", sans-serif;
$monospace: "Courier New", "Courier", monospace;

// Font sizes
$bfont-2: px(12); // kit
$bfont-3: px(13); // 3
$bfont-4: px(14); // kit
$bfont-6: px(16); // default
$bfont-7: px(18); // kit
$bfont-9: px(20); // kit
$bfont-B: px(22); // kit
$bfont-D: px(26); // kit
$bfont-F: px(28); // kit
$bfont-H: px(32); // kit
$bfont-I: px(34); // 1 ???
$bfont-O: px(36); // 1 internships
$bfont-J: px(38); // 1 landing
$bfont-K: px(40); // kit
$bfont-L: px(44); // 2 landing
$bfont-M: px(54); // 1 landing
$bfont-N: px(64); // 1

// Constants
$width-content: px(1200);
$gap: px(10);
$radius: px(8);
$shadow: 0 px(4) px(8) rgba($base-dark-back, 0.15);
$shadow-big: 0 px(4) px(20) rgba($base-dark-back, 0.15);
$box-shadow-focus: 0 0 0 px(3) rgba($brand2-dark-line, 0.5);
$font-size: px(16);
$font-size-big: px(18);
$font-size-small: px(14);
$font-size-smaller: px(12);
$font-size-title: px(28);
$font-size-title-big: px(32);
$font-size-title-huge: px(40);
$font-size-subtitle: px(26);
$font-size-subtitle-big: px(28);
$font-size-section-title: px(20);
$font-size-section-title-big: px(22);
$font-size-section-title-small: px(18);
$font-size-section-title-small-big: px(20);
$font-size-section-subtitle: px(18);

// Z cordinate indexes
$aside-index: 10000;
$fixed-target: $aside-index + 1;
$feedback-index: $fixed-target + 1;
$header-index: $feedback-index + 1;
$header-mobile-index: $header-index + 1;
$mega-menu-index: $header-mobile-index + 1;
$modal-index: $mega-menu-index + 1;
$select-index: $modal-index + 1;
$select-dropdown-index: $select-index + 1;
$datepicker-index: $select-dropdown-index + 1;
$notifications-index: $datepicker-index + 1;
$tooltip-index: $notifications-index + 1;
$cookies-index: $tooltip-index + 1;
$gosbar-index: 99999;

// Sticky info
$gosbar-height: px(0);
$fixed-header: px(50);
$top-gap-from-content: px(15);
$content-start: $gosbar-height + $fixed-header;
$content-end: px(50); // TODO узнать нижний предел контента
