// stylelint-disable max-line-length, selector-attribute-quotes, comment-empty-line-before -- для упрощения структуры файла
@use "sass:string";

$debug-active-parent-selector: '[data-debug="active"]';
$debug-passive-parent-selector: "[data-debug]";
$debug-server-path: "https://cssdebug.show.pbs.bftcom.com/";
$debug-error-selectors: "";

#{$debug-active-parent-selector} {
  counter-reset: warnings;

  &::after {
    background: #FFF;
    border-radius: 0 1rem;
    bottom: 1rem;
    box-shadow: 0 0 0 0.2rem #000;
    color: #000;
    content: "CSSDebug, " counter(warnings) " errors";
    padding: 0.2rem 0.4rem;
    position: fixed;
    right: 1rem;
  }
}

@mixin message($message, $mark) {
  $debug-error-selectors: $debug-error-selectors + ", " + & !global;

  #{$debug-passive-parent-selector} & {
    content: $message url("#{$debug-server-path + $mark}");
  }
}

[id=""] {
  @include message("[id] должен содержать хотябы один символ", "empty-id");
}

[id*=\"],
[id*=\#],
[id*=\%],
[id*=\^],
[id*=\|],
[id*=\\],
[id*=\<],
[id*=\>],
[id*=\[],
[id*=\]],
[id*=\{],
[id*=\}] {
  @include message("[id] содержит запрещенный символ", "id-wrong-char");
}

[id*=\\],
[id*=\.]:not([id*="Color-Pick.com"]),
[id*=\#] {
  @include message("[id] содержит двусмысленный символ", "id-wierd-char");
}

[id^="1"],
[id^="2"],
[id^="3"],
[id^="4"],
[id^="5"],
[id^="6"],
[id^="7"],
[id^="8"],
[id^="9"],
[id^="0"] {
  @include message("[id] не может начинаться с цифры", "id-from-number");
}

[class=""]:not(.dropdown-menu > [class=""], .mega-menu__menu > [class=""], ymaps, #codecola-controls[class=""]) {
  @include message("Неиспользуемый [class]", "empty-class");
}

[class*=\"],
[class*=\#],
[class*=\%],
[class*=\^],
[class*=\|],
[class*=\\],
[class*=\<],
[class*=\>],
[class*=\[],
[class*=\]],
[class*=\{],
[class*=\}] {
  @include message("[class] содержит запрещенный символ", "class-wrong-char");
}

[class*=\\],
[class*=\.],
[class*=\#] {
  @include message("[class] содержит двусмысленный символ", "class-wierd-char");
}

[class^="1"],
[class*=" 1"],
[class^="2"],
[class*=" 2"],
[class^="3"],
[class*=" 3"],
[class^="4"],
[class*=" 4"],
[class^="5"],
[class*=" 5"],
[class^="6"],
[class*=" 6"],
[class^="7"],
[class*=" 7"],
[class^="8"],
[class*=" 8"],
[class^="9"],
[class*=" 9"],
[class^="0"],
[class*=" 0"] {
  @include message(".class не может начинаться с цифры", "class-from-number");
}

:not([data-tooltip], [class="tooltip__handler"], [data-original-title], [class*="ymaps"], [class="tox-toolbar__group"])[title=""] {
  @include message("Пустой [title]", "empty-title");
}

center {
  @include message("Устаревший <center>", "center-tag");
}

u {
  @include message("Устаревший <u>", "u-tag");
}

font {
  @include message("Устаревший <font>", "font-tag");
}

blink {
  @include message("Устаревший <blink>", "blink-tag");
}

marquee {
  @include message("Устаревший <marquee>", "marquee-tag");
}

ol,
ul {

  > :not(li) {
    @include message("Только <li> может быть элементом списка", "list-childs");
  }
}

h1,
h2,
h3,
h4,
span {

  div,
  p {
    @include message("Строчный элемент не может содержать блочные", "block-inline-conflict");
  }
}

a[href="#"],
a[href=""] {
  @include message("[href] пустой", "empty-href");
}

a[href],
button {

  a,
  button {
    @include message("<a> и <button> не могут содержать интерактивные элементы", "subinteract");
  }

  &:not([aria-label]):not(.owl-prev):not(.owl-next):not(.codecola-icon):empty {
    @include message("Недоступные интерактивные элементы", "non-labeled-button");
  }
}

button:not(.tabs_active):not(.owl-dot):not([type]):not(.chromeperfectpixel-panel button) {
  @include message("Явное указание [type] предотвращает проблемы", "button-miss-type");
}

button.tabs_active:not([type]) {
  @include message("Явное указание [type] предотвращает проблемы", "button-tab-miss-type");
}

:not(table) > caption,
caption:not(:first-child) {
  @include message("<caption> обязан быть первым внутри <table>", "wrong-caption");
}

table > :not(thead):not(tfoot):not(tbody):not(tr):not(colgroup):not(caption) {
  @include message("Только <thead> <tfoot> <tbody> <colgoup> <caption> <tr> могут быть в <table>", "table-childs");
}

table thead td {
  @include message("Внутри <thead> используются <th>", "table-head");
}

[bgcolor] {
  @include message("Устаревший [bgcolor]", "attr-bgcolor");
}

[valign] {
  @include message("Устаревший [valign]", "attr-valign");
}

.table_content-middle {
  @include message("Отслеживание модификатора", "table-content-middle-modifier");
}

[cellpadding],
[cellspacing] {
  @include message("Устаревший [cellpadding] или [cellspacing]", "attr-cellparams");
}

[border]:not(iframe) {
  @include message("Устаревший [border]", "attr-border");
}

[align]:not(img) {
  @include message("Устаревший [align]", "attr-align");
}

table[summary] {
  @include message("Устаревший [summary]", "attr-summary");
}

style[type] {
  @include message("Устаревший [type]", "attr-type");
}

a[name] {
  @include message("Устаревший [name]", "attr-name");
}

dl > :not(dt):not(dd):not(div) {
  @include message("Только <dt> <dd> <div> могу использоваться в <dl>", "dl-wrong-child");
}

:not(dl):not(div) > dd,
:not(dl):not(div) > dt,
:not(dl) > div > dd,
:not(dl) > div > dt {
  @include message("<dd> <dt> могут быть расположенны только в <dl> и в dl > div", "dl-wrong-parent");
}

time:not([datetime]),
time[datetime=""] {
  @include message(
    "Нужен [datetime] в формате https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time",
    "time-attr"
  );
}

time:not([datetime]) *,
time[datetime=""] * {
  @include message("<time> не может иметь потомков без [datetime]", "time-child");
}

meta[charset]:not([charset="UTF-8"]),
meta[charset="UTF-8"]:not(:first-child) {
  @include message("<meta [charset]> должен быть первым и иметь значение UTF-8", "meta-UTF-8");
}

.ib-html-text > :not([id="suggestAProfession"]) {
  @include message("Не стоит использовать инфоблок html-text без явной причины", "html-template");
}

.button_width {
  @include message(".button_width был переименован в .button_wide", "button_width-deprecated");
}

.main__content {
  @include message(".main__content был заменён на .card__content", "main__content-deprecated");
}

.main__content_longread {
  @include message(
    ".main__content_longread был заменён на .card__content_longread",
    "main__content_longread-deprecated"
  );
}

// Раскомментировать после того как компонент align попадет в RC
.content_right,
.content_center,
.content_justify {
  @include message("модификаторы content устарели, смотри новый компонент align", "content-mods-deprecated");
}

.align__right,
.align__center,
.align__justify,
.align_direct {
  @include message("элементы right, center, justify и модификатор direct устарели", "align-mods-deprecated");
}

.sticky {
  @include message(
    'Для создания .sticky эффекта у сайдбара, используется связка компонентов "main__aside" + "main__aside-neighbour"',
    "sticky-deprecated"
  );
}

.modal__header > .content__section-title {
  @include message("Заголовок модального окна указывается с помощью .modal__title", "content-title-to-modal-title");
}

.modal__header > .icon {
  @include message(
    "Иконка для заголовка в модальном окне реализуется через .modal__header-icon (см. доку)",
    "wrong-markup-modal-icon"
  );
}

:not(.choose-region__tooltip-buttons):not(.group-container)
> .button:not([data-blind-moder]):not(.ib-region-map__zoom-button):not(.search-panel__button-light)
+ .button {
  @include message("Несколько кнопок в ряд нужно оборачивать в .group-container", "need-buttons-group");
}

.tabs:not(.tabs_radio) > .tabs__item {
  @include message(".tabs__item не может быть прямым потомком .tabs", "old-tabs");
}

:not(blockquote).quote {
  @include message("Верстка компонента не соответствует документации", "quote");
}

.button_close {
  @include message('Для кнопок "Закрыть" используется .button-close', "button_close_old");
}

.button_icon.button_icontext {
  @include message(".button_icon и .button_icontext взаимоисключающие", "button-with-icon-both-modifyers");
}

.banner {
  @include message("Маркируем все баннеры для будущей переверстки. Пока не трогаем", "banner-mark");
}

.ib-banners {
  @include message("Неиспользуемый инфоблок баннера, задача JIRP-11272", "ib-banners-mark");
}

.round-picture {
  @include message("Вместо .round-picture используется .avatar.avatar_rounded (см. доку)", "old-picture");
}

.logo {
  @include message("Вместо .logo используется .avatar (см. доку)", "old-logo");
}

.dropdown-item:not(button):not(a) {
  @include message("Элемент долже быть выполнен с помощью <a> или <button>", "dropdown-item-change-to-button");
}

a[data-toggle="modal"]:not([href]) {
  @include message("Используйте <button> или добавьте [href]", "link-change-data-to-href-modal-trigger");
}

.pagination__item:not(a):not(button):not([tabindex]) {
  @include message("Кнопки пагинации должны быть оформленны как <a> или <button>", "wrong-pagination-without-focus");
}

.upload__info:not(:last-child) .button {
  @include message(".upload__info должен быть последним элементом (см. доку)", "change-uploa-info-position");
}

.tabs-wrapper {
  @include message("Устаревший .tabs-wrapper, используйте модификатор компонента .tabs", "tabs-wrapper-deprecated");
}

button.tabs__item[href] {
  @include message("Лучше использовать data-target вместо href", "tabs-item-button-href");
}

[src^="http:"] {
  @include message("Ресурс загружается по небезопасному протоколу http", "element-refering-to-http-1");
}

[href^="http:"]:not(.footer__nav-link, [href*="kremlin"], [href*="pravo.gov"], [href*="krasczn.ru"], [href*="government"], [href*="dszn"]) {
  @include message("Ссылка ведёт на небезопасный ресурс", "element-refering-to-http-2");
}

[src*="pbs.bftcom.com"] {
  @include message("Хардкод тестовых доменов", "element-refering-to-http-3");
}

[href*="pbs.bftcom.com"]:not([href*="@pbs.bftcom.com"]):not([href*="facebook.com"], [href*="twitter.com"], [href*="vk.com"], [href*="connect.ok.ru"], [href*="sn3.bftcom.com"]) {
  @include message("Хардкод тестовых доменов", "element-refering-to-http-4");
}

a input,
button input,
a textarea,
button textarea {
  @include message("<a> и <button> не могут содержать интерактивные элементы", "subinteract");
}

svg.icon > :not(use) {
  @include message("svg-иконка забирается из спрайта (см. доку)", "inline-icon");
}

input:not([type]),
input[type=""],
input:not([name]):not(.codecola-degree-input):not(.ucss-opacity > input):not(.chromeperfectpixel-panel
input):not([id*="Color-Pick.com"] input),
input[name=""],
input[type="submit"] {
  @include message("input имеет два обязательных атрибута [type] и [name]", "input-req-attrs");
}

select:not([name]):not(.colorzilla-sampling-mode > select),
textarea:not([name]) {
  @include message("select и textarea имеют обязательный атрибут [name]", "select-textarea-req-attr");
}

img:not([alt]) {
  @include message("Декоративные <img> должны иметь пустой [alt]", "img-req-attr-alt");
}

img:not([src]),
img[src=""],
img[src^="#"] {
  @include message("[src] является обязательным атрибутом", "img-req-attr-src");
}

img:not([alt$="."]):not([alt=""]):not([src*="chrome-extension"]) {
  @include message("В конце содержимого [alt] ставится точка, для интонационной паузы", "img-alt-pause");
}

.button:not(.button_icon):not(.button_icontext) > .button__icon {
  @include message(
    "Кнопки с иконками должны иметь модификатор _icon или _icontext",
    "button-with-icon-without-modifyer"
  );
}

.button > .icon:not(.button__icon) {
  @include message("Иконки в кнопках должны быть их элементом (.button__icon)", "button-icon-not-element");
}

.button__icon:not(svg),
.button__icon:not(.icon) {
  @include message("Иконка в кнопке оформляется с помощью svg.icon", "button__icon-notsvg-icon");
}

img.file-preview__type-img[src="/information/resources/upload/ekd/icon-upload-pdf.svg"] {
  @include message(
    "Неправильный путь изображения, нужно использовать путь /assets/redesign-theme/uikit/file-preview/pdf.svg",
    "wrong-file-preview-img-use"
  );
}

img:not(.file-preview__type-img)[src="/information/resources/upload/ekd/icon-upload-pdf.svg"] {
  @include message("Неправильное использование, нужно использовать компонент upload", "wrong-upload-use");
}

.modal__close[data-label] {
  @include message("Дублирующий, ничего не делающий дата атрибут", "not-useful-attr");
}

.code code:not(.code__container) {
  @include message("Отсутствует обязательный .code__container", "code-container-missing");
}

.index,
[class*="index_"] {
  @include message("Старый класс главной", "old-index");
}

.button.link {
  @include message("Несовместимые классы на одном теге", "button-link-mix");
}

svg[data-tooltip] {
  @include message("Запрещено использовать tooltip на svg, необходимо использовать обертку", "tooltip-on-svg");
}

:not(button, .vacancy-sidebar__approve)[data-tooltip-toggle] {
  @include message(
    "Для кликабельного компонента tooltip, необходимо использовать обертку в виде кнопки",
    "clickable-tooltip-not-on-button"
  );
}

.loader {
  @include message("Устаревший компонент, нужно использовать компонент loading", "loader-deprecated");
}

.progress_effective {
  @include message("Маркировка модификатора progress_effective для доработки", "progress-effective-mark");
}

// Для последующего исправления элемента schedule__link
.schedule {
  @include message("Отслеживание компонента schedule", "schedule-mark");
}

// НОВЫЕ ПРАВИЛА НАДО ДОБАВЛЯТЬ ДО ЭТОГО КОММЕНТАРИЯ
// СЕЛЕКТОРЫ ДОЛЖНЫ УКАЗЫВАТЬ НА ЭЛЕМЕНТ СОДЕРЖАЩИЙ ПРОБЛЕМУ
// МИКСИН message ПОДКЛЮЧАЕТСЯ С ДВУМЯ ПАРАМЕТРАМИ
// 1: ОПИСАНИЕ ПРОБЛЕМЫ, 2: УНИКАЛЬНАЯ МЕТКА
// В ОПИСАНИИ ТЕГИ УКАЗЫВАЮТСЯ: <tag>, АТРИБУТЫ: [attr], КЛАССЫ: .class
// ИЗ ОПИСАНИЯ ДОЛЖНО БЫТЬ ПОНЯТНО ЧТО ЯВЛЯЕТСЯ ПРОБЛЕМОЙ

$debug-error-selectors: string.slice($debug-error-selectors, 2);

#{$debug-active-parent-selector} :where(#{$debug-error-selectors}):not(:hover) {
  counter-increment: warnings;
  filter: sepia(1) hue-rotate(270deg) saturate(10);

  // Дополнительные возможности для FF:
  /*! Tip: "Включите свойства ниже, чтобы подсветить объекты площадью 0px"; */
  /*! box-shadow: 4px 4px 1px 4px #FF0; */
  /*! mask-clip: no-clip; */
}
