h2 {
    vertical-align: middle;
}
h2 img {
    display: inline-block;
    width: 64px;
    height: 64px;
    vertical-align: middle;
    line-height: 1;
    margin-right: 15px;
}
.control-panel {
	padding: 0 0 20px 0;
}
.control-panel .buttons {
	padding-bottom: 5px;
}
.control-panel .buttons .btn {
	margin-bottom: 3px;
}
.control-panel .colors .btn {
	margin-left: 10px;
	vertical-align: top;
}
.control-panel h3 {
	margin-top: 5px;
}

.get-code {
	padding-top: 20px;
}
.get-code textarea {
	border-radius: 0;
	background: #f6f7fa;
	border-color: #b0b9d4;
	color: #1e3685;
	resize: none;
	height: 120px;
}
.get-code button {
	background: transparent;
	border: 1px solid #cbcbcb;
	border-bottom-width: 3px;
	border-radius: 4px;
	color: #1e3685;
}

.prr-widget-preview-block {
    padding-top: 40px;
}
.prr-widget-preview-block h3 {
    margin-bottom: 25px;
}
iframe {
    border: none;
}