@use "sass:color";

@use "../../functions";
@use "images" as *;

$gap: functions.px(10) !default;
$radius: functions.px(8) !default;
$color__content: #FFFFFF !default;
$background: #69B3E7 !default;
$small-breakpoint: functions.px(767);
$middle-breakpoint: functions.px(1024);
$large-breakpoint: functions.px(1920);
$max-width: functions.px(1170);
$min-height-banner: functions.px(350);
$min-height-banner-sm: functions.px(150);
$min-height-banner-xs: functions.px(69);

.banner-new {
  background-color: $background;
  box-sizing: border-box;
  margin: 0 #{- $gap * 1.5};
  width: 100%;

  &_wide {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 100vw;

    @media (max-width: functions.px(576)) {
      width: auto;
    }
  }

  @media (min-width: functions.px(320)) {
    width: auto;
  }

  @media (min-width: $small-breakpoint) {

    &_in-container {
      margin: 0;
    }
  }

  @media (min-width: $middle-breakpoint) {
    width: 100%;
  }

  &_small {
    border-radius: $radius;
    max-width: $max-width;
  }

  &__wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: $max-width;
    min-height: $min-height-banner;
    padding: 0 $gap * 3;
    position: relative;
    width: 100%;

    .banner-new_small & {
      min-height: $min-height-banner-sm;
    }

    .banner-new_slim & {
      min-height: $min-height-banner-xs;
    }
  }

  &__content {
    color: $color__content;
    padding: $gap * 5 0;
    width: 100%;

    @media (min-width: $middle-breakpoint) {
      max-width: functions.px(500);
      width: 50%;

      .banner-new_wide & {
        max-width: functions.px(820);
        width: 75%;
      }

      .banner-new_small & {
        display: flex;
        max-width: functions.px(620);
        padding: $gap * 3 0;
        width: 65%;
      }
    }

    .banner-new_slim & {
      align-items: center;
      max-width: functions.px(730);
      padding: $gap * 1.5 0;
    }
  }

  &__ico {
    display: none;
    height: functions.px(90);
    margin-right: $gap * 3;
    position: relative;
    width: functions.px(90);

    & .banner-new__image {
      height: auto;
    }

    @media (min-width: $middle-breakpoint) {
      display: block;
    }

    .banner-new_slim & {
      height: functions.px(40);
      width: functions.px(47);
    }

    @if (not $images) {
      display: none;
    }
  }

  &__text {
    width: 100%;

    @media (min-width: $middle-breakpoint) {
      width: calc(100% - functions.px(90));

      .banner-new_slim & {
        width: calc(100% - functions.px(240));
      }
    }
  }

  &__images {
    display: none;
    height: 100%;
    left: 50%;
    position: absolute;
    width: 50vw;

    @media (min-width: $middle-breakpoint) {
      background-image: url("banner-new/banner-default.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: contain;
      display: block;

      @if (not $images) {
        background-image: none;
      }

      .banner-new_wide & {
        left: 75%;
        width: 25%;
      }

      .banner-new_small & {
        background: url("banner-new/banner-short.svg") 0 (-$gap * 3.5) no-repeat;
        background-size: functions.px(336);
        left: 65%;
        width: 35%;
      }

      .banner-new_slim & {
        background: url("banner-new/banner-short.svg") calc(100% - functions.px(40)) 30% no-repeat;
        background-size: functions.px(211);
      }
    }
  }

  &__image {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;

    @media (min-width: $large-breakpoint) {
      object-fit: unset;
      width: auto;
    }

    @if (not $images) {
      display: none;
    }
  }
}
