@use "../../functions";

$background-hover: #EDF5FC !default;
$background: #FFFFFF !default;
$color__split-button: #FFFFFF !default;
$color-item: #52525C !default;
$border__split-button: #0E65B7 !default;
$background-color__split-button: #0E65B7 !default;
$color_secondary: #0E65B7 !default;
$border_arrow: #0E65B7 !default;
$stroke-icon: #0E65B7 !default;
$gap: functions.px(10) !default;
$font-size-small: functions.px(14) !default;
$radius: functions.px(8) !default;
$button-size: functions.px(38);
$border-width: functions.px(1);
$h-padding: functions.px(14);

@mixin arrow-color($stroke-icon) {
  background-image: functions.inlineSVG(
    '<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 5L5 0L10 5H0Z" fill="' + #{$stroke-icon}+
    '"/></svg>'
  );
}

.dropdown {

  &_split {
    display: inline-flex;
  }

  &__split-button {
    appearance: initial;
    background-color: $background-color__split-button;
    border: $border-width solid $border__split-button;
    border-radius: $radius 0 0 $radius;
    box-sizing: border-box;
    color: $color__split-button;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: $font-size-small;
    font-weight: 600;
    height: $button-size;
    line-height: $button-size - 1px;
    margin: 0;
    max-width: 100%;
    min-width: $button-size;
    nav-index: 1;
    outline: 0;
    overflow: hidden;
    padding: 0;
    padding: 0 $h-padding;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;

    &:not(&_arrow) {
      flex: 1 0 auto;
    }

    &_arrow:not(&_secondary) {
      border-left-color: $color__split-button;
      border-radius: 0 $radius $radius 0;
      margin-left: -1px;

      &::after {
        content: "";
        height: $gap * 0.5;
        position: absolute;
        right: $gap * 1.4;
        transform: rotate(180deg);
        width: $gap;

        @include arrow-color($color__split-button);
      }
    }

    &_secondary {
      background: transparent;
      color: $color_secondary;
    }

    &_arrow#{&}_secondary {
      border-left-color: $border_arrow;
      border-radius: 0 $radius $radius 0;
      margin-left: -1px;

      &::after {
        content: "";
        height: $gap * 0.5;
        position: absolute;
        right: $gap * 1.4;
        transform: rotate(180deg);
        width: $gap;

        @include arrow-color($stroke-icon);
      }
    }
  }
}

.dropdown-item {
  align-items: center;
  background-color: $background;
  border: none;
  color: $color-item;
  cursor: pointer;
  display: flex;
  padding: $gap * 1.1 $gap * 1.6;
  text-decoration: none;
  word-break: normal;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    background-color: $background-hover;
  }

  .icon {
    height: functions.px(20);
    margin-right: $gap;
    min-width: functions.px(20);
    stroke: $stroke-icon;
    vertical-align: middle;
    width: functions.px(20);
  }

  &__text {
    font-size: $font-size-small;
    font-weight: 500;
    letter-spacing: functions.px(0.1);
    text-align: left;
  }
}
