@use "../../functions";

$darker-color: #69B3E7 !default;
$lighter-color: #FFFFFF !default;

$border-radius: functions.px(8) !default;

$font-weight: 600 !default;
$font-size: functions.px(20) !default;
$letter-spacing: functions.px(1) !default;
$line-height: functions.px(14) !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

.banner-monitoring {
  background-color: $darker-color;
  background-image: url("banner-monitoring/bg-triangles.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: functions.px(89);
  width: 100%;

  @media (min-width: functions.px(320)) {
    padding: functions.px(25) 0;
  }

  @media (min-width: functions.px(576)) {
    justify-content: initial;
  }

  @media (min-width: functions.px(992)) {
    background-position: 50% center;
    justify-content: center;
    padding: 0;
  }
}

.banner-monitoring__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: functions.px(760);

  @media (min-width: functions.px(320)) {
    align-items: flex-start;
  }

  @media (min-width: functions.px(576)) {
    justify-content: initial;
  }

  @media (min-width: functions.px(992)) {
    align-items: center;
    justify-content: space-between;
  }
}

.banner-monitoring__img {
  object-fit: cover;

  @media (min-width: functions.px(320)) {
    display: none;
  }

  @media (min-width: functions.px(576)) {
    display: flex;
    margin-right: functions.px(48);
  }

  @media (min-width: functions.px(576)) {
    margin-right: 0;
  }
}

.banner-monitoring__text {
  color: $lighter-color;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: calc(#{$letter-spacing} * 0.2);
  line-height: calc(#{$line-height} * 2);
}

.banner-monitoring__link {
  align-items: center;
  appearance: initial;
  background-color: transparent;
  border: none;
  border: functions.px(1) solid $lighter-color;
  border-radius: $border-radius;
  box-shadow: none;
  box-sizing: border-box;
  color: $lighter-color;
  display: inline-flex;
  font-family: inherit;
  font-weight: $font-weight;
  height: functions.px(40);
  justify-content: center;
  line-height: calc(#{$line-height} * 1.25);
  margin: 0;
  min-width: functions.px(40);
  nav-index: 1;
  outline: 0;
  padding: 0 functions.px(15);
  pointer-events: auto;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;

  @media (min-width: functions.px(576)) {
    margin-left: functions.px(132);
    margin-right: auto;
  }

  @media (min-width: functions.px(992)) {
    margin: 0;
  }

  &:focus {
    box-shadow: $box-shadow-focus;
    outline: none;
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: $box-shadow-focus;
  }
}
