@use "../../functions";
@use "../../images" as *;

.align {

  // deprecated до 23-й строки
  &__right {
    text-align: right;
  }

  &__justify {
    text-align: justify;
  }

  &__center {
    text-align: center;
  }

  &_direct {
    text-align: initial;
  }

  &_right {
    text-align: right;
  }

  &_justify {
    text-align: justify;
  }

  &_center {
    text-align: center;
  }
}

.align .align__direct {
  text-align: initial !important; //временное срочное решение https://jira.bftcom.com/browse/JIRP-79837
}
