@use "sass:math";
@use "../../functions";

$gap: functions.px(10) !default;
$radius: functions.px(8) !default;

$font-size-small: functions.px(14) !default;
$font-size-smaller: functions.px(12) !default;

$color-text__label: #52575C !default;
$color__control-asterisk: #E93C3C !default;
$color__error: #E93C3C !default;
$color__append: #25282B !default;
$color__control_placeholder: #A0A4A8 !default;
$background-image__control: #A0A4A8 !default;
$color-text-badge: #25282B !default;
$color-text-datepicker: #25282B !default;
$color-other-month: #A0A4A8 !default;
$color-datepicker-hover: #F9F9FA !default;
$color-disabled: #E8E8E8 !default;
$background-button-datepicker: #0E65B7 !default;
$border-focus: #0E65B7 !default;
$border-datepicker: #E8E8E8 !default;
$stroke-arrow-calendar: #A0A4A8 !default;
$selected-datepicker: #0E65B7 !default;

$border__capcha: #CACCCF !default;
$background__capcha: #F9F9FA !default;
$color__capcha: #52575C !default;
$font-size__capcha: functions.px(34) !default;
$width__capcha: functions.px(165);

$background__control: #FFFFFF !default;
$background__append: #F9F9FA !default;
$background__control-disabled: #F9F9FA !default;
$background-color_search: #0E65B7 !default;

$border__control: #A0A4A8 !default;
$border__append: #A0A4A8 !default;
$border__control-disabled: #A0A4A8 !default;
$color__date-focus: #0E65B7 !default;
$background-image__date-focus: #0E65B7 !default;
$background-image_search: #FFFFFF !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

$gap-search: functions.px(7);
$radius-search: functions.px(5);
$height: functions.px(38);
$border-width: functions.px(1);

$datepickerTextColor: (
  otherMonth: $color-other-month,
  disabled: $color-disabled,
  currentDate: $background-button-datepicker,
  common: $color-text-datepicker,
  dayNames: $border-focus,
  navArrows: $stroke-arrow-calendar,
  title: $color-text-badge,
  dayWeekend: $border-focus,
);

$datepickerBG: (
  selected: $border-focus,
  selectedHover: darken($selected-datepicker, 9),
  inRange: rgba($selected-datepicker, 0.1),
  hover: $color-datepicker-hover,
);

$datepickerBorderColor: (
  nav: $border-datepicker,
  inline: darken($color-other-month, 1),
  default: $border-datepicker,
);

@use "sass:color";

.input {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto $height auto auto;
  position: relative;

  &__label {
    align-items: center;
    box-sizing: border-box;
    color: $color-text__label;
    cursor: pointer;
    display: flex;
    grid-row: 2;
    padding-right: $gap;
    position: relative;
    user-select: none;
  }

  &__title {
    display: block;
    font-weight: 600;
    grid-column: 1 / 4;
    grid-row: 1;
    margin-bottom: 0.6em;

    &_capcha {
      grid-column: 2/4;
    }
  }

  &__control {
    appearance: initial;
    background: $background__control;
    border: $border-width solid $border__control;
    border-radius: $radius;
    box-sizing: border-box;
    color: $color-text__label;
    font-family: inherit;
    font-size: $font-size-small;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    grid-column: 2 / 3;

    grid-row: 2;
    margin: 0;
    max-width: 100%;
    min-width: $height;
    overflow: hidden;
    padding: $gap $gap * 1.5;
    position: relative;
    text-decoration: none;
    -webkit-text-fill-color: currentColor;
    text-overflow: ellipsis;
    text-rendering: optimizelegibility;
    white-space: nowrap;

    &::placeholder {
      color: $color__control_placeholder;
      opacity: 1;
      -webkit-text-fill-color: $color__control_placeholder;
    }

    &::-webkit-input-placeholder {
      color: $color__control_placeholder;
    }

    &:hover:not(:disabled),
    &:focus,
    &:focus-visible {
      border-color: color.adjust($border-focus, $hue: -3deg, $saturation: -10%, $lightness: 10%);
    }

    &:focus {
      caret-color: color.adjust($border-focus, $hue: -3deg, $saturation: -10%, $lightness: 10%);
      outline: none;
    }

    &:read-only {
      cursor: default;
    }

    &:disabled {
      background: $background__control-disabled;
      border-color: $border__control-disabled;
      color: $color-disabled;
      cursor: default;
    }
  }

  &__control[required] ~ &__title::after {
    color: $color__control-asterisk;
    // &nbsp; unicode char \00A0
    content: "\00A0*";
  }

  &__control[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__prepend,
  &__append {
    align-items: center;
    background: $background__append;

    border: $border-width solid $border__append;
    box-sizing: border-box;
    color: $color__append;
    cursor: default;
    display: flex;
    grid-row: 2;
    justify-content: center;
    line-height: $height - $gap - $border-width * 2;
    min-width: $height;
    padding: math.div($gap, 2);
    user-select: none;
  }

  &__prepend {
    border-radius: $radius 0 0 $radius;

    border-right: none;
    grid-column: 1 / 2;
  }

  &__append {
    border-left: none;
    border-radius: 0 $radius $radius 0;
    grid-column: 3 / 4;
  }

  &__prepend ~ &__control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &__append ~ &__control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &_search &__search-button {
    background-color: $background-color_search;
    background-image: functions.inlineSVG(
      '<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle stroke-width="2" stroke="' +
      $background-image_search + '" cx="7" cy="7.35" r="3.55"/><path d="M12.316 12.684l-2.748-2.747" stroke="' +
      $background-image_search + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
    );
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: $radius-search;
    bottom: $gap-search;
    cursor: pointer;
    height: $height - ($gap-search * 2);
    padding: 0;
    position: absolute;
    right: $gap-search;
    width: $height - ($gap-search * 2);
    z-index: 1;

    &:active {
      outline: none;
    }

    &:hover {
      background-color: color.adjust($background-color_search, $hue: -3deg, $saturation: -10%, $lightness: 10%);
    }

    &:active {
      background-color: color.adjust($background-color_search, $hue: -3deg, $saturation: -4%, $lightness: 3%);
    }

    &:focus:not(:disabled) {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:disabled):not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible:not(:disabled) {
      box-shadow: $box-shadow-focus;
    }

    &::after {
      content: "";
      left: 50%;
      padding: math.div($height, 2);
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &_search &__control {
    padding-right: $height;
  }

  &_date &__control {
    background-image: functions.inlineSVG(
      '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6667 2.66667H3.33333C2.59695 2.66667 2 3.26363 2 4.00001V13.3333C2 14.0697 2.59695 14.6667 3.33333 14.6667H12.6667C13.403 14.6667 14 14.0697 14 13.3333V4.00001C14 3.26363 13.403 2.66667 12.6667 2.66667Z" stroke="' +
      $background-image__control +
      '" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.6667 1.33333V3.99999" stroke="' +
      $background-image__control +
      '" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.33331 1.33333V3.99999" stroke="' +
      $background-image__control +
      '" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M2 6.66667H14" stroke="' +
      $background-image__control +
      '" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'
    );
    background-position: right $gap center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-right: $gap * 3;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus {
      background-image: functions.inlineSVG(
        '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6667 2.66667H3.33333C2.59695 2.66667 2 3.26363 2 4.00001V13.3333C2 14.0697 2.59695 14.6667 3.33333 14.6667H12.6667C13.403 14.6667 14 14.0697 14 13.3333V4.00001C14 3.26363 13.403 2.66667 12.6667 2.66667Z" stroke="' +
        $background-image__date-focus +
        '" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.6667 1.33333V3.99999" stroke="' +
        $background-image__date-focus +
        '" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M5.33331 1.33333V3.99999" stroke="' +
        $background-image__date-focus +
        '" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M2 6.66667H14" stroke="' +
        $background-image__date-focus +
        '" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'
      );
      color: $color__date-focus;
    }
  }

  &_error &__control {
    border-color: $color__error;
  }

  &__error {
    animation: input-error-show 0.2s linear, input-error-move 0.2s ease-out;
    color: $color__error;
    display: block;
    font-size: $font-size-smaller;
    grid-column: 2 / 3;
    grid-row: 3;
    line-height: 1.333;
    margin-top: $gap * 0.6;

    &:nth-child(2n) {
      grid-row: 4;
    }
  }

  @keyframes input-error-show {

    from {
      opacity: 0;
    }
  }

  @keyframes input-error-move {

    from {
      transform: translateY(-$gap * 0.6);
    }
  }

  &_password &__control {
    padding-right: $height;

    &::-ms-reveal {
      display: none;
    }
  }

  &__eye {
    align-self: center;
    background-color: transparent;
    background-image: functions.inlineSVG(
      ' <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.9 4.23999C10.5883 4.07887 11.2931 3.99833 12 3.99999C19 3.99999 23 12 23 12C22.393 13.1356 21.6691 14.2047 20.84 15.19M14.12 14.12C13.8454 14.4147 13.5141 14.6511 13.1462 14.8151C12.7782 14.9791 12.3809 15.0673 11.9781 15.0744C11.5753 15.0815 11.1752 15.0074 10.8016 14.8565C10.4281 14.7056 10.0887 14.481 9.80385 14.1961C9.51897 13.9113 9.29439 13.5719 9.14351 13.1984C8.99262 12.8248 8.91853 12.4247 8.92563 12.0219C8.93274 11.6191 9.02091 11.2218 9.18488 10.8538C9.34884 10.4858 9.58525 10.1546 9.88 9.87999M17.94 17.94C16.2306 19.243 14.1491 19.9649 12 20C5 20 1 12 1 12C2.24389 9.68189 3.96914 7.6566 6.06 6.05999L17.94 17.94Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"  stroke="' +
      $background-image__control +
      '" /><path d="M1 1L23 23" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"  stroke="' +
      $background-image__control + '" /></svg> '
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: functions.px(16);
    border: 0;
    border-radius: $radius;
    box-sizing: border-box;
    cursor: pointer;
    grid-column: 2;
    grid-row: 2;
    height: $height;
    justify-self: end;
    padding: 0;
    position: relative;
    width: $height;

    &_off {
      background-image: functions.inlineSVG(
        '<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z" stroke="' +
        $background-image__control +
        '"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke="' +
        $background-image__control + '"/></svg>'
      );
    }

    &:focus:not(:disabled) {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:disabled):not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible:not(:disabled) {
      box-shadow: $box-shadow-focus;
    }
  }

  &_capcha {
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 1fr 1fr 1fr auto;
  }

  &__capcha {
    appearance: initial;
    background: $background__capcha;
    border: $border-width solid $border__capcha;
    border-radius: $radius;
    box-sizing: border-box;
    color: $color__capcha;
    display: block;
    font-family: inherit;
    font-size: $font-size__capcha;
    font-weight: 500;
    grid-column: 1;
    grid-row: span 2/3;
    line-height: 1.24;
    margin: 0 $gap * 3 0 0;
    overflow: visible;
    padding: $gap * 1.5 $gap * 2;
    position: relative;
    text-decoration: none;
    text-rendering: optimizelegibility;
    white-space: nowrap;
    width: $width__capcha;
  }

  &__update {
    display: block;
    grid-column: 1;
    grid-row: 3;
    margin-top: $gap * 1.5;
    position: relative;
  }
}

// Colorpicker hack
.colorpicker {
  position: absolute;
}

// clears the ‘X’ from Internet Explorer
.input__control[type="search"]::-ms-clear,
.input__control[type="search"]::-ms-reveal {
  display: none;
  height: 0;
  width: 0;
}

// clears the ‘X’ from Chrome
.input__control[type="search"]::-webkit-search-decoration,
.input__control[type="search"]::-webkit-search-cancel-button,
.input__control[type="search"]::-webkit-search-results-button,
.input__control[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@import "datepicker/datepicker-config";

@import "datepicker/cell";

@import "datepicker/datepicker";

@import "datepicker/navigation.scss";

// @import 'datepicker/timepicker.scss';
