@use "sass:math";

@use "../../functions";

$gap: functions.px(10) !default;
$font-size-smaller: functions.px(12) !default;
$color__switch-item: #25282B !default;
$border__switch-item: #A0A4A8 !default;
$background__switch-item: #FFF !default;
$color__switch-item_active: #FFF !default;
$background-color__switch-item_active: #0E65B7 !default;
$border-color__switch-item_active: #0E65B7 !default;
$min-width__switch-item: functions.px(32);
$color__result-counter: #52575C !default;
$font-size-small: functions.px(14) !default;

.ib-filter {
  margin-bottom: math.div(-$gap, 2);
  margin-top: math.div(-$gap, 2);

  &__select,
  &__search,
  &__date,
  &__switch {
    margin-bottom: math.div($gap, 2);
    margin-top: math.div($gap, 2);
  }

  &__switch {
    display: flex;
    flex-direction: column;
  }

  &__search + &__switch {
    margin-top: $gap * 3;
  }

  &__switch-label {
    display: block;
    font-weight: 700;
    margin: functions.px(5);
  }

  &__switch-buttons {
    display: flex;
    flex-flow: row wrap;
  }

  &__switch-wrapper:not(:last-child) {
    margin-bottom: $gap;
    margin-right: $gap;
  }

  &__result-counter {
    color: $color__result-counter;
    font-size: $font-size-small;
    font-weight: 500;
  }

  &__switch-item {
    -webkit-appearance: initial;
    -moz-appearance: initial;
    appearance: initial;
    background-color: $background__switch-item;
    border: functions.px(1) solid $border__switch-item;
    border-radius: functions.px(8);
    box-shadow: none;
    box-sizing: border-box;
    color: $color__switch-item;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: inherit;
    font-size: $font-size-smaller;
    font-weight: 500;
    justify-content: center;
    line-height: 2.5;
    min-width: $min-width__switch-item;
    nav-index: 1;
    outline: 0;
    padding: 0 $gap;
    pointer-events: auto;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
  }

  &__switch-item_active {
    background-color: $background-color__switch-item_active;
    border-color: $border-color__switch-item_active;
    color: $color__switch-item_active;
  }

  // Legacy IB Filter fallback;
  .filters-panel {
    margin-bottom: $gap * 2.5;
    margin-top: $gap * 0.5;
  }
}

[class^="col-"].ib-filter__select > .select {
  min-width: auto;
}
