@use "../../functions";

$background: #FFF !default;
$arrows-bg: #0E65B7 !default;
$arrows-bg-hover: #3270D4 !default;
$border-color: #FFF !default;
$button-color-decor: #A0A4A8 !default;
$shadow: 0 functions.px(4) functions.px(8) rgba(37, 40, 43, 0.15) !default;

$breakpoint-md: functions.px(768);
$breakpoint-xl: functions.px(1240);

.owl-carousel {
  display: none;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  z-index: 1;

  &.outer-buttons {

    .owl-prev {
      left: functions.px(-70);
    }

    .owl-next {
      right: functions.px(-70);
    }
  }

  &.owl-refresh {

    .owl-item {
      visibility: hidden;
    }
  }

  &.owl-loaded {
    display: block;
  }

  &.owl-loading {
    display: block;
    opacity: 0;
  }

  &.owl-hidden {
    opacity: 0;
  }

  .owl-video-frame {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .owl-video-tn {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &.owl-drag {

    .owl-item {
      -ms-touch-action: pan-y;
      touch-action: pan-y;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  &.owl-rtl {
    direction: rtl;

    &.owl-item {
      float: right;
    }
  }

  .fadeOut {
    animation-name: fadeOut;
  }
}

.owl-stage {
  -moz-backface-visibility: hidden;
  height: 100%;
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;

  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
}

.owl-stage-outer {
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-wrapper {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.owl-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  float: left;
  height: auto;
  min-height: functions.px(1);
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  transform: translate3d(0, 0, 0);
}

.no-js .owl-carousel {
  display: block;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-animated-in {
  z-index: 0;
}

.owl-animated-out {
  z-index: 1;
}

.owl-height {
  transition: height 0.5s ease-in-out;
}

.owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;

  &:not([src]),
  [src^=""] {
    max-height: 0;
  }
}

img.owl-lazy {
  transform-style: preserve-3d;
}

.ib-slider {
  height: 100%;
  position: relative;
  width: 100%;

  &_arrows {
    margin: 0 auto;
    padding: functions.px(40) 0;
    width: calc(100% - #{functions.px(92)});
  }

  .owl-carousel {
    background: no-repeat center center;
    background-size: cover;
    padding: 0;
    width: 100%;
  }

  .owl-stage {
    display: flex;

    &-outer {
      margin-bottom: functions.px(35);
    }
  }

  .frame {

    .slidee {
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        height: 100%;
        margin: 0 functions.px(1) 0 0;
        padding: 0;
      }
    }
  }

  .outer-bullets {

    .pages {
      padding: functions.px(20) 0;
      position: static;
    }
  }

  .wrap {
    position: relative;
    z-index: 2;
  }

  .card {
    height: 100%;
  }

  .title {
    display: flex;
    justify-content: space-between;
  }
}

.owl-dots {
  display: flex;
  justify-content: center;

  &.disabled {
    display: none;
  }
}

.owl-dot {
  background: $arrows-bg;
  border: none;
  box-shadow: $shadow;
  color: inherit;
  cursor: pointer;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  height: functions.px(3);
  margin: 0 functions.px(7);
  opacity: 0.4;
  overflow: hidden;
  padding: 0;
  text-indent: functions.px(-999);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: functions.px(28);

  &:focus {
    outline: 0;
  }

  &.active {
    opacity: 1;
  }

  @media (min-width: $breakpoint-md) {

    &:hover {
      opacity: 1;
    }
  }
}

.owl-prev,
.owl-next {
  background-color: $background;
  border: none;
  border-radius: functions.px(8);
  color: inherit;
  cursor: pointer;
  cursor: pointer;
  font: inherit;
  height: functions.px(40);
  margin-top: functions.px(-35);
  outline: 0;
  padding: 0;
  position: absolute;
  transition-duration: 0.2s;
  transition-property: background-color;
  transition-timing-function: ease-out, ease-out;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: functions.px(40);

  &:before {
    border-right: functions.px(2) solid $button-color-decor;
    border-top: functions.px(2) solid $button-color-decor;
    content: "";
    height: functions.px(9);
    margin-top: functions.px(-5);
    position: absolute;
    top: 50%;
    width: functions.px(9);
  }

  &:hover {
    background-color: $arrows-bg-hover;

    &::before {
      border-color: $border-color;
    }
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.owl-nav {
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  &.disabled {
    display: none;
  }
}

.owl-prev {
  left: functions.px(20);

  @media (min-width: functions.px(767)) and (max-width: functions.px(1280)) {
    left: functions.px(-20);
  }

  &:before {
    left: functions.px(17);
    transform: rotate(225deg);
  }
}

.owl-next {
  right: functions.px(20);

  @media (min-width: functions.px(767)) and (max-width: functions.px(1280)) {
    right: functions.px(-20);
  }

  &:before {
    left: functions.px(12);
    transform: rotate(45deg);
  }
}

.owl-stage-outer {
  margin-bottom: functions.px(35);
}

@media (max-width: functions.px(567)) {

  .ib-slider .owl-carousel .owl-nav {
    display: none;
  }

  .ib-slider .card {
    margin: 0;
  }
}

.ib-slider_lk {

  .card {
    padding: functions.px(20);
  }

  .owl-stage-outer {
    margin-bottom: functions.px(60);

    @media (min-width: $breakpoint-md) {
      height: calc(100% - #{functions.px(30)});
      margin-bottom: 0;
    }
  }

  .owl-dots {
    bottom: functions.px(30);
    left: 0;
    position: absolute;
    right: 0;

    @media (min-width: $breakpoint-md) {
      bottom: functions.px(60);
    }
  }

  .owl-nav {
    @media (min-width: $breakpoint-md) {
      margin-top: functions.px(-50);
    }
  }
}

.outer-buttons .owl-nav {
  display: none;

  @media (min-width: $breakpoint-xl) {
    display: block;
  }
}

@keyframes fadeOut {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
