@use "sass:math";

@use "sass:color";

@use "../../functions";

$gap: functions.px(10) !default;
$radius: functions.px(8) !default;
$background__placemark: #FFFFFF !default;
$background__sidebar-inner: #FFFFFF !default;
$background__counter: #FFFFFF !default;
$background__button: #FFFFFF !default;
$border__counter: #CCCCCC !default;
$color__button_active: #52575C !default;
$color__close: #52575C !default;
$border__placemark: #0E65B7 !default;
$background-image__dropdown: #0E65B7 !default;
$color__button: #0E65B7 !default;
$width__sidebar: functions.px(400);
$top__sidebar: functions.px(30);
$left__sidebar: functions.px(140);
$top__panel: functions.px(30);
$right__panel: functions.px(130);
$gosbar-height: functions.px(0) !default;
$header-height: functions.px(95);
$header-height-mobile: functions.px(55);
$mega-menu-height: functions.px(55);
$shadow: 0 functions.px(4) functions.px(4) rgba(0, 0, 0, 0.25) !default;

.map-elements {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: $gosbar-height + $header-height + $mega-menu-height;
  z-index: 2;

  &_visible {
    overflow: hidden; /* prevent scroll on body, on visible map */
  }

  &_visible .header {
    left: 0;
    position: fixed;
    right: 0;
    top: $gosbar-height + $mega-menu-height;
  }

  &__placemark {
    background: $background__placemark;
    border: functions.px(3) solid $border__placemark;
    border-radius: 50%;
    height: $gap * 4.5;
    line-height: $gap * 4.5;
    text-align: center;
    width: $gap * 4.5;
  }

  &__sidebar {
    bottom: 0;
    box-sizing: border-box;
    left: $left__sidebar;
    overflow: auto;
    padding-right: $gap;
    position: absolute;
    top: $top__sidebar;
    width: $width__sidebar;
    z-index: 2;
  }

  &__sidebar-scroll {
    box-sizing: border-box;
    margin-right: -$gap;
    max-height: calc(100% - functions.px(37)); /* counter height minus */
    padding-right: $gap;
  }

  &__sidebar-inner {
    background: $background__sidebar-inner;
    padding-bottom: $gap;
  }

  &__counter {
    background: $background__counter;
    border-bottom: functions.px(1) solid $border__counter;
    overflow: hidden;
    padding: math.div($gap, 2) $gap * 2;
  }

  &__close {
    color: $color__close;
    float: right;
  }

  &__panel {
    position: absolute;
    right: $right__panel;
    top: $top__panel;
    z-index: 2;
  }

  &__panel-item {
    display: inline-flex;
    margin-right: math.div($gap, 2);

    &:first-child {
      margin-right: $gap * 2.5;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__panel-item .dropdown {
    display: inline-flex;
  }

  &__panel-text {
    display: inline-block;
  }

  &__dropdown {
    padding-right: $gap * 5;
    position: relative;
    white-space: nowrap;

    &_checked::after {
      background-image: functions.inlineSVG(
        '<svg width="18" height="16" stroke="' + $background-image__dropdown +
        '" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.667 5L7.5 14.167 3.333 10" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
      );
      background-repeat: no-repeat;
      background-size: functions.px(18) functions.px(16);
      content: "";
      display: block;
      height: functions.px(16);
      position: absolute;
      right: functions.px(16);
      top: functions.px(12);
      width: functions.px(18);
    }
  }

  &__button {
    background: $background__button;
    border-color: transparent;
    border-radius: $radius;
    box-shadow: $shadow;
    color: $color__button;
    padding: 0 $gap * 1.5;

    &:hover,
    &:focus {
      background: $background__button;
      border-color: transparent;
      color: color.adjust($color__button_active, $hue: -3deg, $saturation: -10%, $lightness: 10%);
    }

    &:active {
      color: color.adjust($color__button_active, $hue: -3deg, $saturation: -4%, $lightness: 3%);
    }
  }

  @media (max-width: functions.px(1266)) {

    &__sidebar {
      left: $gap * 2;
    }

    &__panel {
      right: $gap * 2;
    }
  }

  @media (max-width: functions.px(1030)) {

    &__sidebar {
      top: $gap * 9;
    }

    &__panel {
      display: flex;
      flex-flow: row nowrap;
      left: $gap * 2;
      right: auto;
      width: $width__sidebar - $gap * 1.5;
    }

    &__panel-item:first-child {
      margin-right: math.div($gap, 2);
    }

    &__panel-item:last-child {
      margin-left: auto;
    }

    &__panel-text {
      display: none;

      &_visible {
        display: inline-block;
      }
    }
  }

  @media (max-width: functions.px(992)) {
    top: $gosbar-height + $header-height-mobile;

    &_visible .header {
      top: $gosbar-height;
    }
  }

  @media (max-width: functions.px(600)) {

    &__panel {
      right: $gap * 2;
      width: auto;
    }

    &__sidebar {
      padding: 0;
      right: $gap * 2;
      width: auto;
    }
  }
}
