@use "../../functions";

$border__label: #A0A4A8 !default;
$border__label-hover: #1E88DB !default;
$border__label-checked: #0E65B7 !default;
$border__label-disabled: #CACCCF !default;
$color__label: #52575C !default;
$color_error: #E93C3C !default;
$background__label: #FFFFFF !default;
$background__label-checked: #0E65B7 !default;
$background__label-disabled: #F9F9FA !default;
$background__label-checked-disabled: #CACCCF !default;

$background-image__label: #FFFFFF !default;

$gap: functions.px(10) !default;
$font-size-smaller: functions.px(12) !default;
$font-size-small: functions.px(14) !default;
$width-input: functions.px(18);
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

$height-input: $width-input;

.checkbox {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto auto;

  &:not(:last-child) {
    margin-bottom: $gap * 1.5;
  }

  input[type="checkbox"] {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  &:hover input:not(:checked):not(:indeterminate):not(:disabled) + &__label:before {
    border-color: $border__label-hover;
  }

  input:not(:disabled):focus + &__label:before {
    box-shadow: $box-shadow-focus;
    outline: none;
  }

  input:not(:disabled):focus:not(:focus-visible) + &__label:before {
    box-shadow: none;
  }

  input:not(:disabled):focus-visible + &__label:before {
    box-shadow: $box-shadow-focus;
  }

  &__label {
    box-sizing: border-box;
    color: $color__label;
    cursor: pointer;

    /* Fix Ie */
    display: block;
    font-size: $font-size-small;
    font-weight: 500;
    grid-row: 2;
    line-height: 1.286;
    padding-left: $width-input + $gap;

    position: relative;
    user-select: none;

    &:before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 0 0;
      border: functions.px(1) solid;
      border-radius: functions.px(2);
      box-sizing: border-box;
      content: "";
      height: $height-input;
      left: 0;
      position: absolute;
      top: 0;
      transition: border-color 0.2s linear, background-color 0.2s linear, background-size 0.1s ease-in 0.1s;
      width: $width-input;
    }
  }

  &_error &__label:before {
    border-color: $color_error;
  }

  input + &__label:before {
    background-color: $background__label;
    border-color: $border__label;
  }

  input:checked + &__label:before {
    background-color: $background__label-checked;
    background-image: functions.inlineSVG(
      '<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 1L6 12L1 7" stroke="' +
      $background-image__label + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
    );
    background-size: 70% 70%;
    border-color: $border__label-checked;
  }

  input:indeterminate + &__label:before {
    background-color: $background__label-checked;
    background-image: functions.inlineSVG(
      '<svg width="12" height="2" viewBox="0 0 12 1" xmlns="http://www.w3.org/2000/svg"><line x1="1" y1="1" x2="11" y2="1" stroke="' +
      $background-image__label + '" /></svg>'
    );
    background-size: 70% 70%;
    border-color: $border__label-checked;
  }

  input:disabled + &__label:before {
    background-color: $background__label-disabled;
    border-color: $border__label-disabled;
  }

  input:disabled:checked + &__label:before {
    background-color: $background__label-checked-disabled;
    border-color: $border__label-disabled;
  }

  input:disabled:indeterminate + &__label:before {
    background-color: $background__label-checked-disabled;
    border-color: $border__label-disabled;
  }

  &_error input:checked + &__label:before {
    background-color: $color_error;
    border-color: $color_error;
  }

  &__title {
    /* Fix Ie */
    display: block;

    font-weight: 600;
    grid-row: 1;
    margin-bottom: $gap * 1.5;
  }

  &__error {
    animation: checkbox-error-show 0.2s linear, checkbox-error-move 0.2s ease-out;
    color: $color_error;
    display: block;
    font-size: $font-size-smaller;
    grid-row: 3;
    line-height: 1.333;
    margin-top: $gap * 0.6;
  }

  @keyframes checkbox-error-show {

    from {
      opacity: 0;
    }
  }

  @keyframes checkbox-error-move {

    from {
      transform: translateY(-$gap * 0.6);
    }
  }
}
