/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
@use "sass:math";
@use "../../../functions";

.datepickers-container {
  left: 0;
  position: absolute;
  top: 0;

  @media print {
    display: none;
  }
}

.datepicker {
  background: #FFF;
  border: functions.px(1) solid map_get($datepickerBorderColor, default);
  border-radius: $datepickerBorderRadius;
  box-shadow: 0 functions.px(4) functions.px(12) rgba(0, 0, 0, 0.15);
  box-sizing: content-box;
  color: map_get($datepickerTextColor, common);
  left: -100000px;
  opacity: 0;
  padding: functions.px(16);
  position: absolute;
  transition: opacity $datepickerTransitionSpeed $datepickerTransitionEase,
    transform $datepickerTransitionSpeed $datepickerTransitionEase, left 0s $datepickerTransitionSpeed;
  width: $datepickerWidth;
  z-index: $datepickerZIndex;

  &.-from-top- {
    transform: translateY(-$datepickerTransitionOffset);
  }

  &.-from-right- {
    transform: translateX($datepickerTransitionOffset);
  }

  &.-from-bottom- {
    transform: translateY($datepickerTransitionOffset);
  }

  &.-from-left- {
    transform: translateX(-$datepickerTransitionOffset);
  }

  &.active {
    opacity: 1;
    transform: translate(0);
    transition: opacity $datepickerTransitionSpeed $datepickerTransitionEase,
      transform $datepickerTransitionSpeed $datepickerTransitionEase, left 0s 0s;
  }

  @media (max-width: $datepickerXsBp) {
    padding: functions.px(6);
    width: $datepickerWidthXs;
  }
}

.datepicker-inline {

  .datepicker {
    border-color: map-get($datepickerBorderColor, inline);
    box-shadow: none;
    left: auto;
    opacity: 1;
    position: static;
    right: auto;
    transform: none;
  }

  .datepicker--pointer {
    display: none;
  }
}

.datepicker--content {
  box-sizing: content-box;
  padding: $datepickerPadding;

  .-only-timepicker- & {
    display: none;
  }
}

//  Pointer
// -------------------------------------------------
$pointerHalfSize: math.div($datepickerPointerSize, 2) - 1;

.datepicker--pointer {
  background: #FFF;
  border-right: functions.px(1) solid map-get($datepickerBorderColor, default);
  border-top: functions.px(1) solid map-get($datepickerBorderColor, default);

  display: none;
  height: $datepickerPointerSize;
  position: absolute;
  width: $datepickerPointerSize;
  z-index: -1;

  //  Main axis
  // -------------------------

  .-top-left- &,
  .-top-center- &,
  .-top-right- & {
    top: calc(100% - #{$pointerHalfSize});
    transform: rotate(135deg);
  }

  .-right-top- &,
  .-right-center- &,
  .-right-bottom- & {
    right: calc(100% - #{$pointerHalfSize});
    transform: rotate(225deg);
  }

  .-bottom-left- &,
  .-bottom-center- &,
  .-bottom-right- & {
    bottom: calc(100% - #{$pointerHalfSize});
    transform: rotate(315deg);
  }

  .-left-top- &,
  .-left-center- &,
  .-left-bottom- & {
    left: calc(100% - #{$pointerHalfSize});
    transform: rotate(45deg);
  }

  //  Secondary axis
  // -------------------------

  .-top-left- &,
  .-bottom-left- & {
    left: $datepickerPointerOffset;
  }

  .-top-right- &,
  .-bottom-right- & {
    right: $datepickerPointerOffset;
  }

  .-top-center- &,
  .-bottom-center- & {
    left: calc(50% - #{$datepickerPointerSize} / 2);
  }

  .-left-top- &,
  .-right-top- & {
    top: $datepickerPointerOffset;
  }

  .-left-bottom- &,
  .-right-bottom- & {
    bottom: $datepickerPointerOffset;
  }

  .-left-center- &,
  .-right-center- & {
    top: calc(50% - #{$datepickerPointerSize} / 2);
  }
}

//  Body
// -------------------------------------------------

.datepicker--body {
  display: none;

  &.active {
    display: block;
  }
}
