/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */
@use "sass:math";
@use "../../../functions";

$rangeTrackHeight: functions.px(1);
$rangeTrackBg: #DEDEDE;
$rangeThumbSize: functions.px(12);
$rangeThumbBg: #DEDEDE;

@mixin trackSelector {

  &::-webkit-slider-runnable-track {
    @content;
  }

  &::-moz-range-track {
    @content;
  }

  &::-ms-track {
    @content;
  }
}

@mixin thumbSelector {

  &::-webkit-slider-thumb {
    @content;
  }

  &::-moz-range-thumb {
    @content;
  }

  &::-ms-thumb {
    @content;
  }
}

@mixin thumb {
  background: #FFF;
  border: functions.px(1) solid $rangeTrackBg;
  border-radius: functions.px(3);
  box-sizing: border-box;
  cursor: pointer;
  height: $rangeThumbSize;

  transition: background 0.2s;
  width: $rangeThumbSize;
}

@mixin track {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  height: $rangeTrackHeight;
}

.datepicker--time {
  align-items: center;
  border-top: functions.px(1) solid map_get($datepickerBorderColor, nav);
  display: flex;

  padding: $datepickerPadding;
  position: relative;

  &.-am-pm- {

    .datepicker--time-sliders {
      flex: 0 1 functions.px(138);
      max-width: functions.px(138);
    }
  }

  .-only-timepicker- & {
    border-top: none;
  }
}

.datepicker--time-sliders {
  flex: 0 1 functions.px(153);
  margin-right: functions.px(10);
  max-width: functions.px(153);
}

.datepicker--time-label {
  display: none;
  font-size: functions.px(12);
}

.datepicker--time-current {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: functions.px(14);
  margin: 0 0 0 functions.px(10);
  text-align: center;
}

.datepicker--time-current-colon {
  line-height: 1;
  margin: 0 functions.px(2) functions.px(3);
}

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  font-family: "Century Gothic", sans-serif;
  font-size: functions.px(19);
  line-height: 1;
  position: relative;
  z-index: 1;

  &:after {
    background: map_get($datepickerBG, hover);
    border-radius: $datepickerBorderRadius;
    bottom: functions.px(-2);
    content: "";
    left: functions.px(-2);
    opacity: 0;
    position: absolute;
    right: functions.px(-2);
    top: functions.px(-3);
    z-index: -1;
  }

  &.-focus- {

    &:after {
      opacity: 1;
    }
  }
}

.datepicker--time-current-ampm {
  align-self: flex-end;
  color: map_get($datepickerTextColor, navArrows);
  font-size: functions.px(11);
  margin-bottom: functions.px(1);
  margin-left: functions.px(6);
  text-transform: uppercase;
}

.datepicker--time-row {
  align-items: center;
  background-image: linear-gradient(to right, $rangeTrackBg, $rangeTrackBg);
  background-position: left 50%/100%;
  background-repeat: no-repeat;
  background-size: $rangeTrackHeight;
  display: flex;
  font-size: functions.px(11);
  height: functions.px(17);

  &:first-child {
    margin-bottom: functions.px(4);
  }

  input[type="range"] {
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
    flex: 1;
    height: 100%;
    margin: 0;
    padding: 0;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    &::-ms-tooltip {
      display: none;
    }

    &:hover {
      @include thumbSelector() {
        border-color: darken($rangeTrackBg, 15);
      }
    }

    &:focus {
      outline: none;

      @include thumbSelector() {
        background: map_get($datepickerBG, selected);
        border-color: map_get($datepickerBG, selected);
      }
    }

    //  Thumb
    // -------------------------------------------------

    @include thumbSelector() {
      @include thumb;
    }

    &::-webkit-slider-thumb {
      margin-top: math.div(-$rangeThumbSize, 2);
    }

    //  Track
    // -------------------------------------------------
    @include trackSelector() {
      @include track;
    }

    &::-ms-fill-lower {
      background: transparent;
    }

    &::-ms-fill-upper {
      background: transparent;
    }
  }

  span {
    padding: 0 functions.px(12);
  }
}

.datepicker--time-icon {
  border: functions.px(1) solid;
  border-radius: 50%;
  color: map_get($datepickerTextColor, navArrows);
  font-size: functions.px(16);
  height: 1em;
  margin: 0 functions.px(5) functions.px(-1) 0;
  position: relative;
  width: 1em;

  &:after,
  &:before {
    background: currentColor;
    content: "";
    position: absolute;
  }

  &:after {
    height: 0.4em;
    left: calc(50% - 1);
    top: calc(50% + 1);
    transform: translateY(-100%);
    width: 1px;
  }

  &:before {
    height: 1px;
    left: calc(50% - 1);
    top: calc(50% + 1);
    width: 0.4em;
  }
}
