@use "../../functions";
@use "../../images" as *;

$gap: functions.px(10) !default;
$radius: functions.px(8) !default;

$background: #FFFFFF !default;
$background__number: #FFFFFF !default;
$border: #CCCCCC !default;
$color__number: #014898 !default;
$color__description: #52575C !default;

$font-size-main-title: functions.px(64) !default;
$font-size-title-huge: functions.px(40) !default;
$font-size-title: functions.px(28) !default;
$font-size-big: functions.px(18) !default;
$font-size: functions.px(16) !default;

.stats-card {
  background: $background;
  border: functions.px(1) solid $border;
  border-radius: functions.px(0);
  box-sizing: border-box;
  height: 100%;
  margin-left: functions.px(-15);

  margin-right: functions.px(-15);
  padding: $gap * 3.5 $gap * 2;
  text-align: center;

  @if (not $images) {
    background-image: none;
  }

  @media (min-width: functions.px(576)) {
    border-radius: $radius;
    margin-left: 0;
    margin-right: 0;
  }

  &__number {
    color: $color__number;
    font-size: $font-size-main-title;
    font-weight: 600;
    line-height: 1;
    margin-bottom: $gap * 2;
  }

  &__description {
    color: $color__description;
    font-size: $font-size;
  }

  &_bg &__number {
    background: $background__number url("stats-card/bg-stats.svg") no-repeat top center;

    margin-top: -$gap * 2;
    padding-top: $gap * 2;

    @if (not $images) {
      background-image: none;
    }
  }

  &_small &__number {
    font-size: $font-size-title;
  }

  &_small &__description {
    font-size: $font-size-big;
    font-weight: 500;
    word-break: normal;
  }

  &_simple {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
  }

  &_simple &__number {
    font-size: $font-size-title-huge;
    margin-bottom: 0;
  }

  &_simple &__description {
    font-size: $font-size-big;
  }
}
