@use "../../functions";

$gap: functions.px(10) !default;
$font-size-section-title-small: functions.px(18) !default;
$height__image: functions.px(150);
$width__image: functions.px(150);

.company-title {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;

  &__image {
    height: $height__image;
    margin-right: $gap * 3;
    max-width: 100%;
    object-fit: contain;
    width: $width__image;

    &:not([src]) {
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      position: absolute;
      width: 1px;
    }
  }

  &__title {
    font-size: $font-size-section-title-small;
    font-weight: 500;
    line-height: 1.333;
  }

  @media (max-width: functions.px(575)) {
    align-items: center;
    flex-flow: column nowrap;

    &__label {
      margin-bottom: $gap * 2;
    }

    &__title {
      text-align: center;
    }

    &__image {
      margin-bottom: $gap * 2;
      margin-right: 0;
    }
  }
}
