@use "functions" as *;

$gap: px(10) !default;
$radius: px(8) !default;
$border: px(1) solid #E8E8E8;
$font-size-section-title: px(20) !default;
$font-size-small: px(14) !default;
$font-size-smaller: px(12) !default;
$width__cell: calc((100% / 7) - px(35));
$background__cell_weekend: #F0F7FD;
$color__hour: #52575C !default;
$color__date: #52575C !default;
$border-bottom__hour: px(2) solid #CACCCF;
$border-bottom__date: px(2) solid #CACCCF;
$border-bottom__hour_active: px(2) solid #0E65B7;
$min-width__hour: px(40);
$width__hour: px(40);
$width__error: px(100);
$color__hour_error: #E93C3C !default;
$min-width__date: px(40);
$max-width__date: px(65);
$line-height__date_select: px(18);

.table-schedule {
  border: none;
  border-bottom: $border;
  border-radius: 0;
  border-top: $border;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 $gap * -1.5;

  @media (min-width: px(576)) {
    margin: 0 $gap * -3;
  }

  @media (min-width: px(992)) {
    border: $border;
    border-radius: $radius;
    display: grid;
    gap: 0 0;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 0;
    overflow: hidden;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &__cell {
        flex-basis: $width__cell;
      }
    }
  }

  &__cell {
    box-sizing: border-box;
    padding: $gap * 3;
    width: 100%;

    &_head {
      display: none;

      @media (min-width: px(992)) {
        display: block;
        font-size: $font-size-section-title;
        font-weight: 600;
        padding: $gap * 2 $gap * 1.7;
      }
    }

    &_weekend {
      background-color: $background__cell_weekend;
    }

    @media (min-width: px(992)) {
      border-right: $border;
      padding: $gap $gap * 1.7 $gap * 3;
      width: auto;

      &:nth-child(7n) {
        border-right: none;
      }
    }
  }

  &__day {
    font-size: $font-size-section-title;
    font-weight: 600;
    margin-bottom: $gap * 2;

    &_week,
    &_month {
      display: inline;
    }

    @media (min-width: px(992)) {
      margin-bottom: $gap;

      &_week,
      &_month {
        display: none;
      }
    }
  }

  &__inputs {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media (min-width: px(992)) {
      align-items: flex-start;
      flex-direction: column;
    }

    @media (min-width: px(1240)) {
      align-items: flex-end;
      flex-direction: row;
    }
  }

  &__input {
    display: flex;
    overflow: hidden;
    position: relative;

    &:first-of-type {
      margin-right: $gap * 2;
      overflow: visible;

      @media (min-width: px(992)) {
        margin-right: $gap * 1.5;
      }
    }
  }

  &__hour {
    background: transparent;
    border: none;
    border-bottom: $border-bottom__hour;
    color: $color__hour;
    font-size: $font-size-small;
    min-width: $min-width__hour;
    outline: none;
    width: $width__hour;

    &_error {
      border-bottom-color: $color__hour_error;
      color: $color__hour_error;
    }

    @media (min-width: px(992)) {
      margin-bottom: $gap;
    }

    @media (min-width: px(1240)) {
      margin-bottom: 0;
    }
  }

  &__error {
    color: $color__hour_error;
    font-size: $font-size-smaller;
    left: 0;
    position: absolute;
    top: 100%;
    width: $width__error;
  }

  &__date {
    background-color: transparent;
    border: none;
    border-bottom: $border-bottom__date;
    color: $color__date;
    font-size: $font-size-small;
    max-width: 100%;
    min-width: $min-width__date;
    outline: none;

    @media (min-width: px(992)) {
      max-width: $max-width__date;
    }
  }

  &__date.select_no-decor .select__control {
    width: 100%;
  }

  &__date.select_no-decor .filter-option-inner-inner {
    line-height: $line-height__date_select;
  }

  &__hour:active,
  &__date:active,
  &__hour:hover,
  &__date:hover,
  &__hour:focus,
  &__date:focus {
    border-bottom: $border-bottom__hour_active;
  }
}
