@use "../../functions";

$radius: functions.px(8) !default;
$background: #EDF5FC !default;
$gap: functions.px(10) !default;
$font-size-small: functions.px(14) !default;
$font-family: "PT Mono", monospace;
$max-height: functions.px(180);
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

.code {
  background: $background;
  border-radius: $radius;
  box-sizing: border-box;
  display: flex;
  font-family: $font-family;
  font-size: $font-size-small;
  line-height: 1.714;
  margin: 0;
  max-height: $max-height;
  overflow: auto;
  padding: $gap * 3 0 0 $gap * 3;

  &:focus {
    box-shadow: $box-shadow-focus;
    outline: none;
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: $box-shadow-focus;
  }

  &:not(:last-child) {
    margin-bottom: $gap * 3.5;
  }

  // Padding fix
  &__container {
    height: 100%;
    margin-bottom: $gap * 3;
    margin-right: $gap * 3;
  }

  // Temporary solution
  > code {
    height: 100%;
    margin-bottom: $gap * 3;
    margin-right: $gap * 3;
  }
}
