$progress-padding: 0 20px !default;
$line-margin-top: 10px !default;
$item-padding: 20px 0 !default;
$item-value-color: rgb(255, 68, 82) !default;
$item-value-main-color: $item-value-color !default;
$item-background-color: rgb(235, 235, 235) !default;


.progress-table {
  padding: $progress-padding;

  &__line {

    &:not(:first-child) {
      margin-top: $line-margin-top;
    }

    &:nth-last-child(2) {
      font-size: 1.2em;
    }

    &:last-child {
      font-size: 1.4em;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: $item-padding;
    background-color: lighten($item-background-color, 7%);

    &:nth-child(2n) {
      background-color: lighten($item-background-color, 5%);
    }
  }

  &__value {
    color: $item-value-color;
    font-size: 1.2em;

    &_main {
      color: $item-value-main-color;
      font-size: 2em;
      font-weight: bold;
    }
  }

  &__description {
    font-size: 1rem;
  }

  @media (max-width: 576px) {

    &__value_main,
    &__value {
      font-size: 1em;
    }

    &__description {
      font-size: 0.625rem;
    }
  }
}
