$gap: 10px !default;
$brand-fill: rgb(31, 53, 136) !default;
$good-fill: rgb(91, 196, 49) !default;
$light-fill: rgb(255, 255, 255) !default;

.icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  color: inherit;

  &:not(:last-child) {
    margin-right: $gap;
  }

  &_x05 {
    min-width: 18px;
    width: 18px;
    height: 18px;
  }

  &_x2 {
    min-width: 48px;
    width: 48px;
    height: 48px;
  }

  &_brand {
    fill: $brand-fill;
  }

  &_good {
    fill: $good-fill;
  }

  &_light {
    fill: $light-fill;
  }
}
