@use "../../functions";

$gap: functions.px(10) !default;

$max-width-text: functions.px(820);

.ib-news {

  &__content {
    display: flex;
    flex-direction: column;

    &_imageless {
      max-width: functions.px(820);
    }
  }

  &__time {
    margin-bottom: $gap;
  }

  &__description {
    margin-bottom: $gap * 1.5;
  }

  &__thumbnail {
    align-items: center;
    display: flex;

    @media (max-width: functions.px(767)) {
      margin-bottom: $gap * 2;
    }
  }

  &__thumbnail-img {
    border-radius: 0;
    width: 100%;

    @media (max-width: functions.px(767)) {
      width: 100%;
    }
  }

  &__item:last-child {
    margin-bottom: $gap * 4;
  }

  &__item:last-child .separator {
    display: none;
  }

  &__page:not(&__page_active) {
    display: none;
  }

  &__section {

    &:not(:last-child) {
      margin-bottom: $gap * 5;
    }
  }

  &__container {

    &:not(:first-child) {
      margin-top: $gap * 4;
    }

    &:not(:last-child) {
      margin-bottom: $gap * 4;
    }

    .content__image {
      margin: 0;
    }
  }

  &__full-content {
    margin-bottom: $gap * 3;
  }

  &__item:last-child &__separator {
    display: block;
  }

  &_in-card &__item:last-child {
    margin-bottom: $gap;
  }

  &_in-card .separator {
    margin-bottom: $gap * 2;
    margin-top: $gap * 2;

    @media (min-width: functions.px(767)) {
      margin-bottom: $gap * 4;
      margin-top: $gap * 4;
    }
  }

  .content__section-title:not(:last-child),
  .content__section-title,
  .content__section-title_small,
  .content__section-title_small:not(:last-child) {
    margin-bottom: $gap * 2;
  }

  .content__section-title:not(:first-child),
  .content__section-title_small:not(:first-child) {
    margin-top: $gap * 3;
  }

  .content__section-title#{&}__title:not(:last-child) {
    margin-bottom: $gap;
    margin-top: 0;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }

  .content__paragraph {

    &:not(:first-child) {
      margin-top: $gap * 2;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .separator {
    margin-bottom: $gap * 4;
    margin-top: $gap * 4;
  }

  .list,
  .definitions,
  .step,
  .step-check {
    max-width: $max-width-text;

    &:not(:first-child) {
      margin-top: $gap;
    }

    &:not(:last-child) {
      margin-bottom: $gap;
    }
  }
}
