@use "sass:color";

@use "fonts";

@use "variables" as var;

@use "globals" with (
  $sans-serif: var.$sans-serif,
  $text: var.$base-dark-text
);

// Regular layout blocks
// ============================================

@use "header";

@use "top-info-panel" with (
  $z-index: var.$infopanel-index
);

@use "redesign-elements-header";

@use "redesign-elements-footer";

@use "frame" with (
  $gap: var.$grid-gap,
  $font-size-big: var.$font-size-big,
  $link: var.$brand-dark-text,
  $border: var.$brand-light-line,
  $background: var.$neutral-light-back,
  $header-background: var.$brand-light-back,
  $text: var.$base-dark-text
);

@use "footer" with (
  $font-size: var.$font-size-small,
  $gap: var.$grid-gap,
  $background: var.$neutral-dark-back,
  $copyright: var.$neutral-light-text,
  $separator: var.$neutral-light-line,
  $titles: var.$base-light-text
);

// Common blocks
// ============================================

@use "buttons-panel" with (
  $background: var.$neutral-light-back,
  $font-size: var.$font-size-small,
  $gap: var.$grid-gap,
  $item-radius: var.$radius,
  $item-background: var.$base-light-back,
  $item-background-active: var.$accent-dark-back,
  $item-text: var.$base-dark-text,
  $item-text-active: var.$base-light-text
);

@use "tabs" with (
  $gap: var.$grid-gap,
  $text: var.$brand-dark-text,
  $text-hover: var.$accent-dark-text,
  $text-active: var.$base-dark-text,
  $decoration: var.$accent-dark-line,
  $separator: var.$base-dark-line
);

@use "spoiler" with (
  $arrow-gap: var.$grid-gap * 0.5,
  $control: var.$brand-dark-text,
  $control-active: var.$accent-dark-text,
  $pin-position: 0.65
);

@use "link" with (
  $default: var.$brand-dark-text,
  $default-hover: var.$accent-dark-text,
  $bright: var.$base-light-text,
  $bright-hover: var.$accent-light-text
);

@use "list" with (
  $gap: var.$grid-gap,
  $monofont: var.$monospace,
  $label-background: var.$accent-dark-back,
  $label-text: var.$base-light-text
);

@use "breadcrumbs" with (
  $gap: var.$grid-gap,
  $text: var.$brand-dark-text,
  $text-hover: var.$accent-dark-text,
  $text-active: var.$base-dark-text,
  $arrow: var.$brand-dark-line,
);

@use "separator" with (
  $top: var.$neutral-light-line,
  $bottom: darken(var.$neutral-light-line, 10%)
);

@use "icon" with (
  $gap: var.$grid-gap / 2,
  $brand-fill: var.$brand-dark-back,
  $good-fill: var.$positive-dark-back,
  $light-fill: var.$base-light-back,
);

@use "step-check" with (
  $color: var.$base-dark-text,
  $color-light:var.$neutral-light-text,
  $border: var.$brand-dark-back,
  $color-resume-title: var.$neutral-dark-text,
  $size: 38px,
  $gap: var.$grid-gap,
  $color-white: var.$base-light-text
);

@use "form" with (
  $description-color: var.$neutral-dark-text,
  $requirment-icon-color: var.$negative-dark-text
);

@use "notifications" with (
  $border-radius: var.$radius,
  $border-color: var.$neutral-dark-back,
  $close-color: var.$neutral-light-text,
  $accent-color: var.$brand-dark-back,
  $success-color: var.$positive-dark-text,
  $default-color: var.$base-dark-text,
  $warning-color: #F6A609,
  $danger-color: var.$negative-dark-back,
  $default-bg-color: var.$base-light-back,
  $success-bg-color: var.$positive-light-back,
  $warning-bg-color: #FFFBF5,
  $danger-bg-color: var.$negative-light-back,
  $gap: var.$grid-gap,
  $title-font-size: 16px,
  $title-font-weight: 500,
  $z-index: var.$tooltip-index
);

@use "progressbar" with (
  $background: var.$brand-dark-back
);

@use "contract" with (
  $decor: var.$brand-dark-line,
  $background: var.$brand-light-back,
  $text: var.$base-dark-text
);

@use "content" with (
  $gap: var.$grid-gap * 2,
  $title: var.$brand-dark-text,
  $title-size: var.$font-size-giant * 2,
  $title-size-mobile: var.$mobile-font-size-giant * 2,
  $section-title-size: var.$font-size-giant,
  $section-title-size-mobile: var.$mobile-font-size-big * 2,
  $big-size: var.$font-size-giant,
  $big-size-mobile: var.$mobile-font-size-big * 2,
  $small-size: var.$font-size-small,
  $positive: var.$positive-dark-text,
  $important: var.$accent-dark-text,
  $accent: var.$brand-dark-text,
  $muted: var.$neutral-dark-text
);

@use "card" with (
  $background: var.$base-light-back,
  $background-grey: var.$neutral-light-back,
  $background-blue: var.$brand-light-back,
  $background-red: var.$accent-light-back,
  $monofont: var.$monospace,
  $gap: var.$grid-gap * 2,
  $border: var.$neutral-light-line,
  $radius: var.$radius,
  $footer: var.$neutral-light-back,
  $code-padding-vertical: var.$grid-gap * 4,
  $quotes-image-size: 35px,
  $quotes-padding-top: var.$grid-gap * 3,
  $quotes-bg-position: var.$grid-gap * 2 var.$grid-gap * 2
);

@use "pagination" with (
  $text: var.$accent-dark-text,
  $text-active: var.$base-light-text,
  $text-disabled: var.$neutral-light-text,
  $back-active: var.$accent-dark-back,
  $gap: var.$grid-gap / 2,
  $radius: var.$radius,
  $font: var.$bebas
);

@use "modal" with (
  $backdrop: var.$brand-dark-back,
  $background: var.$base-light-back,
  $separator: var.$neutral-dark-line,
  $close: var.$base-dark-line,
  $z-index: var.$modal-index
);

@use "notification" with (
  $backgound: var.$accent-light-back,
  $circle: var.$accent-dark-back,
  $white: var.$base-light-text,
  $font-size-big: 22px,
  $grid-gap: 20px
);

@use "table" with (
  $margin-bottom: var.$grid-gap * 2,
  $head-title-background-color: var.$brand-dark-back,
  $head-title-color: var.$base-light-text,
  $item-odd-cell-background-color: var.$neutral-light-back,
  $cell-border-color: var.$neutral-light-line
);

@use "anchor" with (
  $text: var.$brand-dark-text,
  $text-hover: var.$accent-dark-text,
);

@use "tooltip" with (
  $gap: var.$grid-gap * 2,
  $radius: var.$radius,
  $border: var.$neutral-light-line,
  $background: var.$base-light-back,
  $text: var.$base-dark-text,
  $helper-text: var.$neutral-dark-text,
  $helper-active: var.$accent-dark-back,
  $helper-active-text: var.$base-light-text,
  $z-index: var.$tooltip-index,

  $themes: (
    ("name": "default"),
    (
      "name": "dark",
      "gap": var.$grid-gap,
      "border-size": 0,
      "background": var.$base-dark-back,
      "text": var.$base-light-text,
      "font": var.$font-size-small,
      "arrow-size": 8px,
      "max-width": 320px
    )
  )
);

@use "blue-banner" with (
  $grid-gap: var.$grid-gap,
  $background: var.$brand-light-back,
  $text: var.$base-light-text,
  $border-color: var.$neutral-light-line,
  $text-accent: var.$accent-dark-text,
  $font-size-big: var.$font-size-big,
  $font-size-giant: var.$font-size-giant
);

// Form blocks
// ============================================

@use "select" with (
  $option-highlighted-background: var.$brand-dark-back,
  $background-arrow: var.$accent-dark-line,
  $background: var.$base-light-back,
  $option-highlighted-text: var.$base-light-text,
  $radius: var.$radius,
  $disabled-color: var.$neutral-dark-text,
  $border-color: var.$neutral-light-line,
  $focus-highlight: hsl(color.hue(var.$brand-dark-back), 75%, 65%),
  $z-index: var.$select-index,
  $z-index-active: var.$select-index-active
);

@use "switch" with (
  $border-color: var.$neutral-light-line,
  $background-color: var.$base-light-back,
  $disabled-background-color: var.$neutral-light-back,
  $checked-color: var.$brand-dark-line
);

@use "button" with (
  $radius: var.$radius,
  $text-color-white: var.$base-light-text,
  $text-color-black: var.$base-dark-text,
  $background-color-blue: var.$brand-dark-back,
  $background-color-red: var.$accent-dark-back,
  $shadow-color-black: var.$base-dark-back,
  $shadow-inset-color-grey: var.$neutral-dark-back,
  $margin-left: var.$grid-gap
);

@use "string" with (
  $radius: var.$radius,
  $require-asterisk-color: var.$accent-dark-text,
  $error-message-color: var.$negative-dark-text,
  $badge-background: var.$brand-light-back,
  $badge-text: var.$base-dark-text,
  $background: var.$base-light-back,
  $border: var.$neutral-light-line,
  $text: var.$base-dark-text,
  $focus-border: hsl(color.hue(var.$brand-dark-back), 75%, 65%),
  $datepickerZIndex: var.$datepicker-index
);

@use "text" with (
  $radius: var.$radius,
  $require-asterix-color: var.$accent-dark-text,
  $badge-background: var.$brand-light-back,
  $badge-text: var.$base-dark-text,
  $background: var.$base-light-back,
  $border: var.$neutral-light-line,
  $text: var.$base-dark-text,
  $focus-border: hsl(color.hue(var.$brand-dark-back), 75%, 65%)
);

@use "upload" with (
  $radius: var.$radius,
  $gap: var.$grid-gap,
  $background: var.$accent-dark-back,
  $shadow: var.$base-dark-back,
  $delete: var.$base-dark-back,
  $text: var.$base-light-text,
  $required: var.$accent-dark-text,
);

// Unique blocks
// ============================================

@use "skillsnet-connect" with (
  $a-color: var.$accent-dark-text,
  $bl-color: var.$brand-light-back,
  $f-color: var.$base-light-back
);

@use "status" with (
  $size: 30px,
  $font: var.$bebas,
  $default: rgb(96, 143, 187),
  $muted: rgb(119, 119, 119),
  $success: rgb(24, 189, 28),
  $warning: rgb(248, 195, 52),
  $danger: rgb(202, 72, 82)
);

@use "step" with (
  $gap: var.$grid-gap * 2,
  $back-color: var.$brand-dark-back,
  $font-color: var.$base-light-text,
  $radius: var.$radius
);

@use "calendar" with (
  $gap: var.$grid-gap,
  $calendar-placeholder: var.$neutral-light-text,
  $calendar-weekday-bg: var.$neutral-light-back,
  $calendar-month: var.$base-light-text,
  $calendar-month-bg: var.$brand-dark-back,
  $calendar-weekend: var.$accent-dark-text
);

@use "progress-table" with (
  $progress-padding: 0 var.$grid-gap,
  $line-margin-top: var.$grid-gap / 2,
  $item-padding: var.$grid-gap * 2 0,
  $item-value-color: var.$accent-dark-text,
  $item-background-color: var.$neutral-dark-back
);

@use "statistics" with (
  $grid-gap: var.$grid-gap,
  $bebas: var.$bebas,
  $a-color: var.$accent-dark-text
);

@use "filter-search" with (
  $grid-gap: var.$grid-gap,
  $radius: var.$radius,
  $a-color: var.$accent-dark-back,
  $c-color: var.$neutral-light-back,
  $d-color: var.$base-dark-text,
  $f-color: var.$base-light-text
);

@use "search" with (
  $b-color: var.$brand-dark-back,
  $c-color: var.$neutral-light-line,
  $f-color: var.$base-light-back
);

@use "important-info" with (
  $background-color: var.$accent-dark-back,
  $text-margin: var.$grid-gap,
  $link-color: var.$base-light-text,
  $link-blue-color: var.$brand-dark-text
);

@use "login-gosuslugi" with (
  $text-width-default: 210px
);

@use "file-preview" with (
  $background: var.$brand-light-back,
  $border: var.$neutral-light-line,
  $gap: var.$grid-gap
);

@use "definition";

@use "definitions";

@use "practice";

@use "graph" with (
  $background-left: var.$accent-dark-back,
  $background-right: var.$brand-dark-back,
  $gap: var.$grid-gap,
  $radius: var.$radius
);

// Bootstrap v4 modules
// ============================================

@use "bootstrap-grid" with (
  $grid-gap: var.$grid-gap,
  $grid-gutter-width: var.$grid-gutter-width
);

@use "bootstrap-spacing";
