@import "colors";

$sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$monospace: "Courier New", "Courier", monospace;
$bebas: "AA-BebasNeue", sans-serif;

// z Indexes
$infopanel-index: 10002;
$modal-index: 10003;
$select-index: 10001;
$select-index-active: 10004;
$tooltip-index: 10005;
$datepicker-index: 10004;

// Font sizes
$font-size-small: 14px;
$font-size: 16px;
$font-size-big: 22px;
$font-size-giant: 24px;

// Adaptive font sizes
$mobile-font-size-big: 10px;
$mobile-font-size-giant: 14px;

// Constants
$grid-gap: 10px;
$spacer: $grid-gap;
$grid-gutter-width: $grid-gap * 2;
$radius: 4px;
