$decor: rgb(31, 53, 136) !default;
$background: rgb(233, 235, 244) !default;
$text: rgb(52, 52, 52) !default;

.contract {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background: $background;
  color: $text;

  &__element {
    display: flex;
    flex-flow: column nowrap;

    &:not(:first-child) {

      &::before {
        content: "";
        height: 20px;
        width: 14px;
        margin: 5px 0;
        border-right: 3px dotted $decor;
      }
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    box-shadow: 0 0 1px $decor, inset 0 0 1px $decor;
    border: 1px solid $decor;
    border-radius: 50%;
    display: block;
    position: relative;
  }

  &__title {
    font-weight: bold;
    padding: 3px 0;
  }
}

.contract__element_inprogress .contract__icon {

  &::before, &::after {
    content: "";
    height: 32%;
    border-left: 2.5px solid;
    left: 50%;
    top: 50%;
    position: absolute;
    color: $decor;
    transform-origin: center 1px;
  }

  &::before {
    transform: translateX(-1px) rotate(180deg);
  }

  &::after {
    transform: translateX(-1px) rotate(315deg);
  }
}

.contract__element_done .contract__icon {
  background: $decor;

  &::before {
    content: "";
    width: 5px;
    height: 10px;
    border-top: 2.5px solid;
    border-left: 2.5px solid;
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%, -50%) rotate(225deg);
  }
}
