@use "sass:math";

@use "../../functions";

$gap: functions.px(10) !default;
$color__buttons: #014898 !default;
$color__button-light: #014898 !default;
$background__button-light: #EDF5FC !default;
$color__button-light: #1E88DB !default;
$font-size: functions.px(16) !default;

.search-panel {
  font-size: 0;
  margin-left: math.div(-$gap, 2);
  margin-top: math.div(-$gap, 2);
  vertical-align: top;

  &__no-filters {
    display: inline-block;
    font-size: $font-size;
    line-height: functions.px(38);
    margin-top: math.div($gap, 2);
  }

  &__item {
    $max-width-item: functions.px(250);
    display: inline-block;

    margin: functions.px(5);
    max-width: $max-width-item;
    vertical-align: top;

    &_by-content {
      max-width: 100%;
    }

    &:not(&_by-content) .select__control {
      $icon-close-size: functions.px(16);

      max-width: $max-width-item - $icon-close-size - $gap;
    }
  }

  &__buttons {
    color: $color__buttons;
    float: right;
    margin: math.div($gap, 2) 0 0 math.div($gap, 2);
  }

  &__button {
    height: functions.px(38);
    line-height: functions.px(38);
  }

  &__button:not(:first-child) {
    margin-left: $gap * 2;
  }

  &__button-light {
    background: $background__button-light;
    color: $color__button-light;
    font-weight: 600;
    height: functions.px(38);
    line-height: functions.px(38);

    &:hover,
    &:active,
    &:focus {
      background: $background__button-light;
      color: $color__button-light;
    }
  }
}
