&_russian > &__item:nth-child(1)::before {
  content: "а"
}

&_russian > &__item:nth-child(2)::before {
  content: "б"
}

&_russian > &__item:nth-child(3)::before {
  content: "в"
}

&_russian > &__item:nth-child(4)::before {
  content: "г"
}

&_russian > &__item:nth-child(5)::before {
  content: "д"
}

&_russian > &__item:nth-child(6)::before {
  content: "е"
}

&_russian > &__item:nth-child(7)::before {
  content: "ж"
}

&_russian > &__item:nth-child(8)::before {
  content: "з"
}

&_russian > &__item:nth-child(9)::before {
  content: "и"
}

&_russian > &__item:nth-child(10)::before {
  content: "й"
}

&_russian > &__item:nth-child(11)::before {
  content: "к"
}

&_russian > &__item:nth-child(12)::before {
  content: "л"
}

&_russian > &__item:nth-child(13)::before {
  content: "м"
}

&_russian > &__item:nth-child(14)::before {
  content: "н"
}

&_russian > &__item:nth-child(15)::before {
  content: "о"
}

&_russian > &__item:nth-child(16)::before {
  content: "п"
}

&_russian > &__item:nth-child(17)::before {
  content: "р"
}

&_russian > &__item:nth-child(18)::before {
  content: "с"
}

&_russian > &__item:nth-child(19)::before {
  content: "т"
}

&_russian > &__item:nth-child(20)::before {
  content: "у"
}

&_russian > &__item:nth-child(21)::before {
  content: "ф"
}

&_russian > &__item:nth-child(22)::before {
  content: "х"
}

&_russian > &__item:nth-child(23)::before {
  content: "ц"
}

&_russian > &__item:nth-child(24)::before {
  content: "ч"
}

&_russian > &__item:nth-child(25)::before {
  content: "ш"
}

&_russian > &__item:nth-child(26)::before {
  content: "щ"
}

&_russian > &__item:nth-child(27)::before {
  content: "ъ"
}

&_russian > &__item:nth-child(28)::before {
  content: "ы"
}

&_russian > &__item:nth-child(29)::before {
  content: "ь"
}

&_russian > &__item:nth-child(30)::before {
  content: "э"
}

&_russian > &__item:nth-child(31)::before {
  content: "ю"
}

&_russian > &__item:nth-child(32)::before {
  content: "я"
}
