$gap: 10px !default;
$monofont: "Courier New", "Courier", monospace !default;
$label-background: rgb(255, 68, 82) !default;
$label-text: rgb(255, 255, 255) !default;
$unordered-label-size: 5px !default;
$ordered-label-size: 24px !default;

.list {
  list-style-type: none;
  margin: 0;

  // Correction of a strange heisenbug.
  //  When the .list is the last item in container, it gets a scroll (1px)
  // MacOS, Touchepad, Firefox
  padding-bottom: 1px;

  // Drop float's flow
  // Pseudoelement's float makes flow after list
  // MacOS, Safari
  overflow: hidden;

  padding-left: $unordered-label-size + $gap * 2;

  &_ordered,
  &_leadzero,
  &_greek,
  &_russian {
    padding-left: $ordered-label-size + $gap * 2;
  }

  &:not(:last-child) {
    margin-bottom: $gap * 2;
  }

  // Counters logic

  // Set a default value
  &__item:first-child {
    counter-reset: point;
  }

  // Set a reversed default value
  &[reversed] > &__item:first-child {
    counter-increment: point -1;
  }

  // Set a custom value by [start]
  @for $point from 1 to 10 {

    &[start="#{$point}"] > &__item:first-child {
      counter-increment: point #{$point};
    }
  }

  // Set a custom value by [value]
  @for $point from 1 to 10 {

    &__item[value="#{$point}"] {
      counter-reset: point;
      counter-increment: point #{$point} !important;
    }
  }

  // Decrement value
  &[reversed] > &__item:not(:first-child) {
    counter-increment: point -1;
  }

  // Increment value
  &__item {
    counter-increment: point;
  }

  &__item:not(:last-child) {
    margin-bottom: $gap;
  }

  &__item::before {
    color: $label-text;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
    overflow: hidden;
    background: $label-background;
    margin-right: $gap;
    float: left;
    line-height: $ordered-label-size;
    font-family: $monofont;
    font-weight: bold;
  }

  &:not(&_ordered):not(&_leadzero):not(&_greek):not(&_russian) > &__item::before {
    content: "";
    vertical-align: top;
    margin-top: 0.5em;
    border-radius: $unordered-label-size / 2;
    width: $unordered-label-size;
    height: $unordered-label-size;
    margin-left: -1 * ($gap + $unordered-label-size);
  }

  &_ordered > &__item::before,
  &_leadzero > &__item::before,
  &_greek > &__item::before,
  &_russian > &__item::before {
    vertical-align: baseline;
    border-radius: $ordered-label-size / 2;
    width: $ordered-label-size;
    height: $ordered-label-size;
    margin-left: -1 * ($gap + $ordered-label-size);
  }

  &_ordered > &__item::before {
    content: counter(point);
  }

  &_leadzero > &__item::before {
    content: counter(point, decimal-leading-zero);
  }

  &_greek > &__item::before {
    content: counter(point, lower-greek);
  }

  @import "russian";
}
