@use "../../functions";

$background-color__button: #F9F9FA !default;
$border__button: #CACCCF !default;
$background-image__button: #A0A4A8 !default;
$background-image__button_hover: #0E65B7 !default;
$background-color__track: #E8E8E8 !default;
$stroke__edit-button_hover: #1E88DB !default;
$background-color__thumb: #0E65B7 !default;
$background-color__thumb_hover: #1E88DB !default;
$gap: functions.px(10) !default;
$font-size-big: functions.px(18) !default;
$font-size-small: functions.px(14) !default;
$color__placeholder: #52575C !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

$width__button: functions.px(150);
$min-width__button: functions.px(150);
$height__button: functions.px(150);
$width__img: functions.px(150);
$height__img: functions.px(150);
$width__thumb: functions.px(12);
$height__thumb: functions.px(12);
$max-width__controls: functions.px(400);
$width__track: functions.px(193);
$height__track: functions.px(2);
$border-radius__track: functions.px(4);
$margin-right__button: functions.px(43);

@mixin background-image($color) {
  background-image: functions.inlineSVG(
    '<svg fill="none" width="40" height="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M38.333 31.667A3.333 3.333 0 0135 35H5a3.333 3.333 0 01-3.333-3.333V13.333A3.333 3.333 0 015 10h6.666L15 5h10l3.333 5H35a3.334 3.334 0 013.333 3.333v18.334z" stroke="' +
    $color +
    '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M20 28.333A6.667 6.667 0 1020 15a6.667 6.667 0 000 13.333z" stroke="' +
    $color + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
  );
}

.photo {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;

  @media (max-width: functions.px(576)) {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: functions.px(767)) {
    align-items: flex-start;
    flex-direction: row;
  }

  @media (min-width: functions.px(992)) and (max-width: functions.px(1239)) {
    align-items: center;
    flex-direction: column;
  }

  &__button {
    background-color: $background-color__button;
    background-position: center functions.px(50);
    background-repeat: no-repeat;
    background-size: 25%;
    border: functions.px(1) dashed $border__button;
    border-radius: 50%;
    cursor: pointer;
    height: $height__button;
    margin: 0;
    margin-right: $gap * 4;
    min-width: $min-width__button;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: $width__button;

    @include background-image($background-image__button);

    &:hover,
    &:active {
      @include background-image($background-image__button_hover);
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }

    &:active {
      background-color: $background-color__button;
    }

    @media (max-width: functions.px(576)) {
      margin-bottom: $gap * 2;
      margin-right: 0;
    }

    @media (max-width: functions.px(767)) {
      margin-bottom: $gap * 2;
      margin-right: $margin-right__button;
    }

    @media (min-width: functions.px(992)) and (max-width: functions.px(1239)) {
      margin-bottom: $gap * 2;
      margin-right: 0;
    }

    &_img {
      border: none;
    }
  }

  &__img {
    height: $height__img;
    max-width: 100%;
    object-fit: contain;
    transform: scale(1.05);
    width: $width__img;
  }

  &__button:hover &__img {
    filter: brightness(1.1);
  }

  &__button:focus &__img,
  &__button:active &__img {
    filter: brightness(0.9);
  }

  &__placeholder {
    color: $color__placeholder;
    font-size: $font-size-small;
    left: 50%;
    position: absolute;
    top: 65%;
    transform: translateX(-50%);
  }

  &__img ~ &__placeholder {
    display: none;
  }

  &__figcaption {
    display: flex;
    flex-direction: column;

    @media (max-width: functions.px(576)) {
      align-items: center;
      width: 100%;
    }

    @media (max-width: functions.px(767)) {
      align-items: flex-start;
    }

    @media (min-width: functions.px(992)) and (max-width: functions.px(1239)) {
      align-items: center;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    font-size: $font-size-big;
    font-weight: 500;
    line-height: 1.333;
    margin-bottom: $gap * 2;

    @media (max-width: functions.px(767)) {
      align-items: center;
    }

    @media (min-width: functions.px(992)) and (max-width: functions.px(1239)) {
      align-items: center;
    }
  }

  &__birth {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: functions.px(10);
  }

  &__controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: -$gap auto 0;
    max-width: $max-width__controls;
  }

  &__edit-button {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    font: inherit;
    justify-content: center;
    padding: 0;

    &:hover svg {
      stroke: $stroke__edit-button_hover;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  &__edit-button:not(:last-child) {
    margin-right: functions.px(10);
  }

  &__rotate-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__zoom {
    align-items: center;
    display: flex;
    justify-content: space-between;

    input {
      height: functions.px(2);
      width: functions.px(193);
    }
  }

  &__track {
    background-image: linear-gradient(
      to right,
      $background-color__thumb,
      $background-color__thumb 50%,
      $background-color__track 50%
    );
    border-radius: $border-radius__track;
    height: $height__track;
    position: relative;
    width: $width__track;
  }

  &__thumb {
    background-color: $background-color__thumb;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: $height__thumb;
    left: 50%;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $width__thumb;

    &:hover {
      background-color: $background-color__thumb_hover;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  &__upload {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__upload-button,
  &__upload-button:hover {
    color: #FFFFFF;
  }

  &:focus {
    box-shadow: $box-shadow-focus;
    outline: none;
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: $box-shadow-focus;
  }

  &__modal-footer {
    align-items: center;
    display: flex;
    margin-top: $gap;
  }

  &_logo &__button {
    background: none;
    background-color: $background-color__button;
    border-radius: 0;
  }

  &_logo &__placeholder {
    line-height: 1.333;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
