@use "sass:math";

@use "../../functions";

$color__letter: #014898 !default;
$color__item_hover: #1E88DB !default;
$background-colo__tooltip: #FFFFFF !default;
$color__tooltip-text: #52575C !default;
$gap: functions.px(10) !default;
$border-radius__tooltip: functions.px(4) !default;
$tooltip-index: 10011 !default;
$font-size-title-huge: functions.px(40) !default;
$border__trigger-button_open: functions.px(15);
$shadow: 0 functions.px(2) functions.px(8) rgba(0, 0, 0, 0.15) !default;

$font-size-small: functions.px(14) !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

.choose-region {
  margin-top: $gap * 2;

  &__list-region,
  &__alphabet {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-region {
    margin-top: $gap * 2;
  }

  &__alphabet-item {
    margin-top: $gap * 3;
  }

  &__item {
    background-color: transparent;
    border: 0;
    color: currentColor;
    cursor: pointer;
    font: inherit;
    padding: 0;

    &:hover {
      color: $color__item_hover;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  &__region {
    margin-bottom: $gap;
  }

  &__letter {
    color: $color__letter;
    font-size: $font-size-title-huge;
    font-weight: 500;
    line-height: 1.25;
    user-select: none;
  }

  &__trigger-button {
    display: block;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__trigger-button_open {
    position: relative;

    &::before {
      border: math.div($border__trigger-button_open, 2) solid transparent;
      border-bottom-color: $background-colo__tooltip;
      border-top-width: 0;
      bottom: -$gap - functions.px(1);
      display: block;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      z-index: $tooltip-index;

      @media (min-width: functions.px(576)) {
        content: "";
      }
    }
  }

  &__tooltip {
    background-color: $background-colo__tooltip;
    border-radius: $border-radius__tooltip;
    box-shadow: $shadow;
    box-sizing: border-box;
    display: none;
    left: 0;
    position: fixed;
    top: functions.px(105);
    width: 100%;
    z-index: $tooltip-index;

    @media (min-width: functions.px(576)) {
      left: auto;
      margin-top: $gap;
      min-width: functions.px(370);
      position: absolute;
      right: 0;
      top: $gap * 2;
      width: auto;
    }

    &-trigger {
      @media (min-width: functions.px(992)) {
        display: inline-flex;
        margin-right: $gap * 1.5;
        min-width: 0;
        position: relative;
      }
    }

    &-wrapper {
      padding: $gap * 2 $gap * 1.5;

      @media (min-width: functions.px(576)) {
        padding: $gap * 2 $gap * 3 $gap * 2.5 $gap * 3.6;
      }
    }

    &-buttons {
      display: flex;
      flex-direction: column;

      @media (min-width: functions.px(576)) {
        flex-direction: row;
      }
    }

    &-button {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: $gap;
      }

      @media (min-width: functions.px(576)) {
        width: auto;

        &:last-child {
          flex-grow: 1;
        }

        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: $gap * 2;
        }
      }
    }

    &-text {
      color: $color__tooltip-text;
      font-size: $font-size-small;
      margin-bottom: $gap * 2;
    }

    &-region {
      font-weight: 600;
    }
  }

  &__trigger-button_open + &__tooltip {
    display: block;
  }
}
