@use "sass:math";

@use "../../functions";

$gap: functions.px(10) !default;
$color__icon: #014898 !default;
$width__icon: functions.px(16);

.professions {
  column-gap: $gap * 3;
  columns: 2;

  @media (max-width: functions.px(720)) {
    columns: 1;
  }

  &__item {
    display: flex;
    margin-bottom: math.div($gap, 2);
  }

  &__button &__button-icon {
    height: $gap * 1.6;
    min-width: $gap * 1.6;
    width: $gap * 1.6;
  }

  &__icon {
    color: $color__icon;
    margin-right: $gap;
    width: $width__icon;
  }
}
