@use "sass:math";
@use "../../functions";

$gap: functions.px(10) !default;
$color: #A0A4A8 !default;
$stroke__control: #0E65B7 !default;
$fill__control: #0E65B7 !default;
$stroke__icon: #1E88DB !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

.button-switch {
  color: $color;
  cursor: pointer;
  display: inline-flex;
  max-width: 100%;
  position: relative;
  vertical-align: middle;

  &__wrapper {
    margin-bottom: math.div(-$gap, 2);
    margin-left: math.div(-$gap, 2);
  }

  &__wrapper & {
    margin: functions.px(5);
  }

  &__control {
    opacity: 0;
    pointer-events: none;
    position: absolute;

    &:not(:disabled) {

      &:focus {

        & + * {
          box-shadow: $box-shadow-focus;
        }
      }

      &:focus:not(:focus-visible) {

        & + * {
          box-shadow: none;
        }
      }

      &:focus-visible {

        & + * {
          box-shadow: $box-shadow-focus;
        }
      }
    }
  }

  &__icon:hover {
    stroke: $stroke__icon;
  }

  &__control:checked + &__icon {
    fill: $fill__control;
    stroke: $stroke__control;
  }
}
