$background-color: rgb(255, 66, 82) !default;
$text-color: rgb(255, 255, 255) !default;
$text-margin: 10px !default;
$link-color: $text-color !default;
$link-border-color: $text-color !default;
$link-margin: $text-margin !default;
$link-blue-color: rgb(31, 53, 136) !default;
$link-blue-border-color: $link-blue-color !default;
$link-blue-background-color: $text-color !default;

.important-info {
  position: relative;
  padding: 6px 0;
  font-size: 15px;
  text-align: center;
  background-color: $background-color;

  @media (max-width: 520px) {
    padding: 6px;
  }

  &__text {
    vertical-align: middle;
    color: $text-color;
    font-size: 18px;
    font-weight: bold;
    margin-right: $text-margin;

    @media (max-width: 980px) {
      display: block;
      margin-right: 0;
      margin-bottom: $text-margin;
    }
  }

  &__link {
    border-radius: 4px;
    padding: 3px 17px 5px;
    background: transparent;
    border: 1px solid $link-border-color;
    color: $link-color;
    font-size: 15px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    text-decoration: none;
    margin-left: $link-margin;

    @media (max-width: 520px) {
      display: block;
      margin-left: 0;
      margin-bottom: $link-margin;
    }

    &_blue {
      border-bottom-width: 3px;
      border-color: $link-blue-border-color;
      color: $link-blue-color;
      background: $link-blue-background-color;
    }
  }
}
