@use "sass:color";

@use "../../functions";
@use "images" as *;

$gap: functions.px(10) !default;
$radius: functions.px(8) !default;
$color__text: #FFFFFF !default;
$color__link: #FFFFFF !default;
$background: #69B3E7 !default;
$breakpoint: functions.px(1024);
$gap-vertical: $gap * 5;
$max-height-banner: functions.px(350);
$font-size-text: functions.px(20) !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

.banner {
  background: $background;
  margin: 0;
  padding: $gap-vertical 0;
  position: relative;

  @media (min-width: functions.px(768)) {
    background: $background url("banner/banner-default.svg") right $gap * 7 center no-repeat;
    margin: 0 #{- $gap * 1.5};

    @if (not $images) {
      background-image: none;
    }
  }

  &__text {
    animation: 1s banner-show-text;
    color: $color__text;
    font-size: $font-size-text;
    line-height: 1.4;

    @keyframes banner-show-text {

      from {
        opacity: 0;
      }
    }

    @media (min-width: $breakpoint) {
      max-width: 80%;
    }
  }

  &__image ~ &__text {
    @media (min-width: $breakpoint) {
      max-width: 45%;
    }
  }

  &__image {
    display: none;
    max-width: 100%;
    transition: opacity 0.2s ease-in-out;

    &_hide {
      opacity: 0;
    }

    @media (min-width: $breakpoint) {
      display: block;
      height: 100%;
      max-width: 50%;
      object-fit: cover;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  &__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: functions.px(1200);
    min-height: $max-height-banner - $gap-vertical * 2;
    padding-left: functions.px(15);
    padding-right: functions.px(15);

    @media (min-width: functions.px(576)) and (max-width: functions.px(1240)) {
      padding-left: $gap * 3;
      padding-right: $gap * 3;
    }
  }

  &__link {
    color: $color__link;
    display: inline-block;
    margin-top: $gap * 2.5;
    text-decoration: none;

    // TODO is this necessary?
    .button {
      margin-right: $gap * 2;
    }

    .icon {
      stroke: $background;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  // modification short banner (image - left)
  &_short {
    background: $background url("banner/banner-short.svg") right $gap * 4 center no-repeat;
    border-radius: $radius;
    box-sizing: border-box;
    margin: 0;
    padding: $gap * 1.5 $gap * 1.5;

    @if (not $images) {
      background-image: none;
    }

    @media (min-width: functions.px(576)) and (max-width: functions.px(1239)) {
      padding-left: $gap * 3;
      padding-right: $gap * 3;
    }

    @media (min-width: functions.px(1240)) {
      padding-left: $gap * 4;
      padding-right: $gap * 4;
    }
  }

  &_short &__container {
    display: flex;
    flex-direction: row;
    min-height: 0;
    padding: 0;

    @media (min-width: functions.px(1240)) {
      padding-left: functions.px(15);
      padding-right: functions.px(15);
    }
  }

  &_short &__image {
    display: none;
    max-width: 100%;
  }

  @media (min-width: $breakpoint) {

    &_short &__image {
      display: block;
      height: auto;
      margin-right: $gap * 5;
      object-fit: none;
      position: static;
      width: auto;
    }

    &_short &__text {
      max-width: 100%;
    }
  }
}
