@use "sass:math";
@use "../../functions";

$color__title: #25282B !default;
$color__text: #A0A4A8 !default;
$border-color__item_disabled: #E8E8E8 !default;
$color__item_disabled: #E8E8E8 !default;
$stroke__item_disabled: #E8E8E8 !default;
$background-color__item_disabled: #E8E8E8 !default;
$background-color__label-after: #E8E8E8 !default;
$color__label: #0E65B7 !default;
$stroke__label: #0E65B7 !default;
$border__label: #0E65B7 !default;
$background-color__label: #0E65B7 !default;
$stroke_fill: #FFFFFF !default;
$color_fill: #FFFFFF !default;
$gap: functions.px(10) !default;
$font-size-small: functions.px(14) !default;
$font-size-smaller: functions.px(12) !default;
$width-label-after: functions.px(40);
$size: functions.px(38);
$width__label: functions.px(38);
$height__label: functions.px(38);

.step-check {

  &__item {
    align-items: flex-start;
    display: flex;
    min-height: $gap * 6.9;
    position: relative;
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: functions.px(6);
    }
  }

  &__item_disabled &__label {
    border-color: $border-color__item_disabled;
    color: $color__item_disabled;
    stroke: $stroke__item_disabled;

    &::after {
      background-color: $background-color__item_disabled;
    }
  }

  &__item_disabled &__text {
    display: none;
  }

  &__item_disabled &__check,
  &__item_active &__check {
    transform: rotate(-45deg) translate(functions.px(2), functions.px(-3));
  }

  &__item:not(:first-child) &__label {

    &::after {
      content: "";
    }
  }

  &__label {
    align-items: center;
    border: functions.px(3) solid $border__label;
    border-radius: 50%;
    box-sizing: border-box;
    color: $color__label;
    display: flex;
    flex: 0 0 auto;
    font-size: $font-size-smaller;
    height: $height__label;
    justify-content: center;
    margin-right: functions.px(15);
    stroke: $stroke__label;
    width: $width__label;

    &::after {
      background-color: $background-color__label;
      height: calc(100% - #{$width-label-after});
      left: math.div($size, 2);
      position: absolute;
      top: functions.px(-32);
      width: functions.px(1);
      z-index: 1;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    font-size: $font-size-small;
    font-weight: 500;
    justify-content: center;
    min-height: functions.px(38);
  }

  &__title {
    color: $color__title;
    line-height: 1.72;
  }

  &__text {
    color: $color__text;
  }

  &__check {
    fill: none;
    height: functions.px(24);
    width: functions.px(24);
  }

  &_fill &__item_active &__label {
    background-color: transparent;
    color: $color__label;
    stroke: $stroke__label;

    &::after {
      background-color: $background-color__label-after;
    }
  }

  &_fill &__label {
    background-color: $background-color__label;
    color: $color_fill;
    margin-bottom: $gap * 1.5;
    stroke: $stroke_fill;
  }

  &_fill &__item_disabled &__label {
    background-color: transparent;
  }

  &__item_active &__label,
  &_fill &__item_active &__label {

    &::after {
      background-color: $background-color__label;
    }
  }
}
