@use "../../functions";

$gap: functions.px(10) !default;
$background_active: #EDF5FC !default;

.card-notification {

  &_active {
    background: $background_active;
    margin: $gap * -3 $gap * -1.5;
    padding: $gap * 3 $gap * 1.5;

    @media (min-width: functions.px(576)) {
      margin: $gap * -3;
      padding: $gap * 3;
    }
  }
}
