@use "../../functions";
@use "sass:math";

$gap: functions.px(10) !default;
$background-color__item: #FFFFFF !default;
$background-color__item_hover: #EDF5FC !default;
$color__collapse-control: #014898 !default;
$background-image__collapse-control: #014898 !default;
$border__item: #E8E8E8 !default;

.tree-table {

  &__item {
    animation: trShow 200ms linear;
    background-color: $background-color__item;
    display: table-row;

    &:hover,
    &:focus {
      background-color: $background-color__item_hover;
    }
  }

  &__body &__item:not(:last-child) {
    border-bottom: functions.px(1) solid $border__item;
  }

  &__body &__cell,
  & &__title {
    padding: $gap;
  }

  &__body &__second-level {
    padding: $gap;
    padding-left: $gap * 3;
  }

  &__body &__third-level {
    padding: $gap;
    padding-left: $gap * 7;
  }

  @media (min-width: functions.px(767)) {

    &__body &__cell,
    & &__title {
      padding: $gap * 1.2 $gap * 2;
    }

    &__body &__second-level {
      padding: $gap * 1.2 $gap * 2 $gap * 1.2 $gap * 4;
    }

    &__body &__third-level {
      padding: $gap * 1.2 $gap * 2 $gap * 1.2 $gap * 8;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
  }

  &__collapse-control {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 1.714;
    min-height: $gap * 1.6;
    padding: 0 0 0 $gap * 2.4;
    position: relative;
    text-align: left;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    word-break: break-word;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &::before {
      background-image: functions.inlineSVG(
        "<svg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path stroke='" +#{$background-image__collapse-control}+"' d='M19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path stroke='" +#{$background-image__collapse-control}+"' d='M8 12H16' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>"
      );
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
      height: $gap * 1.6;
      left: 0;
      position: absolute;
      top: $gap * 0.3;
      transition: transform 200ms ease-in-out;
      width: $gap * 1.6;
    }

    &_single::before {
      top: 0;
    }

    &_empty {
      cursor: default;
      padding-left: 0;

      &::before {
        display: none;
      }
    }

    > * {
      pointer-events: none;
    }
  }

  &__collapse-control:not([aria-expanded="true"])::before {
    background-image: functions.inlineSVG(
      "<svg fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path stroke='" +#{$background-image__collapse-control}+"' d='M19 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3Z' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path stroke='" +#{$background-image__collapse-control}+"' d='M12 8V16' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/><path stroke='" +#{$background-image__collapse-control}+"' d='M8 12H16' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>"
    );
  }
}

@keyframes trShow {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
