@use "../../functions";

@use "sass:color";

$footer-background: #E8E8E8 !default;
$gap: functions.px(10) !default;
$color__title: #25282B !default;
$color__link: #25282B !default;
$color__nav-title: #25282B !default;
$color: #52575C !default;
$border-right__important: #52575C !default;
$separator: #282828 !default;
$border-bottom__separator: color.adjust($separator, $hue: 6deg, $saturation: 1%, $lightness: 16%);
$font-size-big: functions.px(18) !default;
$font-size-small: functions.px(14) !default;
$font-size-smaller: functions.px(12) !default;
$width-content: functions.px(1200) !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

.footer {
  background-color: $footer-background;
  color: $color;
  padding: $gap * 6 0;

  &__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $width-content;
    padding-left: $gap * 1.5;
    padding-right: $gap * 1.5;

    @media (min-width: functions.px(576)) and (max-width: functions.px(1240)) {
      padding-left: $gap * 3;
      padding-right: $gap * 3;
    }
  }

  &__section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: $gap * 5;
  }

  &__logo {
    content: "";
    margin-bottom: $gap * 2;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }

    &-img {
      height: functions.px(50);
      width: functions.px(46);
    }
  }

  &__title {
    color: $color__title;
    font-size: $font-size-big;
    font-weight: 600;
    line-height: 1.7;
    margin: 0;
  }

  &__link {
    color: $color__link;
    font-size: $font-size-big;
    font-weight: 600;
    line-height: 1.7;
    text-decoration: none;

    &:hover {
      color: $color__link;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  &__extra-wrap {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;

    @media (max-width: functions.px(600)) {
      align-items: start;
      flex-flow: column wrap;
    }
  }

  &__spoiler-container {
    line-height: 1;
    margin-left: auto;
    padding-left: $gap * 2;

    @media (max-width: functions.px(600)) {
      margin-left: 0;
      order: -1;
      padding-left: 0;
    }
  }

  &__spoiler-control {
    margin-bottom: $gap;
  }

  &__nav {

    &-title {
      color: $color__nav-title;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: $gap * 1.5;
      margin-top: 0;
    }

    &-link {
      color: inherit;
      display: block;
      font-size: $font-size-small;
      margin-bottom: $gap;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        box-shadow: $box-shadow-focus;
        outline: none;
      }

      &:focus:not(:focus-visible) {
        box-shadow: none;
      }

      &:focus-visible {
        box-shadow: $box-shadow-focus;
      }
    }
  }

  &__separator {
    border-bottom: functions.px(1) solid $border-bottom__separator;
    border-top: none;
    display: block;
    flex: 1 0 100%;
    margin: $gap 0;
  }

  &__important {
    display: inline-flex;
    flex-direction: row;
    line-height: 1;

    @media (max-width: functions.px(600)) {
      flex-direction: column;
    }
  }

  &__important &__nav-link {
    font-size: $font-size-smaller;
  }

  &__important &__nav-link:not(:last-child) {
    border-right: functions.px(1) solid $border-right__important;
    margin-right: $gap * 2;
    padding: 0 $gap * 2 0 0;

    @media (max-width: functions.px(600)) {
      border-right: 0;
    }
  }

  &__copyright {
    font-size: $font-size-smaller;
  }

  &__mobile-link {
    display: block;
    font-size: 0;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }
}
