@use "sass:color";
@use "../../functions";

$gap: functions.px(10) !default;
$font-size-small: functions.px(14) !default;
$color__preview: #52575C !default;
$fill__preview-arrow: #0E65B7 !default;
$color__preview-active: #1E88DB !default;
$background-color__preview-active: #EDF5FC !default;
$border__list: #E8E8E8 !default;
$background-color__list: #FFFFFF !default;
$border-radius: functions.px(8) !default;
$color__item: #52575C !default;
$background-color__item_active: #EDF5FC !default;
$color__item_active: #0E65B7 !default;
$color__item-hover: #1E88DB !default;

$shadow-color: color.adjust($color__preview, $alpha: -0.88);
$shadow__list: 0 functions.px(4) functions.px(8) $shadow-color !default;

.sidebar-menu {
  margin-bottom: functions.px(30);
  position: relative;

  &__preview {
    appearance: none;
    background: no-repeat right $gap * 1.5 center/$gap $gap * 0.5 transparent;
    background-image: functions.inlineSVG(
      "<svg viewBox='0 0 10 5' xmlns='http://www.w3.org/2000/svg'><path d='M0 0L5 5L10 0Z' fill='" +#{$fill__preview-arrow}+
      "'/></svg>"
    );
    border: none;
    border-radius: $border-radius;
    color: $color__preview;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: $font-size-small;
    font-weight: 500;
    line-height: 1.286;
    max-width: 100%;
    overflow: hidden;
    padding: $gap $gap * 3 $gap $gap * 1.5;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    @media (min-width: functions.px(992)) {
      display: none;
    }
  }

  &__preview:active,
  &__preview:focus {
    background-color: $background-color__preview-active;
    color: $color__preview-active;
  }

  &_open &__preview {
    background-image: functions.inlineSVG(
      "<svg viewBox='0 0 10 5' xmlns='http://www.w3.org/2000/svg'><path d='M0 5L5 0L10 5Z' fill='" +#{$fill__preview-arrow}+
      "'/></svg>"
    );
  }

  &__list {
    background-color: $background-color__list;
    border: functions.px(1) solid $border__list;
    border-radius: $border-radius;
    box-shadow: $shadow__list;
    margin-top: $gap;
    max-height: calc(100vh - #{functions.px(250)});
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 2;

    @media (min-width: functions.px(992)) {
      background-color: transparent;
      border: none;
      box-shadow: none;
      margin-top: 0;
      position: relative;
    }
  }

  &__item {
    color: $color__item;
    display: flex;
    font-size: $font-size-small;
    font-weight: 500;
    line-height: 1.286;
    padding: $gap * 1.1 $gap * 3 $gap * 1.1 $gap * 1.8;
    position: relative;
    text-decoration: none;
    transition: background-color 0.25s linear;

    @media (min-width: functions.px(992)) {
      border-radius: $border-radius;

      &:hover {
        color: $color__item-hover;
      }
    }
  }

  &__item_active {
    background-color: $background-color__item_active;

    @media (min-width: functions.px(992)) {
      color: $color__item_active;
    }
  }

  @media (min-width: functions.px(320)) and (max-width: functions.px(992)) {

    &:not(&_open) &__list {
      display: none;
    }
  }
}
