@use "../../functions";

$gap: functions.px(10) !default;
$color__link: #52575C !default;
$color__experience: #52575C !default;
$color__name: #25282B !default;
$color__updated: #A0A4A8 !default;
$color__like: #A0A4A8 !default;
$color__type: #A0A4A8 !default;
$color__like_hover: #014898 !default;
$color__type_hover: #014898 !default;
$color__link_hover: #014898 !default;
$color__name_hover: #014898 !default;
$font-size-small: functions.px(14) !default;
$font-size: functions.px(13) !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

.recomendation-resume {
  box-sizing: border-box;
  padding: 0 $gap * 1.5;

  @media (min-width: functions.px(992)) {
    width: 50%;
  }

  @media (min-width: functions.px(1200)) {
    width: 33.3333%;
  }

  &__list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -#{$gap * 1.5};
  }

  &__link {
    color: $color__link;
    display: inline-block;
    margin-bottom: $gap;

    &:hover {
      text-decoration: none;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: functions.px(5);
  }

  &__type {
    color: $color__type;
    font-size: $font-size-small;

    &:hover {
      color: $color__type_hover;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  &__name {
    color: $color__name;
    font-weight: 600;
    line-height: $gap * 2;
    max-height: $gap * 2;
    overflow: hidden;
    text-decoration: none;

    &:hover {
      color: $color__name_hover;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  &__company {
    font-size: $font-size-small;
    line-height: $gap * 2;
    margin-bottom: $gap;
    max-height: $gap * 2;
    overflow: hidden;
    padding-right: $gap * 7;
  }

  &__grid {
    display: grid;
    grid-template-columns: min-content auto functions.px(40);
    grid-template-rows: 1fr 1fr;
    margin-bottom: functions.px(4);
  }

  &__price {
    font-weight: 500;
    grid-column: 1 / 3;
    grid-row: 1;
    line-height: $gap * 2;
    margin-bottom: functions.px(2);
  }

  &__experience {
    color: $color__experience;
    font-size: $font-size;
    grid-column: 1 / 2;
    grid-row: 2;
    margin-right: $gap * 1.8;
    white-space: nowrap;
  }

  &__updated {
    color: $color__updated;
    font-size: $font-size;
    font-weight: 500;
    grid-column: 2 / 3;
    grid-row: 2;
  }

  &__avatar {
    align-items: flex-end;

    display: flex;
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
  }

  &__image {
    border-radius: 50%;
    height: functions.px(40);
    max-width: functions.px(40);
  }

  &__link {
    color: $color__link_hover;
    font-size: $font-size;
    line-height: 1.538;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  &__like {
    color: $color__like;
    font-size: $font-size-small;
    margin-left: $gap;

    &:hover {
      color: $color__like_hover;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }
}
