@use "sass:math";
@use "../../functions" as *;

$gap: px(10) !default;
$radius: px(8) !default;
$font-size-small: px(14) !default;
$font-size: px(16) !default;
$font-size-small: px(14) !default;
$font-size-big: px(18) !default;

$color__item: #25282B !default;
$color__preview: #014898 !default;
$color__item-active: #014898 !default;
$background__preview: #014898 !default;
$border-color__item-active: #014898 !default;
$decoration: #014898 !default;
$border-bottom: #E8E8E8 !default;
$border__item: #A0A4A8 !default;
$background-color__item-active: #EDF5FC !default;
$progress-color: #0E65B7 !default;
$color__item-hover: #1E88DB !default;
$color__preview-hover: #1E88DB !default;
$border-color__item-hover: #1E88DB !default;
$background-color__list: #FFFFFF !default;
$background-color_column: #FFFFFF !default;
$background-color_radio: #FFFFFF !default;
$background-color__item-element: #0E65B7 !default;
$border__list-vertical: #E8E8E8 !default;

$box-shadow-focus: 0 0 0 px(3) #B4D9F3 !default;
$decoration-size: px(3);
$border-bottom-height: px(1);
$radio-size: px(18);
$height__item: px(40);
$z-index__list: 1;

@mixin arrow-color($color) {
  background-image: inlineSVG(
    '<svg width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 5L5 0L10 5H0Z" fill="' + #{$color}+
    '"/></svg>'
  );
}

.tabs {
  border-bottom: none;
  position: relative;

  @media (min-width: px(768)) {
    border-bottom: $border-bottom-height solid $border-bottom;
  }

  &__list {
    background-color: $background-color__list;
    border-radius: $radius;
    box-shadow: 0 0 px(8) rgba(82, 87, 92, 0.12);
    margin-top: $gap;
    padding: $gap 0;
    position: absolute;
    width: 100%;
    z-index: $z-index__list;

    @media (min-width: px(576)) {
      width: calc(100% - ($gap * 6));
    }

    @media (min-width: px(768)) {
      background-color: transparent;
      border: none;
      box-shadow: none;
      margin-top: 0;
      padding: 0;
      position: relative;
      width: auto;
    }
  }

  &__item {
    appearance: none;
    background: transparent;
    background-size: 0 100%;
    border: none;
    box-sizing: border-box;
    color: $color__item;
    cursor: pointer;
    display: block;
    font-size: $font-size-small;
    font-weight: 500;
    height: $height__item;
    outline: 0;
    overflow: hidden;
    padding: $gap $gap * 1.6;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }

    &:not(:last-child) {
      margin-right: $gap * 3;
    }

    &:hover {
      color: $color__item-hover;
    }
  }

  @media (min-width: px(768)) {

    &:not(&_vertical) &__item {
      bottom: -$border-bottom-height;
      display: inline-block;
      line-height: $height__item;
      margin-left: 0;
      padding: 0;
      transition: color 0.15s ease-in, background-size 0.15s ease-in;
      vertical-align: top;
      width: auto;

      &::after {
        background-color: $background-color__item-element;
        border-radius: px(2) px(2) 0 0;
        bottom: 0;
        content: "";
        height: px(3);
        left: 0;
        position: absolute;
        transition: width 0.15s ease-in;
        width: 0;
      }
    }
  }

  &__preview {
    appearance: none;
    background: no-repeat
      linear-gradient(to top, $background__preview $decoration-size, transparent $decoration-size);
    background-size: 100% 100%;
    border: none;
    color: $color__preview;
    cursor: pointer;
    display: none;
    font-size: $font-size-small;
    font-weight: 500;
    height: $gap * 5;
    max-width: 100%;
    overflow: hidden;
    padding: $gap 0;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:after {
      background-repeat: no-repeat;
      content: "";
      height: $gap * 0.5;
      position: absolute;
      right: $gap * 1.4;
      top: 50%;
      width: $gap;

      @include arrow-color($progress-color);
    }

    &:hover,
    &:focus {
      border-color: $color__preview-hover;
      color: $color__preview-hover;
      outline: none;

      &:after {
        @include arrow-color($color__preview-hover);
      }
    }
  }

  @media (max-width: px(767)) {

    &__preview {
      display: block;
      padding-right: px(40);

      &:after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }

    &_open &__preview::after {
      transform: translateY(-50%) rotate(0deg);
    }

    &:not(&_open) &__list {
      display: none;
    }
  }

  &__content {
    margin-top: $gap * 3;

    &_column {
      margin-top: 0;
    }
  }

  // Не по БЭМу из-за ограничений bootstrap
  &:not(&_vertical) &__list > &__item#{&}_active {
    background-color: $background-color__item-active;
    pointer-events: none;

    @media (min-width: px(768)) {
      background-color: transparent;
      color: $color__item-active;
      position: relative;

      &::after {
        width: 100%;
      }
    }
  }

  &__content:not(&_active) {
    display: none;
  }

  // card with tabs
  &_in-top {
    margin: $gap * -1.5 0 0;

    @media (min-width: px(576)) {
      margin: $gap * -2.5 $gap * -3 0;
      padding: 0 $gap * 3;
    }
  }

  &_column {
    align-items: flex-start;
    background: $background-color_column;
    border: 0;
    border-radius: $radius;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: $gap $gap * 3;
  }

  &_column &__item {
    margin-right: 0;
  }

  &_column &__item:not(:hover) {
    color: $color__item;
  }

  &_radio {
    border-bottom: none;
  }

  &_radio &__item {
    color: $color__item;
    height: auto;
    line-height: 1.143;
    margin-right: $gap * 2;
    min-height: $gap * 3;
    padding-left: $gap * 2.5;
    white-space: normal;
  }

  &_radio &__item {

    &::before {
      background-color: $background-color_radio;
      background-image: inlineSVG(
        "<svg width='8' height='8' fill='" + $decoration +
        "' xmlns='http://www.w3.org/2000/svg'><circle cx='4' cy='4' r='2' /></svg>"
      );
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 0 0;
      border: px(1) solid $border__item;
      border-radius: 50%;
      box-sizing: border-box;
      content: "";
      height: $radio-size;
      left: 0;
      position: absolute;
      transition: border-color 0.2s ease-in 0s;
      width: $radio-size;
    }

    &:not(button)::before {
      $line-height: 1.5;
      font-size: $font-size-big;

      top: math.div($font-size-big * $line-height - $radio-size, 2 * $font-size) * 1em;
    }

    &:hover {
      color: $color__item;
    }

    &:hover &::before {
      border-color: $border-color__item-hover;
    }
  }

  &_radio &__item#{&}_active {

    &::before {
      background-size: 100% 100%;
      border-color: $border-color__item-active;
      transition: background-size 0.2s ease-in 0s;
    }
  }

  &_vertical &__list {
    background-color: $background-color__list;
    border: px(1) solid $border__list-vertical;
    border-radius: $radius;
    box-shadow: 0 0 px(8) rgba(82, 87, 92, 0.12);
    display: flex;
    flex-direction: column;
    margin-top: $gap;
    padding: $gap 0;
  }

  &_vertical &__item {
    margin-right: 0;

    @media (min-width: px(992)) {
      overflow: visible;

      &::after {
        background-color: $background-color__item-element;
        border-radius: 0 px(2) 0;
        content: "";
        height: 0;
        left: -$gap * 3;
        position: absolute;
        top: 0;
        transition: height 0.15s ease-in;
        width: px(3);
      }
    }
  }

  &_vertical &__list > &__item#{&}_active {
    background-color: $background-color__item-active;
    pointer-events: none;

    @media (min-width: px(992)) {
      background-color: transparent;
      color: $color__item-active;
      position: relative;

      &::after {
        height: 100%;
        width: px(3);
      }
    }
  }

  @media (min-width: px(992)) {

    &_vertical {
      border-bottom: $border-bottom-height solid $border-bottom;
    }

    &_vertical &__item {
      bottom: -$border-bottom-height;
      display: inline-block;
      line-height: $height__item;
      margin-left: 0;
      padding: 0;
      transition: color 0.15s ease-in, background-size 0.15s ease-in;
      vertical-align: top;
      width: auto;

      &::after {
        background-color: $background-color__item-element;
        border-radius: 0 px(2) px(2) 0;
        content: "";
        height: 0;
        left: -$gap * 3;
        position: absolute;
        top: 0;
        transition: height 0.15s ease-in;
        width: px(3);
      }
    }

    &_vertical &__list {
      margin-top: 0;
      padding: $gap $gap * 3 $gap * 1.5;
    }
  }

  @media (max-width: px(991)) {

    &_vertical &__preview {
      display: block;

      &:after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }

    &_vertical &_open &__preview::after {
      transform: translateY(-50%) rotate(0deg);
    }

    &_vertical#{&}:not(&_open) &__list {
      display: none;
    }
  }
}
