@use "../../functions";

$gap: functions.px(10) !default;
$background-color: #FFBC1F !default;
$stroke__icon: #E89806 !default;
$font-size-small: functions.px(14) !default;
$radius: functions.px(8) !default;

.czn-badge {
  background-color: $background-color;
  border-radius: $radius;
  display: flex;
  flex-flow: column nowrap;
  padding: $gap * 1.5;

  &__text {
    font-size: $font-size-small;
    font-weight: 500;
  }

  &__icon {
    margin-right: $gap * -1.5;
    margin-top: $gap * 0.5;
    stroke: $stroke__icon;
  }

  &__links {
    font-size: $font-size-small;
    margin-left: $gap * 3;
  }
}
