@use "../../functions";

$gap: functions.px(10) !default;
$radius: functions.px(8) !default;
$max-width__progressbar: functions.px(680) !default;
$height__stat-diagram: functions.px(24) !default;
$background__stat-diagram: #0E65B7 !default;
$social-icon-color: #0E65B7 !default;
$color__stat-variant: #52575C !default;
$color__stat: #25282B !default;
$color__finished_notpassed: #7C8083 !default;
$breakpoint-mobile: functions.px(767) !default;
$font-size-big: functions.px(18) !default;

.ib-questionnaire {

  &_passed {
    cursor: pointer;
  }

  &__showmore {
    /* autoprefixer: ignore next */
    display: contents;
    flex: 0 0 100%;
    // display: contents не работают в ИЕ ниже 11
    // для более корректного отображения в ИЕ убираем негативные отсупы .row
    margin: 0;
  }

  &__properties {
    display: flex;
    flex-flow: wrap;
    margin-bottom: $gap;

    @media (min-width: $breakpoint-mobile) {
      font-size: $font-size-big;
    }

    &-label {
      flex: 0 0 functions.px(170);
      font-weight: 500;
    }

    &-value {
      flex: 0 0 auto;
    }
  }

  &__finished &__finished-item:last-child {
    margin-bottom: 0;
  }

  &__finished_notpassed {
    color: $color__finished_notpassed;
  }

  &__progressbar {
    align-items: center;
    display: flex;
    max-width: $max-width__progressbar;
  }

  &__question {
    max-width: 50%;

    @media (max-width: $breakpoint-mobile) {
      max-width: 100%;
    }
  }

  &__social {

    .ya-share2__list {
      display: inline-flex;
    }

    .ya-share2__container_size_m .ya-share2__icon {
      background-position: center;
      background-repeat: no-repeat;
    }

    .ya-share2__item_service_vkontakte .ya-share2 {

      &__icon {
        background-image: functions.inlineSVG(
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.4956 6.87164C22.651 6.35719 22.4956 6 21.772 6H19.3654C18.7464 6 18.4704 6.3252 18.3176 6.68505C18.3176 6.68505 17.0956 9.6625 15.359 11.5764C14.7908 12.1415 14.5496 12.3121 14.2414 12.3121C14.086 12.3121 13.8636 12.1415 13.8636 11.627V6.87164C13.8636 6.2559 13.6921 6 13.1748 6H9.39081C9.01294 6 8.77175 6.29055 8.77175 6.54644C8.77175 7.12754 9.632 7.26615 9.73383 8.87349V12.3974C9.73383 13.1677 9.59716 13.3037 9.28629 13.3037C8.47696 13.3037 6.4831 10.3262 5.31466 6.90629C5.07347 6.27455 4.85103 6 4.23197 6H1.82541C1.13668 6 1 6.3252 1 6.68505C1 7.31679 1.80933 10.4648 4.80012 14.6205C6.79397 17.4593 9.59716 19 12.1431 19C13.6733 19 13.8636 18.6588 13.8636 18.075V15.9186C13.8636 15.2335 14.0003 15.0976 14.4987 15.0976C14.8605 15.0976 15.4608 15.2682 16.8892 16.6383C18.5239 18.2643 18.7973 19 19.7085 19H22.115C22.8038 19 23.1468 18.6588 22.9404 17.9897C22.718 17.3234 21.9435 16.3478 20.9118 15.1856C20.3436 14.5192 19.5021 13.8181 19.2609 13.4583C18.8991 12.9971 19.0037 12.7919 19.2609 12.3974C19.2636 12.3814 22.2035 8.27373 22.4956 6.87164Z" stroke="' +
          $social-icon-color + '" stroke-width="2" stroke-miterlimit="10"/></svg>'
        );
        order: 3;
      }

      &__badge {
        background: transparent;
      }
    }

    //.ya-share2__item_service_vkontakte .ya-share2__badge

    .ya-share2__item_service_facebook .ya-share2 {

      &__icon {
        background-image: functions.inlineSVG(
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 2H15C13.6739 2 12.4021 2.52678 11.4645 3.46447C10.5268 4.40215 10 5.67392 10 7V10H7V14H10V22H14V14H17L18 10H14V7C14 6.73478 14.1054 6.48043 14.2929 6.29289C14.4804 6.10536 14.7348 6 15 6H18V2Z" stroke="' +
          $social-icon-color + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
        );
        order: 1;
      }

      &__badge {
        background: transparent;
      }
    }

    .ya-share2__item_service_odnoklassniki .ya-share2 {

      &__icon {
        background-image: functions.inlineSVG(
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.2 10.4C14.5196 10.4 16.4 8.5196 16.4 6.2C16.4 3.8804 14.5196 2 12.2 2C9.8804 2 8 3.8804 8 6.2C8 8.5196 9.8804 10.4 12.2 10.4Z" stroke="' +
          $social-icon-color +
          '" stroke-width="2"/><path d="M18.05 19.3L15.05 15.9C16.15 15.5 17.15 15 17.95 14.2C18.55 13.7 18.65 12.7 18.15 12.1C17.65 11.5 16.65 11.4 16.05 11.9C15.05 12.8 13.75 13.3 12.25 13.3C10.85 13.3 9.45 12.8 8.45 11.9C7.85 11.4 6.85 11.4 6.35 12.1C5.85 12.7 5.95 13.7 6.55 14.2C7.45 14.9 8.45 15.5 9.45 15.9L6.45 19.3C5.85 19.9 5.85 20.9 6.45 21.6C7.05 22.2 7.95 22.2 8.45 21.6L12.25 17.4L16.05 21.6C16.65 22.2 17.55 22.2 18.05 21.6C18.55 20.9 18.55 19.9 18.05 19.3Z" stroke="' +
          $social-icon-color + '" stroke-width="2" stroke-miterlimit="10"/></svg>'
        );
        order: 4;
      }

      &__badge {
        background: transparent;
      }
    }

    .ya-share2__item_service_twitter .ya-share2 {
      order: 2;

      &__icon {
        background-image: functions.inlineSVG(
          '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23 2.99998C22.0424 3.67546 20.9821 4.19209 19.86 4.52999C19.2577 3.8375 18.4573 3.34668 17.567 3.12391C16.6767 2.90115 15.7395 2.95718 14.8821 3.28444C14.0247 3.6117 13.2884 4.19439 12.773 4.9537C12.2575 5.71302 11.9877 6.61232 12 7.52998V8.52998C10.2426 8.57555 8.50127 8.1858 6.93101 7.39543C5.36074 6.60506 4.01032 5.43862 3 3.99998C3 3.99998 -1 13 8 17C5.94053 18.398 3.48716 19.0989 1 19C10 24 21 19 21 7.49998C20.9991 7.22144 20.9723 6.94358 20.92 6.66999C21.9406 5.66348 22.6608 4.3927 23 2.99998Z" stroke="' +
          $social-icon-color + '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
        );
      }

      &__badge {
        background: transparent;
      }
    }
  }

  &__stat {
    align-items: center;
    color: $color__stat;
    display: flex;
    font-weight: 500;
    margin-bottom: $gap;

    &-variant {
      color: $color__stat-variant;
      flex: 0 0 50%;
      font-weight: 400;
    }

    &-quantity {
      flex: 0 0 functions.px(40);
      margin-left: $gap * 2;
      white-space: nowrap;
    }

    &-diagram {
      animation: statDiagram 100.01s linear paused;
      background: $background__stat-diagram;
      border-radius: $radius;
      height: $height__stat-diagram;
      margin-left: $gap * 2;
    }

    &-percent {
      flex: 0 0 functions.px(70);
      margin-left: $gap * 1.5;
    }

    @media (max-width: $breakpoint-mobile) {
      flex-flow: wrap;

      &-variant {
        flex: 0 0 100%;
      }

      &-quantity {
        flex: 0 0 functions.px(70);
        margin: 0;
      }
    }
  }

  &__modal {

    .list__item:last-child .separator {
      display: none;
    }

    .list_ordered > .list__item::before {
      font-weight: 600;
    }
  }
}

@keyframes statDiagram {

  0% {
    width: 0;
  }

  100% {
    width: calc(50% - #{functions.px(140)});
  }
}
