@use "../../functions";

$background: #FFFFFF !default;
$border: #CCCCCC !default;
$background__header: #EDF5FC !default;
$gap: functions.px(10) !default;
$radius: functions.px(8) !default;

.main-edge {
  background-color: $background;
  border: functions.px(1) solid $border;
  border-radius: $radius;
  margin-left: -$gap * 0.75;
  margin-right: -$gap * 0.75;
  overflow: hidden;

  @media (min-width: functions.px(576)) {
    margin-left: 0;
    margin-right: 0;
  }

  &__header {
    background-color: $background__header;
    background-image: functions.inlineSVG(
      '<svg width="200" height="87" fill="#fff" xmlns="http://www.w3.org/2000/svg"><mask id="a"><path fill="#69B3E7" d="M0 0h200v87H0z"/></mask><g mask="url(#a)"><path d="M134.523 1.99v40.452c0 1.551 1.259 2.509 2.248 1.709l25.007-20.226c.958-.775.958-2.643 0-3.418L136.771.282c-.989-.8-2.248.157-2.248 1.708zM75.129 7.411v40.452c0 1.551 1.26 2.509 2.248 1.709l25.007-20.226c.958-.775.958-2.643 0-3.418L77.377 5.703c-.989-.8-2.248.157-2.248 1.708z"/><path d="M191.199 45.41L166.13 25.332c-.992-.794-2.254.157-2.254 1.696v40.155c0 1.54-1.262 2.49-2.254 1.696l-25.069-20.077-29.304-23.47c-.992-.794-2.254.157-2.254 1.696v87.312c0 1.539 1.262 2.489 2.253 1.697l24.934-19.97c.991-.794 2.254.157 2.254 1.696v40.155c0 1.54 1.262 2.49 2.253 1.696l25.069-20.077c.96-.77.96-2.623 0-3.393l-25.205-20.186c-.893-.715-.954-2.367-.185-3.214h-.037L191.199 48.8c.96-.769.96-2.622 0-3.392z"/></g></svg>'
    );
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    padding: $gap * 2 $gap * 1.5;

    @media (min-width: functions.px(576)) {
      padding: $gap * 2 calc(10vw - #{$gap} * 1.5);
    }

    @media (min-width: functions.px(1240)) {
      padding: $gap * 2.5 $gap * 10;
    }
  }
}
