@use "sass:color";

@use "../../functions";

$border-radius: functions.px(2);
$gap: functions.px(10) !default;
$color: #E93C3C !default;
$background__control: #EDF5FC !default;
$border-color__control: #69B3E7 !default;
$height__control: functions.px(20);
$border-width__control: functions.px(2);

.input {

  &__control {

    .input_in-document & {
      background: $background__control;
      border: none;
      border-bottom: $border-width__control solid $border-color__control;
      border-radius: $border-radius;
      cursor: text;
      display: inline-block;
      height: $height__control;
      line-height: 2;
      min-width: functions.px(100);
      padding: $gap functions.px(2);
      white-space: normal;
      width: auto;
    }
  }

  &:not(&_in-document) &__control[required] ~ &__title::after {
    color: $color;
    // &nbsp; unicode char \00A0
    content: "\00A0*";
  }

  &_in-document &__control.required ~ &__required::after {
    color: $color;
    // &nbsp; unicode char \00A0
    content: "\00A0*";
  }

  &_in-document &__control.required ~ &__required {
    position: absolute;
    right: $gap * 0.5;
    top: 0;
  }

  &_in-document &__control.required {
    padding-right: $gap * 2;
  }

  &_in-document {
    display: inline-block;
    margin-bottom: $gap;
    vertical-align: middle;
  }
}
