@use "../../functions";

$background__header: #F9F9FA !default;
$background__footer: #EDF5FC !default;
$background__item: #FFFFFF !default;
$background__item-even: #F9F9FA !default;
$border__wrapper: #E8E8E8 !default;
$border__header: #E8E8E8 !default;
$border__item: #E8E8E8 !default;
$gap: functions.px(10) !default;
$radius: functions.px(8) !default;
$font-size-small: functions.px(14) !default;
$color-icon-sort: #52575C !default;
$color-icon-sort-active: #0E65B7 !default;

$width-sort-icon: functions.px(8);
$height-sort-icon: functions.px(5);
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

.table {
  border-collapse: collapse;
  box-sizing: border-box;
  display: table;
  font-size: $font-size-small;
  line-height: 1.714;
  width: 100%;
  word-break: keep-all;

  &__wrapper {
    border: functions.px(1) solid $border__wrapper;
    border-radius: $radius;
    overflow: auto;

    &_relative {
      position: relative; /* fix for many checkboxes in table, for prevent horizontal page scroll, use only in tree table with a table of checkboxes */
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }

    &_noborder {
      border: none;
    }
  }

  &__header {
    background-color: $background__header;
    border-bottom: functions.px(1) solid $border__header;
    display: table-header-group;
    font-weight: 600;
    vertical-align: middle;
  }

  &__body {
    display: table-row-group;
    vertical-align: middle;
  }

  &__footer {
    display: table-footer-group;
    vertical-align: middle;
  }

  &__title {
    box-sizing: border-box;
    display: table-cell;
    font-weight: 600;
    padding: $gap;
    text-align: left;
    vertical-align: middle;

    @media (min-width: functions.px(767)) {
      padding: $gap * 2;
    }
  }

  &__sort {
    align-content: center;
    align-items: center;
    background-color: transparent;
    background-image: functions.inlineSVG(
      '<svg stroke=" ' + $color-icon-sort +
      '" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.3 4L4 0.6L0.67 4" stroke-linecap="round" stroke-linejoin="round"/></svg>'
    ),
      functions.inlineSVG(
      '<svg stroke=" ' + $color-icon-sort +
      '" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.66 1L4 4.331L7.33 1" stroke-linecap="round" stroke-linejoin="round"/></svg>'
    );
    background-position: 100% calc(50% - (#{$height-sort-icon} / 1.3)),
      100% calc(50% + (#{$height-sort-icon} / 1.3));
    background-repeat: no-repeat, no-repeat;
    background-size: $gap * 0.8 auto;
    border: none;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    line-height: inherit;
    padding-left: 0;
    padding-right: $gap * 1.8;
    text-align: inherit;

    &_asc {
      background-image: functions.inlineSVG(
        '<svg stroke=" ' + $color-icon-sort-active +
        '" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.3 4L4 0.6L0.67 4" stroke-linecap="round" stroke-linejoin="round"/></svg>'
      ),
        functions.inlineSVG(
        '<svg stroke=" ' + $color-icon-sort + '" width="' + $width-sort-icon +
        '" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.66 1L4 4.331L7.33 1" stroke-linecap="round" stroke-linejoin="round"/></svg>'
      );
    }

    &_desc {
      background-image: functions.inlineSVG(
        '<svg stroke=" ' + $color-icon-sort +
        '" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.3 4L4 0.6L0.67 4" stroke-linecap="round" stroke-linejoin="round"/></svg>'
      ),
        functions.inlineSVG(
        '<svg stroke=" ' + $color-icon-sort-active + '" width="' + $width-sort-icon +
        '" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.66 1L4 4.331L7.33 1" stroke-linecap="round" stroke-linejoin="round"/></svg>'
      );
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  &__head,
  &__item {
    display: table-row;
  }

  &__item &__title {
    font-weight: 600;
  }

  &__cell {
    box-sizing: border-box;
    display: table-cell;
    padding: $gap;
    vertical-align: middle;

    @media (min-width: functions.px(767)) {
      padding: $gap * 2;
    }
  }

  &__cell:last-child,
  &__title:last-child {
    text-align: right;
  }

  &__body &__item {
    background: $background__item;

    &:nth-child(even) {
      background: $background__item-even;
    }
  }

  &__body &__item:not(:last-child) {
    border-bottom: functions.px(1) solid $border__item;
  }

  &__body &__item_selected:nth-child(n) {
    background: $background__footer;
  }

  &__footer &__item {
    font-weight: 500;
  }

  &_content-middle &__cell {
    vertical-align: middle;
  }

  &_balanced {
    table-layout: auto;

    @media (min-width: functions.px(576)) {
      table-layout: fixed;
    }
  }

  &_vertical-header &__body &__item {

    &:nth-child(odd) {
      background: $background__item-even;
    }

    &:nth-child(even) {
      background: $background__item;
    }
  }
}
