.select2-selection--single {
  background-color: $background;
  border: 1px solid $border-color;
  border-radius: $radius;

  .select2-selection__rendered {
    line-height: 28px;
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }

  .select2-selection__placeholder {
    color: $disabled-color;
  }
}

.select2-selection__arrow {
  border-radius: 0px $radius $radius 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  line-height: 1;
  width: 32px;
  height: 100%;
  background-color: $background-arrow-area;
  box-shadow: inset 0 -2px rgba($shadow-color-black, 0.2), inset 0 0 0 1px rgba($shadow-color-white, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 1px;
  cursor: pointer;

  svg {
    transform: rotate(0);
    transition: transform 0.25s;
    fill: $background;
  }
}

&[dir="rtl"] {

  .select2-selection--single {

    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      left: 1px;
      right: auto;
    }
  }
}

&.select2-container--disabled {

  .select2-selection--single {

    background-color: $border-color;
    cursor: default;

    .select2-selection__clear {
      display: none;
    }
  }
}

&.select2-container--open {

  .select2-selection__arrow {

    svg {
      transform: rotate(180deg);
    }
  }
}
