@use "../../functions";

$gosbar-height: functions.px(50) !default;
$z-index-gosbar: 99999 !default;
$font-size: functions.px(15);
$background-color: #1E3685;
$background-color-label-menu-hover: #2344A4;
$background-color-link-hover: #2A4FB7;
$color: #FFFFFF;
$gap: functions.px(10);

.gosbar {
  background-color: $background-color;
  color: $color;
  height: $gosbar-height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-gosbar;

  &__button {
    background-color: transparent;
    border: none;
    height: 100%;
    margin: 0;
    max-width: 100%;
    padding: 0;
    padding-right: functions.px(15);
    position: relative;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  &__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    margin: 0 auto;
    max-width: functions.px(1200);
    padding-left: $gap * 1.5;
    padding-right: $gap * 1.5;
    position: relative;
    width: 100%;

    @media (min-width: functions.px(576)) and (max-width: functions.px(1240)) {
      padding-left: $gap * 3;
      padding-right: $gap * 3;
    }
  }

  &__checkbox {
    display: flex;
  }

  &__checkbox-control {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  &__item {
    align-items: center;
    display: flex;
  }

  &__list {
    display: none;
  }

  &__label-menu,
  &__link {
    color: inherit;
    cursor: pointer;
    font-size: $font-size;
    font-style: normal;
    height: 100%;
    line-height: $gosbar-height;
    padding: 0 ($gap * 2);
    text-decoration: none;
    user-select: none;
  }

  &__label-menu {

    &:hover,
    &:focus {
      background-color: $background-color-label-menu-hover;
    }
  }

  &__link {
    width: 100%;

    &:hover,
    &:focus {
      background-color: $background-color-link-hover;
    }
  }

  &__label-menu {
    position: relative;

    &::after {
      background-image: functions.inlineSVG(
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 7"><path fill="none" stroke="' + $color +
        '" stroke-width="1.5" d="m1 1l5 5 5-5"/></svg>'
      );
      background-position: right;
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      height: functions.px(7);
      padding-left: functions.px(17);
      vertical-align: middle;
      width: functions.px(7);
    }
  }

  &__checkbox-control:checked ~ &__list {
    background-color: $background-color-label-menu-hover;
    display: flex;
    flex-direction: column;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: $gosbar-height;
    width: 100%;
  }

  @media (min-width: functions.px(992)) {

    &__label-menu {
      display: none;
    }

    &__checkbox-control:checked ~ &__list,
    &__list {
      background-color: transparent;
      display: flex;
      flex-flow: row wrap;
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      top: 0;
      width: auto;
    }

    &__link {
      width: auto;

      &:hover,
      &:focus {
        background-color: $background-color-label-menu-hover;
      }
    }
  }
}
