@use "sass:math";
@use "../../functions";

$color__label: #FFFFFF !default;
$background__label: #0E65B7 !default;
$border-color__label: #0E65B7 !default;
$background-color__item-after: #0E65B7 !default;
$color__item_disabled: #CACCCF !default;
$background-color__item_disabled: #FFFFFF !default;
$border-color__item_disabled: #CACCCF !default;
$color__item_active: #0E65B7 !default;
$background-color__item_active: #FFFFFF !default;
$border-color__item_active: #CACCCF !default;
$background-color__item_disabled-after: #CACCCF !default;
$border-color__item_active-after: #0E65B7 !default;
$border-width: functions.px(2);
$gap: functions.px(10) !default;
$font-size-small: functions.px(14) !default;
$font-size: functions.px(16) !default;
$size: functions.px(32);
$gap-label-after: functions.px(3);
$line-height-text-main: 1.5;

.step {

  &__item {
    align-items: flex-start;
    display: flex;
    position: relative;

    &:not(:last-child) {
      margin-bottom: $gap-label-after;
      padding-bottom: $gap * 2.9;
    }
  }

  &__item:not(:last-child) &__label {

    &::before {
      content: "";
    }
  }

  &__main {
    padding-top: calc(#{$size - $font-size * $line-height-text-main} / 2);
  }

  &__label {
    align-items: center;
    background-color: $background__label;
    border-radius: 50%;
    color: $color__label;
    display: flex;
    flex: 0 0 auto;
    font-size: $font-size-small;
    height: $size;
    justify-content: center;
    margin-right: $gap * 1.6;
    width: $size;

    &::before {
      background-color: $background__label;
      height: calc(100% - #{$size + $gap-label-after});
      left: math.div($size, 2);
      position: absolute;
      top: $size + $gap-label-after;
      width: functions.px(1);
    }
  }

  &_inline {
    display: flex;
  }

  &_inline &__item {
    display: flex;
    flex: 1;
    flex-direction: column;

    &:not(:last-child)::after {
      background-color: $background-color__item-after;
      content: "";
      height: functions.px(1);
      left: functions.px(38);
      order: -1;
      position: relative;
      top: functions.px(16);
      width: calc(100% - functions.px(40));

      @media (max-width: functions.px(576)) {
        left: functions.px(30);
        top: functions.px(14);
        width: calc(100% - functions.px(32));
      }
    }
  }

  &_inline &__item_active:not(:last-child)::after,
  &_inline &__item_disabled:not(:last-child)::after {
    background-color: $background-color__item_disabled-after;
  }

  &_inline &__label {
    border: $border-width solid $border-color__label;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: $gap;
    position: relative;

    &::after {
      background-color: transparent;
      border: $border-width solid transparent;
      border-radius: 0 functions.px(20) functions.px(20) 0;
      content: "";
      height: 100%;
      position: absolute;
      right: functions.px(-2);
      top: functions.px(-2);
      width: 50%;
    }

    @media (max-width: functions.px(576)) {
      height: functions.px(24);
      width: functions.px(24);
    }
  }

  &_inline &__main {
    font-size: $font-size-small;
    font-weight: 500;
    line-height: 1.3;
    margin-right: functions.px(15);

    @media (max-width: functions.px(768)) {
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(100%);
      height: functions.px(1);
      margin: functions.px(-1);
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: functions.px(1);
    }
  }

  &_inline &__item_disabled &__label {
    background-color: $background-color__item_disabled;
    border: $border-width solid $border-color__item_disabled;
    color: $color__item_disabled;
  }

  &_inline &__item_active &__label {
    background-color: $background-color__item_active;
    border: $border-width solid $border-color__item_active;
    color: $color__item_active;

    &::after {
      border: $border-width solid $border-color__item_active-after;
      border-left: none;
    }
  }
}
