@use "../../functions";

$background-final: #1AB759 !default;
$background-red: #E93C3C !default;
$background-orange: #E89806 !default;
$gap: functions.px(10) !default;
$border-right__recomend: #CACCCF !default;
$color__name: #25282B !default;
$font-size-small: functions.px(14) !default;
$radius-border: functions.px(3);

.vr-effective {
  width: functions.px(62);

  &__progress {
    width: 100%;
  }

  &__circle {
    stroke-dasharray: 168;
    transition: stroke-dashoffset 1s linear;
  }

  @for $low from 1 to 40 {
    &__progress[data-value="#{$low}"] &__circle,
    &__progress[data-value="#{$low}"] &__star {
      stroke: $background-red;
    }
  }

  @for $medium from 40 to 80 {
    &__progress[data-value="#{$medium}"] &__circle,
    &__progress[data-value="#{$medium}"] &__star {
      stroke: $background-orange;
    }
  }

  @for $high from 80 to 101 {
    &__progress[data-value="#{$high}"] &__circle,
    &__progress[data-value="#{$high}"] &__star {
      stroke: $background-final;
    }
  }

  &__list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 $gap * -1.5;
  }

  &__recomend {
    border-bottom: none;
    border-right: 1px solid $border-right__recomend;
    margin-bottom: 0;
    padding: 0 $gap * 1.5;
    padding-bottom: 0;
    width: 28%;
  }

  &__name {
    color: $color__name;
    font-weight: 600;
    line-height: $gap * 2;
    margin-bottom: $gap * 1;
    overflow: hidden;
    text-decoration: none;
  }

  &__text {
    font-size: $font-size-small;
    line-height: $gap * 2;
    overflow: hidden;
  }

  &__price {
    font-weight: 500;
    line-height: $gap * 2;
    margin-top: $gap * 1;
  }
}

.card_low-effective {
  background-image: linear-gradient(to right, $background-red $radius-border, transparent $radius-border);
  border-top-left-radius: $radius-border $radius-border * 2;
}

.card_medium-effective {
  background-image: linear-gradient(to right, $background-orange $radius-border, transparent $radius-border);
  border-top-left-radius: $radius-border $radius-border * 2;
}

.card_high-effective {
  background-image: linear-gradient(to right, $background-final $radius-border, transparent $radius-border);
  border-top-left-radius: $radius-border $radius-border * 2;
}
