@use "../../functions";

$color__link: #52575C !default;
$gap: functions.px(10) !default;

$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;

.links-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    line-height: 1.25em;

    &:not(:last-child) {
      margin-bottom: $gap * 1.5;
    }
  }

  &__link {
    color: $color__link;

    &:hover {
      text-decoration: none;
    }

    &:focus:not(:disabled) {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:disabled):not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible:not(:disabled) {
      box-shadow: $box-shadow-focus;
    }
  }
}
