@use "../../functions";

$gap: functions.px(10) !default;
$background-color__inner_after: #0E65B7 !default;

.burger {
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  text-transform: none;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  transition-timing-function: linear;

  &:focus {
    outline: none;
  }

  &::before {
    content: "";
    left: 50%;
    padding: $gap * 1.5;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: functions.px(992)) {
    display: none;
  }

  &__box {
    display: inline-block;
    height: functions.px(18);
    position: relative;
    width: functions.px(18);
  }

  &__inner {
    display: block;
    margin-top: functions.px(-1);
    top: 50%;
  }

  &__inner,
  &__inner::before,
  &__inner::after {
    background-color: $background-color__inner_after;
    border-radius: functions.px(4);
    height: functions.px(2);
    position: absolute;
    transition-duration: 75ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    width: functions.px(18);
  }

  &__inner::before,
  &__inner::after {
    content: "";
    display: block;
  }

  &__inner::before {
    top: -$gap * 0.6;
    transition: top 75ms ease 0.12s, opacity 75ms ease;
  }

  &__inner::after {
    bottom: -$gap * 0.6;
    transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  &_active &__inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &_active &__inner::before {
    opacity: 0;
    top: 0;
    transition: top 75ms ease, opacity 75ms ease 0.12s;
  }

  &_active &__inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 75ms ease, transform 75ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  }
}
