@use "../../functions";

$logo-xs-width: functions.px(576);

.logo {
  max-height: functions.px(80);
  max-width: functions.px(80);

  &_big {
    max-height: functions.px(100);
    max-width: functions.px(100);
  }

  @media (max-width: $logo-xs-width) {
    max-height: functions.px(40);
    max-width: functions.px(40);
  }
}
