@use "../../functions";
@use "sass:math";

$gap: functions.px(10) !default;
$background-color: #FFFFFF !default;
$border__item: #F0F0F0 !default;
$background-image__label_active: #0E65B7 !default;
$background__label_active: #EDF5FC !default;
$color__item_hover: #1E88DB !default;
$default-color: #52575C !default;

.tree-structure {
  background-color: $background-color;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

  &_hidden {
    text-align: center;
    width: functions.px(55);
  }

  &__switch {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;

    & ~ .tree__list {
      display: none;
      padding-left: $gap * 1.6;
    }

    &:checked ~ .tree__list {
      display: block;
    }
  }

  &__list {
    padding-left: $gap * 1.6;
  }

  &__item {
    line-height: 1.2;
    list-style-type: none;
    padding: 0;
    position: relative;

    &:before {
      border-left: functions.px(1) solid $border__item;
      bottom: 0;
      content: "";
      display: block;
      left: functions.px(20);
      position: absolute;
      top: functions.px(30);
      width: 0;
    }
  }

  &__icon {
    margin-right: $gap * 0.5;
  }

  &__label {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: functions.px(14);
    font-weight: 500;
    padding: $gap $gap * 1.6;
    position: relative;
    width: 100%;

    &:hover {
      background: $background__label_active;
      color: $color__item_hover;

      &:before {
        background-image: functions.inlineSVG(
          "<svg width='6' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.738 5.024L1.089 1.015C.916.867.662 1.001.662 1.241V9.26c0 .24.254.375.427.226l4.649-4.01a.305.305 0 000-.45z' fill='" +
          $background-image__label_active + "'/></svg>"
        );

        :checked ~ & {
          background-image: functions.inlineSVG(
            "<svg width='11' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9.76.839H.74c-.27 0-.421.286-.254.48l4.51 5.23c.129.15.378.15.508 0l4.51-5.23c.167-.194.016-.48-.254-.48z' fill='" +
            $background-image__label_active + "'/></svg>"
          );
        }
      }
    }

    &:before {
      background-image: functions.inlineSVG(
        "<svg width='6' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.738 5.024L1.089 1.015C.916.867.662 1.001.662 1.241V9.26c0 .24.254.375.427.226l4.649-4.01a.305.305 0 000-.45z' fill='" +
        $default-color + "'/></svg>"
      );
      background-position: 50% 50%;
      background-repeat: no-repeat;
      content: "";
      height: functions.px(10);
      margin-right: $gap * 0.5;
      order: -1;
      width: functions.px(10);

      :checked ~ & {
        background-image: functions.inlineSVG(
          "<svg width='11' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9.76.839H.74c-.27 0-.421.286-.254.48l4.51 5.23c.129.15.378.15.508 0l4.51-5.23c.167-.194.016-.48-.254-.48z' fill='" +
          $default-color + "'/></svg>"
        );
        content: "";
      }
    }

    &_final {
      padding-left: $gap * 2.8;

      &:before {
        display: none;
      }
    }

    &.tree__label_main {

      &:after {
        background-image: functions.inlineSVG(
          "<svg width='14' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M13.5 4.436h-1.688V2.66a.5.5 0 00-.5-.5H6.391L4.558.407a.127.127 0 00-.086-.034H.5a.5.5 0 00-.5.5v9.25a.5.5 0 00.5.5h10.906a.501.501 0 00.464-.313l2.094-5.187a.5.5 0 00-.464-.688zM1.125 1.498H4.07l1.87 1.788h4.747v1.15H2.72a.501.501 0 00-.464.312l-1.13 2.8v-6.05zm9.927 8H1.484l1.614-4h9.57l-1.616 4z' fill='" +
          $default-color + "'/></svg>"
        );
      }
    }

    &.tree__label_main {

      &:before {
        background-image: functions.inlineSVG(
          "<svg width='6' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.738 5.024L1.089 1.015C.916.867.662 1.001.662 1.241V9.26c0 .24.254.375.427.226l4.649-4.01a.305.305 0 000-.45z' fill='" +
          $default-color + "'/></svg>"
        );
      }
    }
  }

  &__button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    right: $gap * 1.6;
  }
}
