@use "../../functions";
@use "sass:math";

$gap: functions.px(10) !default;
$color__collapse_hover: #1E88DB !default;
$background__collapse_selected: #EDF5FC !default;
$default-color: #52575C !default;

.tree-nested {
  list-style: none;
  margin: 0;
  padding: 0;

  &_margin-20 {
    margin-left: $gap * 2;
  }

  &_margin-16 {
    margin-left: $gap * 1.6;
  }

  &__collapse {
    align-items: center;
    display: flex;
    padding: $gap 0 $gap $gap * 2.4;
    position: relative;

    &:hover {
      color: $color__collapse_hover;

      &::before {
        background-image: functions.inlineSVG(
          "<svg width='11' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9.76.839H.74c-.27 0-.421.286-.254.48l4.51 5.23c.129.15.378.15.508 0l4.51-5.23c.167-.194.016-.48-.254-.48z' fill='" +
          $color__collapse_hover + "'/></svg>"
        );
      }
    }

    &_selected {
      background: $background__collapse_selected;
    }

    &::before {
      background-image: functions.inlineSVG(
        "<svg width='11' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M9.76.839H.74c-.27 0-.421.286-.254.48l4.51 5.23c.129.15.378.15.508 0l4.51-5.23c.167-.194.016-.48-.254-.48z' fill='" +
        $default-color + "'/></svg>"
      );
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      content: "";
      height: $gap * 1.2;
      left: 0;
      position: absolute;
      transform: rotate(-90deg);
      transition: transform 200ms ease-in-out;
      width: $gap * 1.2;
    }

    &_active::before {
      transform: rotate(0deg);
    }
  }

  &__collapse-text {
    flex-basis: 0%;
    flex-grow: 1;
    max-width: 100%;
    overflow: hidden;
    padding-right: $gap * 1.6;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__collapse-dropdown {
    flex: 0 0 auto;
    max-width: none;
    padding-right: $gap * 1.6;
    width: auto;
  }

  &__collapse-last {
    display: block;
    overflow: hidden;
    padding: $gap 0 $gap $gap * 2.4;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      color: $color__collapse_hover;
    }
  }
}
