@use "../../functions";

$gap: functions.px(10) !default;

.group-container {
  display: flex;
  flex-basis: 100%;
  flex-flow: column wrap;
  margin: -$gap;

  & &__item {
    align-items: center;
    flex: 0 0 auto;
    margin: $gap;
  }

  &_align-right {
    justify-content: flex-end;
  }

  &__spacer {
    flex: 1 1 auto;
  }

  @media (min-width: functions.px(576)) {
    flex-direction: row;

    &:not(&_tablet-left) &__item,
    &:not(&_mobile-left) &__item {
      align-self: center;
      flex: 1 0 auto;
    }
  }

  @media (min-width: functions.px(768)) {

    &:not(&_wide) &__item {
      flex: 0 0 auto;
    }
  }

  &_wide &__item {
    flex-grow: 1;
  }

  &_mobile-left {
    align-items: flex-start;
    flex-flow: row wrap;
  }

  &_tablet-left {
    align-items: flex-start;
  }
}
