$background-left: rgb(255, 66, 82) !default;
$background-right: rgb(31, 53, 136) !default;
$min-width: 300px !default;
$height: 180px !default;
$gap: 10px !default;
$radius: 4px !default;

.graph {
  display: flex;
  flex-flow: row wrap;

  &__number {
    margin-top: -20px;
    font-weight: bold;
  }

  &__value {
    border-radius: $radius;
    min-height: 1%;
    width: 100%;
  }

  &__column {
    flex: 0 0 45px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 2px 2px;
  }

  &__description {

    &::before {
      display: inline-block;
      height: 18px;
      width: 32px;
      border-radius: $radius;
      background: $background-left;
      content: "";
      margin-right: $gap;
    }
  }

  &__legend {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    padding-left: $gap;
  }

  &__left {
    flex: 1 1 50%;
    min-height: $height;
    display: flex;
    flex-flow: row nowrap;
    min-width: $min-width;
  }

  &__right {
    flex: 1 1 50%;
    min-height: $height;
    display: flex;
    flex-flow: row nowrap;
    min-width: $min-width;
  }

  &__description {

    &::before {
      display: inline-block;
      height: 18px;
      width: 32px;
      border-radius: $radius;
      content: "";
      margin-right: $gap;
    }
  }

  &__left &__column:nth-child(1) &__value,
  &__left &__description:nth-child(1)::before {
    background-color: $background-left;
  }

  &__left &__column:nth-child(2) &__value,
  &__left &__description:nth-child(2)::before {
    background-color: lighten($background-left, 15%);
  }

  &__left &__column:nth-child(3) &__value,
  &__left &__description:nth-child(3)::before {
    background-color: lighten($background-left, 30%);
  }

  &__right &__column:nth-child(1) &__value,
  &__right &__description:nth-child(1)::before {
    background-color: $background-right;
  }

  &__right &__column:nth-child(2) &__value,
  &__right &__description:nth-child(2)::before {
    background-color: lighten($background-right, 15%);
  }

  &__right &__column:nth-child(3) &__value,
  &__right &__description:nth-child(3)::before {
    background-color: lighten($background-right, 30%);
  }
}
