@use "functions";
@use "images" as *;

@use "colors" as *;

$gap: functions.px(10) !default;

$color__job-fair-banner: #FFF !default;
$color__button: #FFF !default;
$color_accent: #E5481D !default;

$font-size__job-fair-banner: functions.px(24) !default;

$border-color__button: #FFF !default;
$background__blind: #000 !default;

$is-blind-theme: $colors and $colors > 1;

.job-fair-banner {
  background: linear-gradient(249.44deg, #1B4E9B 45.16%, #1D386A 75.8%);
  box-sizing: border-box;
  color: $color__job-fair-banner;
  font-size: $font-size__job-fair-banner;
  font-weight: 700;
  min-height: functions.px(85);
  padding: $gap * 2 0;
  text-align: center;
  text-transform: uppercase;

  @if ($is-blind-theme == true) {
    background: $background__blind !important;
  }

  @media (min-width: functions.px(992)) {
    background: linear-gradient(-210deg, #1D386A 0, #1B4E9B 65%, #BC2E30 calc(65% + 1px), #E54D2B 100%);
    text-align: left;
  }

  &_accent-color {
    color: $color_accent;
  }

  &__button {
    border-color: $border-color__button;
    color: $color__button;
    display: inline-flex;
    text-transform: none;
  }

  &__button:hover {
    border-color: $border-color__button;
    color: $color__button;
  }
}
