@use "../../functions";

$gap: functions.px(10) !default;
$color: #52575C !default;
$color__arrow: #52575C !default;
$color__item-link: #52575C !default;
$color__item-link_hover: rgb(255, 66, 82) !default;
$color__item-link_active: rgb(52, 52, 52) !default;
$font-size-small: functions.px(14) !default;
$box-shadow-focus: 0 0 0 functions.px(3) #B4D9F3 !default;
$home-width: functions.px(16);
$padding-left-part: $gap * 0.7;
$padding-right-part: $gap * 0.3;

%breadcrumb {
  align-items: baseline;
  color: $color;
  display: flex;
  flex: 0 1 auto;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: 1.428;
  padding-right: $padding-right-part;
  text-decoration: none;

  & + & {
    padding-left: $padding-left-part;
  }
}

%arrow {
  color: $color__arrow;
  content: ">";
  display: inline-block;
  margin-right: $gap;
}

.breadcrumbs {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: $gap * 2.5;

  &__item {
    @extend %breadcrumb;
    box-sizing: border-box;

    &-hidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    &:not(:first-child)::before {
      @extend %arrow;
    }

    &:first-child {
      align-self: flex-start;
    }

    &:not(:first-child) {
      max-width: calc(100% - #{$home-width + $padding-right-part});
    }
  }

  &__item-link {
    align-self: center;
    color: $color__item-link;
    display: flex;
    text-decoration: none;

    &_active {
      color: $color__item-link_active;
      pointer-events: none;
    }

    &:hover {
      color: $color__item-link_hover;
    }

    &:focus {
      box-shadow: $box-shadow-focus;
      outline: none;
    }

    &:focus:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $box-shadow-focus;
    }
  }

  @media (min-width: functions.px(576)) and (max-width: functions.px(1239)) {
    padding-left: $gap * 1.5;
    padding-right: $gap * 1.5;
  }
}
