@use "sass:math";
@use "../../functions";

$background: $background !default;
$color: $color !default;
$background-final: #1AB759 !default;
$background-red: #E93C3C !default;
$background-orange: #E89806 !default;
$color_effective: #25282B !default;
$color__title: #A0A4A8 !default;
$font-size-smaller: functions.px(12) !default;
$gap: functions.px(10) !default;

$font-weight__title: 500;
$height__control: functions.px(6);
$breakpoint-sm: functions.px(576);

.progress {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  &__title {
    box-sizing: border-box;
    color: $color__title;
    flex: 1 0 100%;
    font-size: $font-size-smaller;
    font-weight: $font-weight__title;
    line-height: $font-size-smaller * 2;
    padding-right: $gap * 2;
  }

  &[data-value]::after {
    background: no-repeat center center;
    color: $color;
    content: attr(data-value) "%";
    font-weight: 600;
    height: functions.px(24);
    margin-left: $gap * 0.9;
    text-align: right;
    white-space: nowrap;
    width: auto;
  }

  &[data-value="100"]::after {
    background-image: functions.inlineSVG(
      '<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.6668 7.38662V7.99995C14.666 9.43757 14.2005 10.8364 13.3397 11.9878C12.4789 13.1393 11.269 13.9816 9.8904 14.3892C8.51178 14.7968 7.03834 14.7479 5.68981 14.2497C4.34128 13.7515 3.18993 12.8307 2.40747 11.6247C1.62501 10.4186 1.25336 8.99199 1.34795 7.55749C1.44254 6.12299 1.9983 4.7575 2.93235 3.66467C3.8664 2.57183 5.12869 1.81021 6.53096 1.49338C7.93322 1.17656 9.40034 1.32151 10.7135 1.90662" stroke="' +
      $background-final +
      '" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.6667 2.66663L8 9.33996L6 7.33996" stroke="' +
      $background-final + '" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'
    );
    content: "";
    width: functions.px(16);
  }

  &__control {
    appearance: none;

    &[value] {
      background-color: $background;
      border: none;
      border-radius: math.div($height__control, 2);
      color: $color;
      flex: 1 1 auto;
      height: $height__control;

      &::-webkit-progress-value {
        background-color: $color;
        border-radius: $height__control * 2;
      }

      &::-webkit-progress-bar {
        background-color: $background;
        border-radius: $height__control * 2;
      }

      &::-moz-progress-bar {
        background-color: $color;
        border-radius: $height__control * 2;
      }
    }

    &[value="100"] {
      color: $background-final;

      &::-moz-progress-bar {
        background-color: $background-final;
      }

      &::-webkit-progress-value {
        background-color: $background-final;
      }
    }
  }

  &_effective {
    margin: $gap * 1.5 $gap * 3;

    &[data-value]::after {
      background-size: functions.px(16);
      content: "";
      width: functions.px(16);
    }
  }

  &_effective &__title {
    font-weight: 600;

    & span {
      color: $color_effective;
    }
  }

  @for $low from 1 to 40 {
    &_effective[data-value="#{$low}"]::after {
      background-image: functions.inlineSVG(
        '<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 1L14.09 7.26L21 8.27L16 13.14L17.18 20.02L11 16.77L4.82 20.02L6 13.14L1 8.27L7.91 7.26L11 1Z" stroke="' +
        $background-red +
        '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
      );
    }

    &_effective &__control[value="#{$low}"] {
      background-color: $background-red;

      &::-moz-progress-bar {
        background-color: $background-red;
      }

      &::-webkit-progress-value {
        background-color: $background-red;
      }
    }
  }

  @for $medium from 40 to 80 {
    &_effective[data-value="#{$medium}"]::after {
      background-image: functions.inlineSVG(
        '<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 1L14.09 7.26L21 8.27L16 13.14L17.18 20.02L11 16.77L4.82 20.02L6 13.14L1 8.27L7.91 7.26L11 1Z" stroke="' +
        $background-orange +
        '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
      );
    }

    &_effective &__control[value="#{$medium}"] {
      background-color: $background-orange;

      &::-moz-progress-bar {
        background-color: $background-orange;
      }

      &::-webkit-progress-value {
        background-color: $background-orange;
      }
    }
  }

  @for $high from 80 to 101 {
    &_effective[data-value="#{$high}"]::after {
      background-image: functions.inlineSVG(
        '<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 1L14.09 7.26L21 8.27L16 13.14L17.18 20.02L11 16.77L4.82 20.02L6 13.14L1 8.27L7.91 7.26L11 1Z" stroke="' +
        $background-final +
        '" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
      );
    }

    &_effective &__control[value="#{$high}"] {
      background-color: $background-final;

      &::-moz-progress-bar {
        background-color: $background-final;
      }

      &::-webkit-progress-value {
        background-color: $background-final;
      }
    }
  }

  @media (min-width: $breakpoint-sm) {

    &_grid {
      flex-wrap: nowrap;
    }

    &_grid &__title {
      flex: 0 1 auto;
    }
  }
}
