@use "../../functions";

$z-index: 10001 !default;
$background-color: #E8E8E8 !default;
$gap: functions.px(15);

.container-target {
  background-color: $background-color;
  bottom: 0;
  left: 0;
  padding: $gap;
  position: fixed;
  width: calc(100vw - #{$gap * 2});
  z-index: $z-index;

  @media (min-width: functions.px(576)) {
    padding: $gap * 2;
    width: calc(100vw - #{$gap * 4});
  }

  @media (min-width: functions.px(992)) {
    background-color: transparent;
    padding: 0;
    position: static;
    width: 100%;
  }

  // /auth/manager/practices-employer/contracts/practice?id=bb8953e9-ca72-49d5-ba4a-06aa4750c40c
  // this page uses 'container-target' with a child 'group-container' that required "width: 100"
  // & > *:not(.group-container) {
  //   width: 100%;
  // }

  & > .group-container {
    min-width: 100%;
  }
}
