body {
	font-size: 14px;
	line-height: 1.2;
	font-family: Arial, Helvetica, sans-serif;
	/*default */
	color: #000;
}
body p {
	font-size: 16px;
}
.hide {
	display: none;
}

.prr-widget-rostrud-logo {
	display: block;
	margin-bottom: 25px;
}
.prr-widget-rostrud-logo img {
	display: block;
}

.prr-widget {
	width: 100%;
	min-height: 200px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	/*default */
	border-color: #1e3685;
	background-color: #fff;
	padding: 15px;
}
.prr-widget  .prr-widget-element {
	overflow: hidden;
	min-width: 270px;
	width: 100%;
}
.prr-widget  .prr-widget-element + .prr-widget-element {
	margin-top: 20px;
	padding-top: 24px;
	border-top: 1px solid #cbcbcb;
}
.prr-widget  .prr-widget-element div  {
	font-size: 14px;
	color: #535b63;
}
.prr-widget  .prr-widget-element div + div {
	margin-top: 2px;
}
.prr-widget .prr-widget-vacancy-name {
	padding: 5px 0;
	font-weight: bold;
	font-size: 18px;
}
.prr-widget .prr-widget-vacancy-name a {
	color: #1e3685;
	text-decoration: none;
}
.prr-widget .prr-widget-vacancy-name a:hover {
	text-decoration: underline;
}

/*Лого сбоку */
.prr-widget .aside-logo {
	float: left;
	width: 80px;
}
.prr-widget .extra-wrap {
	height: 100%;
	overflow: hidden;
}

/*Пагинация */
.prr-widget-pagination {
	padding: 0;
	margin: 15px 0 10px;
	list-style: none;
	width: 100%;
	text-align: center;
}
.prr-widget-pagination  li {
	display: inline-block;
	line-height: 1;
	margin: 0 5px;
}
.prr-widget-pagination a {
	text-decoration: none;
	color: #1e3685;
}

/*Блок с информацией */
.prr-widget-info-block {
	width: 100%;
	overflow: hidden;
	padding: 20px 0 5px 0;
	margin-top: 20px;
	border-top: 1px solid #cbcbcb;
}
.prr-widget-info-block-left,
.prr-widget-info-block-right {
	float: left;
}
.prr-widget-info-block-left {
	width: 80px;
}
.prr-widget-info-block-right {
	height: 100%;
	overflow: hidden;
}

/*Несколько плиток в строку */
.prr-widget.layer-2,
.prr-widget.layer-3 {
	font-size: 0;
	vertical-align: top;
}
.prr-widget.layer-2 .prr-widget-pagination,
.prr-widget.layer-2 .prr-widget-info-block,
.prr-widget.layer-3 .prr-widget-pagination,
.prr-widget.layer-3 .prr-widget-info-block {
	font-size: 14px;
}
.prr-widget.layer-2 .prr-widget-element,
.prr-widget.layer-3 .prr-widget-element {
	display: inline-block;
	font-size: 14px;
	margin-top: 0;
	padding-top: 0;
	border: none;
	vertical-align: top;
	margin-bottom: 15px;
	padding-right: 5px;
}
.prr-widget.layer-2 .prr-widget-element {
	width: 50%;
}
.prr-widget.layer-3 .prr-widget-element {
	width: 33.3%;
}