@use "../../functions";

$color_events: #FFFFFF !default;
$color_circle: #FFFFFF !default;
$color_title: #A0A4A8 !default;
$background_events: #E64920 !default;
$color: #014898 !default;
$background_circle: #69B3E7 !default;
$gap: functions.px(10) !default;
$radius: functions.px(8) !default;
$font-size-section-title-big: functions.px(22) !default;
$font-size-smaller: functions.px(12) !default;

.counter {

  &::before {
    color: $color;
    content: attr(data-count);
    display: block;
    font-size: $font-size-section-title-big;
    font-weight: 600;
    line-height: 1.09;
    margin-bottom: functions.px(9);
  }

  &_title {

    &::after {
      background-color: transparent;
      color: $color_title;
      content: attr(data-count);
      font-size: inherit;
      margin-left: $gap;
      padding: 0;
      width: auto;
    }

    &::before {
      display: none;
    }
  }

  &_events {
    align-items: center;
    display: inline-flex;

    &[data-count]:not(:empty)::after {
      background: $background_events;
      border-radius: $radius;
      box-sizing: border-box;
      color: $color_events;
      content: attr(data-count);
      display: inline-block;
      font-size: $font-size-smaller;
      height: functions.px(16);
      line-height: 1.333;
      margin-left: functions.px(3);
      min-width: functions.px(26);
      padding: 0 $gap * 0.6;
      text-align: center;
      white-space: nowrap;
    }

    &::before {
      content: none;
    }

    &[data-count=""]::after,
    &[data-count^="0"]::after {
      visibility: hidden;
    }
  }

  &_circle {
    display: inline-flex;

    &::after {
      align-items: center;
      background: $background_circle;
      border-radius: 50%;
      box-sizing: border-box;
      color: $color_circle;
      content: attr(data-count);
      cursor: pointer;
      display: inline-flex;
      flex: 0 0 auto;
      font-size: $font-size-smaller;
      font-weight: 600;
      height: functions.px(24);
      justify-content: center;
      line-height: 1;
      margin-left: $gap * 0.6;
      white-space: nowrap;
      width: functions.px(24);
    }

    &::before {
      content: none;
    }

    &[data-count=""]::after {
      display: none;
    }
  }
}
