$link: rgb(31, 53, 136) !default;
$border: rgb(233, 235, 244) !default;
$background: rgb(249, 249, 251) !default;
$header-background: rgb(222, 239, 255) !default;
$text: rgb(52, 52, 52) !default;

$gap: 10px !default;
$font-size-big: 22px !default;

.frame {
  border: 1px solid $border;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1px;

  &__header {
    padding: $gap * 2;
    order: -1;
    margin-bottom: 5px;
    font-size: $font-size-big;
    font-weight: bold;
    display: flex;
    background-color: $header-background;
  }

  &__container-inner { // обертка, когда нужны ячейки бутстрапа внутри фрейм хедера и фрем секшена
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
  }

  &__icon {
    margin-right: 20px;
    width: 74px;
  }

  &__item {
    background: $background;
    margin-bottom: 2px;
    padding: $gap * 2;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    color: $text;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  
  &__section {
    background: $background;
    margin-bottom: 2px;
    padding: $gap * 2;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    color: $text;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: none;
    }

    &[href]::after {
      margin-left: auto;
      color: $link;
      transform: rotate(135deg);
      width: 9px;
      height: 9px;
      border-top: 3px solid;
      border-left: 3px solid;
      content: "";
      display: inline-block;
    }
  }

  &__container {
    padding: 20px;
    flex: 1 1 auto;
    overflow: hidden;
  }

  &__clickbait {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $gap * 2;
    font-weight: bold;
    font-size: $font-size-big;
    flex-flow: column;
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  &__footer {
    border-top: 1px solid $border;
    padding: $gap $gap * 2;
    background: $background;
    order: 1;
  }
}
