$gap: 20px !default;
$height: 40px !default;
$decoration-size: 3px !default;

$text: rgb(31, 53, 136) !default;
$text-hover: rgb(255, 68, 82) !default;
$text-active: rgb(52, 52, 52) !default;
$decoration: rgb(255, 68, 82) !default;
$separator: #515151 !default;

.tabs {
  background-image: repeating-linear-gradient(
    transparent, transparent $height - 1, $separator $height
  );

  & > &__item {
    display: inline-block;
    padding: 0 $gap;
    text-decoration: none;
    height: $height;
    line-height: $height;
    box-sizing: border-box;
    background: none;
    color: $text;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    outline: 0;

    &:hover {
      color: $text-hover;
    }
  }

  &__content {
    display: none;
    padding-top: $gap * 2;
  }

  &__item#{&}_active {
    color: $text-active;
    box-shadow: inset 0 $decoration-size * -1 0 0 $decoration;
    pointer-events: none;
  }

  &__content#{&}_active {
    display: block;
  }
}
