@use "../../functions";

@use "sass:color";

$gap: functions.px(10) !default;
$background: #FFF !default;
$border-color: #A0A4A8 !default;
$bg-color: #F9F9FA !default;
$radius: functions.px(8) !default;
$mce-color: #25282B !default;
$border-focus: #0E65B7 !default;
$color-text-error: #E93C3C !default;

[data-wysiwyg] {

  &:disabled + .tox {
    opacity: 0.55;
  }

  &:required ~ .textarea__title:after {
    color: $color-text-error;
    content: " *";
  }

  &:required.error ~ .tox {
    border-color: $color-text-error;
  }

  & + .tox {
    border: functions.px(1) solid $border-color;
    border-radius: $radius;

    .tox-toolbar {

      &__primary {
        background: $bg-color;
        min-height: $gap * 3.5;

        .tox-tbtn {
          height: $gap * 2.4;

          svg {
            fill: $border-color;
          }
        }
      }

      &__group {
        padding: 0 $gap;
      }
    }

    .tox-statusbar {
      background: $background;
      border-top: none;
    }

    .tox-icon {
      margin-left: $gap * 0.4;
      margin-top: $gap * 0.4;
    }

    .tox-tbtn {
      cursor: pointer;
      margin: 0;
    }
  }

  //TODO привязать этот класс по фокусу на компоненте

  & + .tox_focus-visible {
    border-color: color.adjust($border-focus, $hue: -3deg, $saturation: -10%, $lightness: 10%);
    caret-color: color.adjust($border-focus, $hue: -3deg, $saturation: -10%, $lightness: 10%);
  }
}

.tox:not(:root) .tox-edit-area__iframe {
  background: $background;
}

.tox:not(:root) .mce-content-body {
  color: $mce-color;
}
