@use "colors";

$colors: () !default;

.coloring {
  @each $color, $value in $colors {
    @if (colors.$colors != 1) {
      &_stroke-#{$color}-blind-only {
        stroke: $value;
      }

      &_fill-#{$color}-blind-only {
        fill: $value;
      }
    }

    &_stroke-#{$color} {
      stroke: $value;
    }

    &_fill-#{$color} {
      fill: $value;
    }
  }
}
